<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->	
			
			<!-- Modal -->
			<div class="modal fade" id="mdResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">
								결제하기
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="m-widget12">
								<div class="m-widget12__item">
									<span class="m-widget12__text1">
										기본 가격
										<br>
										<span>
											1,000 P
										</span>
									</span>
									<span class="m-widget12__text2">
										경매 종류
										<br>
										<span>
											일 반
										</span>
									</span>
								</div>
								<div class="m-widget12__item">
									<span class="m-widget12__text1">
										기 간
										<br>
										<span>
											1일 ( 24시간 )
										</span>
									</span>
									<span class="m-widget12__text2">
										글자 색상
										<br>
										<span>
											검 정
										</span>
									</span>
								</div>
								<div class="m-widget12__item">
									<span class="m-widget12__text1">
										글자 굵게
										<br>
										<span>
											없 음
										</span>
									</span>
									<div class="m-widget12__text2">
										<div class="m-widget12__desc">
											아이콘
										</div>
										<br>
										<span>
											없 음
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="mdOK">
								등 록
							</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">
								취 소
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end:: Modal -->
			
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
		            <!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									구매 등록구매 등록
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												구매
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												구매 등록 
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
					<!-- BEGIN: 컨텐츠 -->
					<div class="m-content">
						<div class="row">
							<div class="col-xl-3">
								<!--begin-->
								<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet" style="height: 100%">
										<!--begin::Form-->
										<form class="m-form m-form--fit m-form--label-align-right">
											<div class="m-portlet__body">
												<div class="form-group m-form__group m--margin-top-10">
													<label for="exampleInputEmail1">
														코인 검색
													</label>
													<input type="text" class="form-control m-input m-input--air" id="inputCoinName">
												</div>
												<div class="form-group m-form__group">
													<label for="exampleInputEmail1">
														코인 수량
													</label>
													<input type="text" class="form-control m-input m-input--air" id="inputCoinCount">
												</div>
												<div class="form-group m-form__group">
													<label for="exampleInputPassword1">
														매매기준가 
													</label>
													<input type="test" class="form-control m-input m-input--air" id="inputCoinPrice">
												</div>
												<div class="form-group m-form__group">
													<label for="exampleInputPassword1">
														최소 거래수량
													</label>
													<input type="test" class="form-control m-input m-input--air" id="inputStartCoinPrice">
												</div>
												<div class="form-group m-form__group">
													<label for="exampleInputPassword1">
														최소거래금액
													</label>
													<input type="test" class="form-control m-input m-input--air" id="inputStartCoinPrice">
												</div>
												<div class="form-group m-form__group">
													<label for="exampleTextarea">
														거래조건
													</label>
													<textarea class="form-control m-input m-input--air" id="textDealDesc" rows="7"></textarea>
												</div>
												<div class="form-group m-form__group">
													<label class="m-checkbox">
														<input type="checkbox">
														<p>다음 거래 등록시 해당 등록내용 재활용하기</p> 
														<span></span>
													</label>
												</div>
											</div>
										</form>
									</div>
								</div>
								<!--end-->
							</div>
							<div class="col-xl-6">
								<!--begin:: Widgets/Best Sellers-->
								<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													구매 등록 유료 옵션
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
			
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-form__group form-group">
											<label for="">
												구매 등록 종류
											</label>
											<div class="m-radio-inline">
												<label class="m-radio">
													<input type="radio" name="radioSelecttype" value="1" checked>
													일 반
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="radioSelecttype" value="2">
													급 구매
													<span></span>
												</label>
											</div>
											<span class="m-form__help">
												급 구매 선택 시, 경매 목록 최상단에 노출됩니다.
											</span>
										</div>
										<div class="m-form__group form-group" id="divSelectnomal">
											<label for="">
												기 간
											</label>
											<div class="m-radio-inline">
												<label class="m-radio">
													<input type="radio" name="example_3" value="1" checked>
													기 본
													<span></span>
												</label>
												<label class="m-radio">
												<input type="radio" name="radioSelectTime" value="2">
													3 일 ( 1,500P 사용 )
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="radioSelectTime" value="3">
													7 일 ( 3,000P 사용 )
													<span></span>
												</label>
											</div>
										</div>
										<div class="m-form__group form-group">
											<label for="">
												글자 색상
											</label>
											<div class="m-radio-inline">
												<label class="m-radio">
													<input type="radio" name="radioSelectFontcolor" value="0" checked>
													<p>검 정</p> 
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="radioSelectFontcolor" value="1">
													<p style="color: red">빨 강 ( 500P 사용 )</p>
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="radioSelectFontcolor" value="2">
													<p style="color: blue">파 랑 ( 500P 사용 )</p>
													<span></span>
												</label>
											</div>
										</div>
										<div class="m-form__group form-group">
											<label class="m-checkbox">
												<input type="checkbox">
												<p><strong>글자색 굵게 표시 ( 500P 사용 )</strong></p> 
												<span></span>
											</label>
										</div>
										<div class="m-form__group form-group">
											<label for="">
												아이콘
											</label>
											<div class="m-radio-inline">
												<label class="m-radio">
													<input type="radio" name="radioSelecticon" value="0" checked>
													없 음
													<span></span>
												</label>

												<label class="m-radio">
													<input type="radio" name="radioSelecticon" value="1">
													<img src="/assets/img/icon/like_s.png" alt="">
													좋아요 ( 500P 사용 )
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="radioSelecticon" value="2">
													<img src="/assets/img/icon/hot_s.png" alt="">
													HOT ( 500P 사용 )
													<span></span>
												</label>
											</div>
										</div>
										<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit" style="text-align: right">
											<div class="m-form__actions m-form__actions--solid">
												<div class="row">
													<div class="col-lg-2"></div>
													<div class="col-lg-10">
														<button type="reset" class="btn btn-success" id="btnComplet">
															등 록
														</button>
														<button type="reset" class="btn btn-secondary">
															취 소
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end:: Widgets/Best Sellers-->
							</div>
							<div class="col-xl-3">
								<!--begin-->
								<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
									<div class="m-portlet__body">
										
									</div>
								</div>
								<!--end-->
							</div>
						</div>
						<!-- END: 컨텐츠 -->
					</div>
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->




	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
        <!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');   
				$("#aTopMenu2").addClass("  m-menu__item--active  m-menu__item--active-tab");      
            });

            // $(".btn-primary").on("click", function(){
            //     location.href = "coin_community_write.html";
            // })

            $("#html_table").on("click", function(){
                var tr = $(this);
                var td = tr.children();

                // if (confirm(td.eq(0).text() + " 번 글을 수정하시겠습니까?")) {
                    // location.href = "board_notice_edit.html?index=" + td.eq(0).text();
                    location.href = "coin_community_detail.html";
                // }
            })

			// radio change 이벤트
			// $("input[name=radioSelecttype]").change(function() {
			// 	var radioValue = $(this).val();
			// 	if (radioValue == "1") {
			// 		console.log("1");
			// 		$("#divSelectnomal").css("display", "");
			// 		$("#divSelectquick").css("display", "none");
			// 	} else if (radioValue == "2") {
			// 		console.log("2");
			// 		$("#divSelectnomal").css("display", "none");
			// 		$("#divSelectquick").css("display", "");
			// 	} 
			// });
			
			$("#btnComplet").on("click", function(){
				$("#mdResult").modal();
			})

			$("#mdOK").on("click", function(){
				if (confirm("등록 하시겠습니까?")) {
					alert("등록 되었습니다.");
					location.href="/auction_list";
				}
			})
			
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
