<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->		
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
		            <!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									구매 목록 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												구매
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												구매 목록 
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
                    <!-- BEGIN: 컨텐츠 -->
                    <div class="m-content">
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-8">
								<div class="m-portlet m-portlet--mobile" style="width:100%">
									<!-- <a href="#"><img class="banner" src="http://via.placeholder.com/1700x100" style="width:100%"></a> -->
									<div class="m-portlet__body">
										<div class="m-portlet m-portlet--mobile">
											<div class="m-portlet__head">
												<div class="m-portlet__head-caption">
													<div class="m-portlet__head-title">
														<h3 class="m-portlet__head-text">
															
														</h3>
													</div>
												</div>
												<div class="m-portlet__head-tools">
													<ul class="m-portlet__nav">
														<li class="m-portlet__nav-item">
															<a href="/buy_request" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
																<span>
																	<i class="la la-cart-plus"></i>
																	<span>
																		구매 등록
																	</span>
																</span>
															</a>
														</li>
														<li class="m-portlet__nav-item"></li>
													</ul>
												</div>
											</div>
											<div class="m-portlet__body">
												<!--begin: Datatable -->
												<table class="table table-striped- table-bordered table-hover table-checkable display nowrap" id="m_table_1">
													<thead>
														<tr>
															<th style="width: 5%"></th>
															<th style="width: 65%">제 목</th>
															<th style="width: 10%">작성자</th>
															<th style="width: 20%">작성 시간</th>
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4">
							</div>
						</div>
						<!--End::Section-->
                    </div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<% include footer.ejs %>
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->				
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/demo/default/custom/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<script src="/board/datatable_sell.js" type="text/javascript"></script>
		<script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');     
				$("#aTopMenu2").addClass("  m-menu__item--active  m-menu__item--active-tab");    
            });

            // $(".btn-primary").on("click", function(){
            //     location.href = "coin_community_write.html";
            // })

            $("#html_table").on("click", function(){
                var tr = $(this);
                var td = tr.children();

                // if (confirm(td.eq(0).text() + " 번 글을 수정하시겠습니까?")) {
                    // location.href = "board_notice_edit.html?index=" + td.eq(0).text();
                    location.href = "sell_list_detail.html";
                // }
            })

			$("#btnTemp").on("click", function(){
				location.href = "sell_list_detail.html";
			})
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
