<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->	
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
		            <!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									코인 목록 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												코인정보
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												코인 목록 
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
                    <!-- BEGIN: 컨텐츠 -->
                    <div class="m-content">
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-6">
								<!--begin::Section-->
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<h3 class="m-portlet__head-text">
												상장 암호화폐 
											</h3>
										</div>
									</div>
								</div>
								<div class="m-section m-section--last">
									<div class="m-section__content">
										<!--begin::Preview-->
										<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
											<div class="m-demo__preview">
												<div class="m-nav-grid">
													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/1_bitcoin.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Bitcoin
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/2_ethereum.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Ethereum
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/3_Ripple.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Ripple
															</span>
														</a>
													</div>
													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/4_BitcoinCash.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Bitcoin Cash
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/6_Litecoin.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Litecoin
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/EOS.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																EOS
															</span>
														</a>
													</div>

													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/8_Stellar.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Stellar
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/9_IOTA.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																IOTA
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/10_NEO.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																NEO
															</span>
														</a>
													</div>
													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/11_TRON.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																TRON
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/12_Monero.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Monero
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
										
															<img src="/assets/img/coin/13_Dash.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Dash
															</span>
														</a>
													</div>
													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/17_EthereumClassic.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Ethereum Classic
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/18_OmiseGO.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																OmiseGO
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
										
															<img src="/assets/img/coin/21_ICON.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																ICON
															</span>
														</a>
													</div>

												</div>
											</div>
										</div>
										<!--end::Preview-->
									</div>
								</div>
								<!--end::Section-->
							</div>
							<div class="col-xl-6">
								<!--begin::Section-->
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<h3 class="m-portlet__head-text">
												비상장 암호화폐
											</h3>
										</div>
									</div>
								</div>
								<div class="m-section m-section--last">
									<div class="m-section__content">
										<!--begin::Preview-->
										<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
											<div class="m-demo__preview">
												<div class="m-nav-grid">
													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/7_Cardano.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Cardano
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/14_NEM.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																NEM
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/15_Tether.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Tether
															</span>
														</a>
													</div>
													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/16_VeChain.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																VeChain
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/101_meconcash.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Mecon Cash
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/19_Qtum.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Qtum
															</span>
														</a>
													</div>
													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/20_BinanceCoin.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Binance Coin
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/24_Zcash.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Zcash
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/25_Verge.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Verge
															</span>
														</a>
													</div>
													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/28_BitcoinPrivate.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Bitcoin Private
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/29_Nano.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Nano
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/25_Verge.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Bytecoin
															</span>
														</a>
													</div>
													<div class="m-nav-grid__row">
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/31_Populous.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Populous
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/32_Wanchain.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																Wanchain
															</span>
														</a>
														<a href="#" class="m-nav-grid__item">
															<img src="/assets/img/coin/34_BitShares.png" style="width: 50px" alt="">
															<span class="m-nav-grid__text">
																BitShares
															</span>
														</a>
													</div>

												</div>
											</div>
										</div>
										<!--end::Preview-->
									</div>
								</div>
								<!--end::Section-->
							</div>
						</div>
						<!--End::Section-->
                    </div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->

	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
        <!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');        
				$("#aTopMenu4").addClass("  m-menu__item--active  m-menu__item--active-tab");        
            });

            // $(".btn-primary").on("click", function(){
            //     location.href = "coin_community_write.html";
            // })

            $("#html_table").on("click", function(){
                var tr = $(this);
                var td = tr.children();

                // if (confirm(td.eq(0).text() + " 번 글을 수정하시겠습니까?")) {
                    // location.href = "board_notice_edit.html?index=" + td.eq(0).text();
                    location.href = "#";
                // }
            })
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
