<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->	
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
		            <!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									커뮤니티 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												커뮤니티
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												코인 커뮤니티 
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
                    <!-- BEGIN: 컨텐츠 -->
                    <div class="m-content">
						<!--Begin::Section-->
						<div class="row">
                            <!--begin::Form-->
							<form class="m-form m-form--fit m-form--label-align-right" style="width: 100%; height: 100%">
								<div class="m-portlet__body">
									<div class="m-portlet m-portlet--tab">
										<div class="m-portlet__head">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text">
														게시글 상세내용 제목
													</h3>
												</div>
											</div>
										</div>
										<div class="m-portlet__body">
											게시글 상세내용 
										</div>
									</div>
								</div>
							</form>
							<!--end::Form-->
							<!-- <div style="text-align: right">
								<button type="button" class="btn btn-danger" id="btnDelete" onclick="location.href = '/coin_community'">삭 제</button>
								<button type="button" class="btn btn-primary" id="btnEdit" onclick="location.href = '/coin_community_write'">수 정</button>
							</div> -->
							<!-- <div class="m-form m-form--fit m-form--label-align-right" style="width: 100%">
								<div class="input-group">
									<input type="text" class="form-control m-input" aria-describedby="btnAddreply" id="inputAddreply">
									<div class="input-group-append">
										<span class="input-group-text" id="btnAddreply">
											댓글 달기
										</span>
									</div>
								</div> -->
							</div>
						</div>
						<div class="row">
							<div class="m-form m-form--fit m-form--label-align-right"  style="width: 100%;">
								<!--begin:: Widgets/Support Tickets -->
								<div class="m-portlet m-portlet--full-height">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													댓 글
												</h3>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="input-group" style="margin-bottom: 50px">
											<input type="text" class="form-control m-input" aria-describedby="btnAddreply" id="inputAddreply">
											<div class="input-group-append">
												<span class="input-group-text" id="btnAddreply">
													댓글 달기
												</span>
											</div>
										</div>
									<div class="m-widget3" id="divReply">
									</div>
								</div>
								<!--end:: Widgets/Support Tickets -->
							</div>
						</div>
						<!--End::Section-->
                    </div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->

	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
		<!-- begin::Bootstrap -->
		<!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
		<!-- end::Bootstrap -->
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="/assets/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');     
				$("#aTopMenu4").addClass("  m-menu__item--active  m-menu__item--active-tab");    
            });

            // $("#btnDelete").on("click", function(){
			// 	if (confirm("게시글을 삭제 하시겠습니까?")) {
			// 		alert("글이 삭제되었습니다.");
			// 		location.href = "/coin_community";	
			// 	}
			// })
			
			// $("#btnEdit").on("click", function(){
			// 	if (confirm("수정 하시겠습니까?")) {
			// 		location.href = "/coin_community_write";	
			// 	}
			// })
			
			$("#btnAddreply").on("click", function(){
				if (confirm("댓글을 등록하시겠습니까?")) {
					var divReply = "";
					divReply += "<div class='m-widget3__item'>";
					divReply += "	<div class='m-widget3__header'> ";
					divReply += "		<div class='m-widget3__user-img'> ";
					divReply += "			<img class='m-widget3__img' src='assets/img/users/images.png' alt=''> ";
					divReply += "		</div> ";
					divReply += "		<div class='m-widget3__info'> ";
					divReply += "			<span class='m-widget3__username'> ";
					divReply += "				작 성 자 ";
					divReply += "			</span> <a href='#' onclick='fnDeleteReply();'>삭제하기</a>";
					divReply += "			<br> ";
					divReply += "			<span class='m-widget3__time'> ";
					divReply += "				방 금 ";
					divReply += "			</span> ";
					divReply += "			<span class='m-widget3__status m--font-success'> ";
					divReply += "				";
					divReply += "			</span> ";
					divReply += "		</div> ";
					divReply += "	</div> ";
					divReply += "	<div class='m-widget3__body'> ";
					divReply += "		<p class='m-widget3__text'> ";
					divReply += "		" + $("#inputAddreply").val();
					divReply += "		</p> ";
					divReply += "		</div> ";		
					divReply += "	</div> ";
					divReply += "</div> ";
					
					$("#divReply").append(divReply);
				}
			})
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
