<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->	
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									FAQ 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												고객센터
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div>
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
				<!-- BEGIN: 컨텐츠 -->
				<div class="m-content">
					<!--Begin::Section-->
					<div class="row">
						<!--begin::Form-->
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="row">




									<div class="col-xl-3">
										<div class="m-tabs" data-tabs="true" data-tabs-contents="#m_sections">
											<ul class="m-nav m-nav--active-bg m-nav--active-bg-padding-lg m-nav--font-lg m-nav--font-bold m--margin-bottom-20 m--margin-top-10 m--margin-right-40"
											    id="m_nav" role="tablist">
												<li class="m-nav__item">
													<a class="m-nav__link m-tabs__item m-tabs__item--active" data-tab-target="#m_section_1" href="#">
														<span class="m-nav__link-text">
															코인25
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a class="m-nav__link  m-tabs__item" data-tab-target="#m_section_2" href="#">
														<span class="m-nav__link-text">
															거 래
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a class="m-nav__link  m-tabs__item" data-tab-target="#m_section_4" href="#">
														<span class="m-nav__link-text">
															포인트
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a class="m-nav__link  m-tabs__item" data-tab-target="#m_section_5" href="#">
														<span class="m-nav__link-text">
															광 고
														</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a class="m-nav__link  m-tabs__item" data-tab-target="#m_section_6" href="#">
														<span class="m-nav__link-text">
															회 원
														</span>
													</a>
												</li>
												<li class="m-nav__item">
											</ul>
										</div>
									</div>
									<div class="col-xl-9">
										<div class="m-tabs-content" id="m_sections">
											<!--begin::Section 1-->
											<div class="m-tabs-content__item m-tabs-content__item--active" id="m_section_1">
												<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
													COIN25
												</h4>
												<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_1_content">
													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_1_content_1_head" data-toggle="collapse" href="#m_section_1_content_1_body">
															<span class="m-accordion__item-title">
																COIN25 암호화폐 거래중개소는 어떤 거래를 할 수 있나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse show" id="m_section_1_content_1_body" role="tabpanel" aria-labelledby="m_section_1_content_1_head"
														    data-parent="#m_section_1_content">
															<div class="m-accordion__item-content">
																<p>
																	COIN25는 상장 및 비상장 암호화폐를 안전하게 개인간 거래를 할수 있게 중개해 주는 P2P 거래소입니다. COIN25에서는 개인간의 신뢰성 있는 안전한 거래를 위해 구매자와 판매자의 거래단계별 합의시에만 거래가 진행되며,
																	구매자 또는 판매자 한쪽에서 거래 합의를 하지 않으면 거래는 중지됩니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed" role="tab" id="m_section_1_content_2_head" data-toggle="collapse" href="#m_section_1_content_2_body">
															<span class="m-accordion__item-title">
																COIN25 에스크로는 어떤 기능인가요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse" id="m_section_1_content_2_body" role="tabpanel" aria-labelledby="m_section_1_content_2_head"
														    data-parent="#m_section_1_content">
															<div class="m-accordion__item-content">
																<p>
																	거래 진행시 구매자의 구매금액을 COIN25에서 안전하게 보관한 후 판매자가 구매자에게 코인이 정확히 전송된 것이 확인되면 판매자에게 거래수수료를 제외한 판매금액을 입금해주는 에스크로 기능을 통해 안전한 거래를 돕습니다.
																	거래진행동안 판매자 및 구매자는 단계별 진행 사항을 문자로 확인할 수 있습니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->
												</div>
											</div>
											<!--begin::Section 1-->
											<!--begin::Section 2-->
											<div class="m-tabs-content__item" id="m_section_2">
												<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
													거 래
												</h4>
												<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_2_content">
													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_2_content_1_head" data-toggle="collapse" href="#m_section_2_content_1_body">
															<span class="m-accordion__item-title">
																거래수수료는 어떻게되나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse show" id="m_section_2_content_1_body" role="tabpanel" aria-labelledby="m_section_2_content_1_head"
														    data-parent="#m_section_2_content">
															<div class="m-accordion__item-content">
																<p>
																	구매자의 거래 수수료는 무료입니다. 판매자는 거래금액의 1%를 부과합니다. 판매자의 거래수수료는 구매자의 구매금액을 COIN25에서 판매자에게 거래금액 계좌이체시 수수료를 제하고 입금해드립니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->

													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_2_content_2_head" data-toggle="collapse" href="#m_section_2_content_2_body">
															<span class="m-accordion__item-title">
																암호화폐 판매/구매 등록은 어떻게 하나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse show" id="m_section_2_content_2_body" role="tabpanel" aria-labelledby="m_section_2_content_2_head"
														    data-parent="#m_section_2_content">
															<div class="m-accordion__item-content">
																<p>
																	판매(구매)등록에서 판매(구매)하고자 하는 코인명 선택, 기준가격, 코인수량, 최소거래수량/가격, 거래종료일을 입력하면 판매(구매)등록이 되고 포인트는 차감됩니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->

													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_2_content_3_head" data-toggle="collapse" href="#m_section_2_content_3_body">
															<span class="m-accordion__item-title">
																암호화폐 경매방식은 어떻게 되나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse show" id="m_section_2_content_3_body" role="tabpanel" aria-labelledby="m_section_2_content_3_head"
														    data-parent="#m_section_2_content">
															<div class="m-accordion__item-content">
																<p>
																	판매자가 정해진 수량의 판매조건을 등록하여, 다수의 구매자 입찰을 통해 이익을 증대시킬 수 있는 판매자 중심 거래 방식입니다. 경매시 판매자는 최소 입찰가격, 경매마감일, 경매수량, 시작가격, 입찰단위를 입력합니다.
																	다수의 구매자가 입찰에 참가하고 최고금액으로 경매금액이 낙찰이 됩니다. 최종 낙찰자와 판매자가 매칭되어 거래가 이루어집니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->

													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed-" role="tab" id="m_section_2_content_4_head" data-toggle="collapse" href="#m_section_2_content_4_body">
															<span class="m-accordion__item-title">
																암호화폐의(상장/비상장 코인) 모든 종류를 거래 할 수 있나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse show" id="m_section_2_content_4_body" role="tabpanel" aria-labelledby="m_section_2_content_4_head"
														    data-parent="#m_section_2_content">
															<div class="m-accordion__item-content">
																<p>
																	모든 코인을 등록하여 개인간에 거래를 할 수 있습니다. 원하시는 코인이 없을 경우에는 코인등록신청을 하시면됩니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->
												</div>
											</div>
											<!--begin::Section 2-->
											
											<div class="m-tabs-content__item" id="m_section_4">
												<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
													포인트
												</h4>
												<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_4_content">
													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed" role="tab" id="m_section_4_content_1_head" data-toggle="collapse" href="#m_section_4_content_1_body">
															<span class="m-accordion__item-title">
																포인트(Point)는 어디에 사용되나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse" id="m_section_4_content_1_body" role="tabpanel" aria-labelledby="m_section_4_content_1_head"
														    data-parent="#m_section_4_content">
															<div class="m-accordion__item-content">
																<p>
																	포인트는 거래등록 광고 게재시 사용됩니다. 광고게재시간 및 기간, 위치에 따라 금액이 차이가납니다. 보유한 포인트에서 등록시 차감됩니다. 실제 거래 가능한 내역만 등록하시길 바랍니다. 등록 오류에 대한 포인트 환불은
																	불가합니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed" role="tab" id="m_section_4_content_2_head" data-toggle="collapse" href="#m_section_4_content_2_body">
															<span class="m-accordion__item-title">
																포인트(Point)는 어떻게 얻을 수 있나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse" id="m_section_4_content_2_body" role="tabpanel" aria-labelledby="m_section_4_content_2_head"
														    data-parent="#m_section_4_content">
															<div class="m-accordion__item-content">
																<p>
																	포인트는 최초 회원가입시 1회 지급되며, 회원이 다른 회원을 추천했을때 추천인은 2000P, 추천 가입회원은 1000P를 얻을 수 있습니다. 추천을 많이 할수록 포인트 보상을 받을 수 있으며, 포인트 충전을 위해 입금계좌에
																	원하는 충전금액을 입금하면 얻을 수 있습니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->
												</div>
											</div>
											<!--begin::Section 3-->

											<!--begin::Section 3-->
											<div class="m-tabs-content__item" id="m_section_5">
												<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
													배너 광고
												</h4>
												<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_5_content">
													<!--begin::Item-->
													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed" role="tab" id="m_section_5_content_1_head" data-toggle="collapse" href="#m_section_5_content_1_body">
															<span class="m-accordion__item-title">
																배너광고는 어떻게 진행하며 비용은 어떻게 되나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse" id="m_section_5_content_1_body" role="tabpanel" aria-labelledby="m_section_5_content_1_head"
														    data-parent="#m_section_5_content">
															<div class="m-accordion__item-content">
																<p>
																	본사 마케팅 담당자 문의후 광고단가 금액 게재위치들을 상담하여 자세한 사항을 안내해 드립니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->
												</div>
											</div>
											<!--begin::Section 3-->

											<!--begin::Section 3-->
											<div class="m-tabs-content__item" id="m_section_6">
												<h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">
													회 원
												</h4>
												<div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_5_content">
													<!--begin::Item-->
													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head" role="tab" id="m_section_3_content_1_head" data-toggle="collapse" href="#m_section_3_content_1_body">
															<span class="m-accordion__item-title">
																회원구분은 어떻게 되나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse show" id="m_section_3_content_1_body" role="tabpanel" aria-labelledby="m_section_3_content_1_head"
														    data-parent="#m_section_3_content">
															<div class="m-accordion__item-content">
																<p>
																	회원에는 개임 및 지점 회원이 있습니다. 개인간 거래만을 원하시는 경우는 개인회원으로 가입을 하시면됩니다. 지점회원은 영업활동을 통해 수익을 얻고 싶은 분들은 본사 문의 하시기 바랍니다. 자격요건이 확인 후 계약을 통해
																	지점회원으로 가입할 수 있습니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed" role="tab" id="m_section_6_content_1_head" data-toggle="collapse" href="#m_section_6_content_1_body">
															<span class="m-accordion__item-title">
																로그인이 안되면 어떻게 하나요?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse" id="m_section_6_content_1_body" role="tabpanel" aria-labelledby="m_section_6_content_1_head"
														    data-parent="#m_section_6_content">
															<div class="m-accordion__item-content">
																<p>
																	아이디나 비밀번호를 정확히 입력해주세요 만약 잊어버렸다면 아이디나 비밀번호 찾기를 통해 정확한 정보를 입력해주세요. 확인할 방법이 없다면 고객센터로 문의주시기 바랍니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->

													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed" role="tab" id="m_section_6_content_2_head" data-toggle="collapse" href="#m_section_6_content_2_body">
															<span class="m-accordion__item-title">
																계정인증이 관련으로 이메일이 오지 않아요
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse" id="m_section_6_content_2_body" role="tabpanel" aria-labelledby="m_section_6_content_2_head"
														    data-parent="#m_section_6_content">
															<div class="m-accordion__item-content">
																<p>
																	스팸메일로 코인25 도메인이 설정된 경우 스팸메일목록을 조회하신 후 코인25를 목록에서 해제해주세요. 특히 스팸메일 설정이 되지 않았음에도 불구하고 이메일 수신이 안될 경우, 도메인 메일 서버 자체의 문제일 가능성이
																	높습니다. 이 경우 다른 이메일 주소를 이용하실 것을 권장 드립니다
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->

													<div class="m-accordion__item">
														<div class="m-accordion__item-head collapsed" role="tab" id="m_section_6_content_3_head" data-toggle="collapse" href="#m_section_6_content_3_body">
															<span class="m-accordion__item-title">
																회원을 탈퇴 방법은?
															</span>
															<span class="m-accordion__item-mode"></span>
														</div>
														<div class="m-accordion__item-body collapse" id="m_section_6_content_3_body" role="tabpanel" aria-labelledby="m_section_6_content_3_head"
														    data-parent="#m_section_6_content">
															<div class="m-accordion__item-content">
																<p>
																	메뉴 항목 하단에 회원탈퇴를 누르면 됩니다. 단, 회원 탈퇴 시 재가입을 할 수 없으며 본인의 모든 정보가 삭제되어 복구가 불가능합니다.
																</p>
															</div>
														</div>
													</div>
													<!--end::Item-->
												</div>
											</div>
											<!--begin::Section 3-->
										</div>
									</div>
								</div>
							</div>
						</form>
						<!--end::Form-->
					</div>
				</div>
				<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->

	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/demo/default/custom/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="/assets/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');    
				$("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");            
            });

            // $(".btn-brand").on("click", function(){
			// 	if (confirm("게시글을 등록하시겠습니까?")) {
			// 		alert("글이 등록되었습니다.");
			// 		location.href = "/coin_community";	
			// 	}
			// })
			
			// $(".btn-secondary").on("click", function(){
			// 	if (confirm("등록을 취소 하시겠습니까?")) {
			// 		location.href = "/coin_community";	
			// 	}
            // })
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
