<footer class="m-grid__item m-footer ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-footer__wrapper">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                    <span class="m-footer__copyright">
                        &copy;2018 COIN25.
                        </a>
                    </span>
                </div>
                <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">

                    <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                        <li class="m-nav__item">
                            <a href="#" class="m-nav__link" data-toggle="modal" data-target="#m_modal_1">
                                <span class="m-nav__link-text">
                                    회사소개
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="/faq"  class="m-nav__link">
                                <span class="m-nav__link-text">
                                    자주하는질문(FAQ)
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="/terms" class="m-nav__link">
                                <span class="m-nav__link-text">
                                    이용약관
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="/privacy" class="m-nav__link">
                                <span class="m-nav__link-text">
                                    개인정보처리방침
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="/notice" class="m-nav__link" data-toggle="m-tooltip" title="고객센터" data-placement="left">
                                <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>