<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->		
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
		<!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									대시보드 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												홈
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												대시보드
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
			<!-- BEGIN: 컨텐츠 -->
					<div class="m-content">
						<!--Begin::Section-->
						<div class="row">

							<div class="col-xl-4">
								<!--begin:: Widgets/Finance Summary-->
								<div class="m-portlet m-portlet--full-height m-portlet--fit  m-portlet--rounded">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													거래소 정보
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
	
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="tab-content">
											<div class="tab-pane active">
												<div class="m-widget12 m-widget12--chart-bottom m--margin-top-10" style="min-height: 450px">
													<div class="m-widget12__item">
														<span class="m-widget12__text1">
															전날 거래량
															<br>
															<span>
																9,6900,000원
															</span>
														</span>
														<span class="m-widget12__text2">
															전날 거래수
															<br>
															<span>
																2120건
															</span>
														</span>
													</div>
													<div class="m-widget12__item">
														<span class="m-widget12__text1">
															현재 회원수
															<br>
															<span>
																243,000명
															</span>
														</span>
														<span class="m-widget12__text2">
															일일 가입자수
															<br>
															<span>
																2,200명
															</span>
														</span>
													</div>
													<div class="m-widget12__chart m-portlet-fit--sides" style="height:290px;">
														<canvas id="m_chart_finance_summary"></canvas>
													</div>
												</div>
											</div>
											<div class="tab-pane"></div>
										</div>
									</div>
								</div>
								<!--end:: Widgets/Finance Summary-->
							</div>
							<div class="col-xl-4">
								<!--begin:: Widgets/Top Products-->
								<div class="m-portlet m-portlet--full-height m-portlet--fit  m-portlet--rounded">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													추천 코인
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
			
										</div>
									</div>
									<div class="m-portlet__body">
										<!--begin::Widget5-->
										<div class="m-widget4 m-widget4--chart-bottom" style="min-height: 480px">
											<div class="m-widget4__item">
												<div class="m-widget4__img m-widget4__img--logo">
													<img src="/assets/img/coin/btc-logo.png" alt="">
												</div>
												<div class="m-widget4__info">
													<span class="m-widget4__title">
														비트코인 / BTC
													</span>
													<br>
													<span class="m-widget4__sub">
														Bitcoin
													</span>
												</div>
												<span class="m-widget4__ext">
													<span class="m-widget4__number m--font-brand">
														450
													</span>
												</span>
											</div>
											<div class="m-widget4__item">
												<div class="m-widget4__img m-widget4__img--logo">
													<img src="/assets/img/coin/eth-logo.png" alt="">
												</div>
												<div class="m-widget4__info">
													<span class="m-widget4__title">
														이더리움 / ETH
													</span>
													<br>
													<span class="m-widget4__sub">
														Ethereum
													</span>
												</div>
												<span class="m-widget4__ext">
													<span class="m-widget4__number m--font-brand">
														320
													</span>
												</span>
											</div>
											<div class="m-widget4__item">
												<div class="m-widget4__img m-widget4__img--logo">
													<img src="/assets/img/coin/btc-logo.png" alt="">
												</div>
												<div class="m-widget4__info">
													<span class="m-widget4__title">
														비트코인 / BTC
													</span>
													<br>
													<span class="m-widget4__sub">
														Bitcoin
													</span>
												</div>
												<span class="m-widget4__ext">
													<span class="m-widget4__number m--font-brand">
														450
													</span>
												</span>
											</div>
											<div class="m-widget4__item">
												<div class="m-widget4__img m-widget4__img--logo">
													<img src="/assets/img/coin/eth-logo.png" alt="">
												</div>
												<div class="m-widget4__info">
													<span class="m-widget4__title">
														이더리움 / ETH
													</span>
													<br>
													<span class="m-widget4__sub">
														Ethereum
													</span>
												</div>
												<span class="m-widget4__ext">
													<span class="m-widget4__number m--font-brand">
														320
													</span>
												</span>
											</div>
										</div>
										<!--end::Widget 5-->
									</div>

								</div>

								<!--end:: Widgets/Top Products-->
							</div>
							<div class="col-xl-4">
								<!--begin:: Widgets/Top Products-->
								<div class="m-portlet m-portlet--full-height m-portlet--fit  m-portlet--rounded">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													주요 ICO
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
			
										</div>
									</div>
									<div class="m-portlet__body">
										<!--begin::Widget5-->
					
										<!--end::Widget 5-->
									</div>

								</div>
								
								<!--end:: Widgets/Top Products-->
							</div>							
						</div>
						<!--End::Section-->




					</div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->


	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			<!-- begin::Quick Nav -->

		<!-- begin::Quick Nav -->	
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
		<!--end::Page Snippets -->   
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
                $('body').removeClass('m-page--loading');         
            });
		</script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
