<!DOCTYPE html>
<html dir="ltr" lang="ko_KR">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="VOIDLINK" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="일등 암호화폐 P2P 거래소">
<link href="/introassets/img/favicon/favicon.ico" rel="icon">

<link href="/introassets/css/external.css" rel="stylesheet">
<link href="/introassets/css/bootstrap.min.css" rel="stylesheet">
<link href="/introassets/css/style.css" rel="stylesheet">


<!-- RS5.0 Main Stylesheet -->
<link rel="stylesheet" type="text/css" href="/introassets/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="/introassets/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="/introassets/revolution/css/navigation.css"> 

<title>COIN25</title>
<link rel="canonical" href="https://coin25.co" />
<meta property="og:locale" content="ko_KR" />
<meta property="og:type" content="article" />
<meta property="og:title" content="코인25 - 일등 암호화폐 P2P 거래소" />
<meta property="og:description" content="암호화폐 P2P 거래소, Cryptocurrency P2P Exchange" />
<meta property="og:url" content="https://coin25.co" />
<meta property="og:site_name" content="COIN25" />
<meta property="article:publisher" content="https://www.facebook.com/myoungjun.kim" />
<meta property="og:image" content="https://dev2.coin25.co/assets/img/logobox.png" />
<meta property="og:image:secure_url" content="https://dev2.coin25.co/assets/img/logobox.png" />
<meta property="og:image:width" content="595" />
<meta property="og:image:height" content="610" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="암호화폐 P2P 거래소, Cryptocurrency P2P Exchange" />
<meta name="twitter:title" content="코인25 - 일등 암호화폐 P2P 거래소" />
<meta name="twitter:site" content="@mj_kim79" />
<meta name="twitter:image" content="https://dev2.coin25.co/assets/img/logobox.png" />
<meta name="twitter:creator" content="@mj_kim79" />
</head>
<body>

	<div id="wrapper" class="wrapper clearfix">
<header id="navbar-spy" class="header header-3 header-transparent header-bordered header-fixed">
	<nav id="primary-menu" class="navbar navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="logo" href="/">
					<img class="logo-light" src="/introassets/img/logo-dark.png" alt="COIN25 logo">
					<img class="logo-dark" src="/introassets/img/logo-dark.png" alt="COIN25 logo">
				</a>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
				<ul class="nav navbar-nav nav-pos-right navbar-left">
				
	<!-- Home Menu -->

	<!-- Blog Menu-->
	<li class="has-dropdown">
	<a href="/faq" class="menu-item">고객센터</a>

	</li>
	<!-- li end -->

	<!-- Portfolio Menu -->
	<li class="has-dropdown mega-dropdown">
	<a href="/login" class="menu-item">로그인</a>

	</li>
	<li class="has-dropdown mega-dropdown">
		<a href="/register" class="menu-item">회원가입</a>
	
		</li>

				
				
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

</header>
<!-- Hero Section
====================================== -->
<section id="slider" class="slider slider-overlay-light">
	<!-- START REVOLUTION SLIDER 5.0 -->
	<div class="rev_slider_wrapper">
		<div id="slider1" class="rev_slider"  data-version="5.0">
			<ul>
				<!-- slide 1 -->
				<li data-transition="zoomout" 
					data-slotamount="default" 
					data-easein="Power4.easeInOut" 
					data-easeout="Power4.easeInOut" 
					data-masterspeed="1000">
					<!-- MAIN IMAGE -->
					<img src="/introassets/img/slide/2.jpg" alt="COIN25"  width="1920" height="1200">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption" 
						data-x="center" data-hoffset="360" 
						data-y="center" data-voffset="-100" 
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
						data-start="750" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on"
						>
						<div class="slide--headline">국내 최대 최다<br><strong>암호화폐 P2P 중개거래소</strong></div>
					</div>
					
					<!-- LAYER NR. 2 -->
					<div class="tp-caption" 
						data-x="center" data-hoffset="230" 
						data-y="center" data-voffset="40" 
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
						data-start="1000" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on"
						>
						<div class="slide--bio">쉽고, 빠르고, 안전하게 개인간<br>상장 및 비상장 코인을 거래할 수 있습니다.</div>
					</div>

			
				</li>
				<!-- slide 2-->
				<li data-transition="zoomout" 
					data-slotamount="default" 
					data-easein="Power4.easeInOut" 
					data-easeout="Power4.easeInOut" 
					data-masterspeed="1000">
					<!-- MAIN IMAGE -->
					<img src="/introassets/img/slide/1.jpg" alt="COIN25"  width="1920" height="1200">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption" 
						data-x="center" data-hoffset="-390" 
						data-y="center" data-voffset="-100" 
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
						data-start="750" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on"
						>
						<div class="slide--headline">에스크로를 통한<br><strong>안전한 P2P 거래</strong></div>
					</div>
					
					<div class="tp-caption" 
						data-x="center" data-hoffset="-380" 
						data-y="center" data-voffset="40" 
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
						data-start="1000" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on"
						>
						<div class="slide--bio">거래금액을 안전하게 보관할 수 있는 에스크로 기능을 통해 <br>다양한 코인의 개인간 거래가 가능합니다.</div>
					</div>
		
				</li>
				<!-- slide 3 -->
				<li data-transition="zoomout" 
					data-slotamount="default" 
					data-easein="Power4.easeInOut" 
					data-easeout="Power4.easeInOut" 
					data-masterspeed="1000" class="bg-overlay bg-overlay-dark">
					<!-- MAIN IMAGE -->
					<img src="/introassets/img/slide/3.jpg" alt="COIN25"  width="1920" height="1200">			

				
				</li>


				<!-- slide 4 -->
				<li data-transition="zoomout" 
					data-slotamount="default" 
					data-easein="Power4.easeInOut" 
					data-easeout="Power4.easeInOut" 
					data-masterspeed="1000" class="bg-overlay bg-overlay-dark">
					<!-- MAIN IMAGE -->
					<img src="/introassets/img/slide/4.jpg" alt="COIN25"  width="1920" height="1200">			
					<!-- LAYER NR. 1 -->
					<div class="tp-caption" 
						data-x="center" data-hoffset="-400" 
						data-y="center" data-voffset="-60" 
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
						data-start="750" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on"
						>
						<div class="slide--headline-w"><strong>언제 어디서든</strong><br>간편하고 빠르게 - </div>
					</div>
					
					<!-- LAYER NR. 2 -->
					<div class="tp-caption" 
						data-x="center" data-hoffset="-420" 
						data-y="center" data-voffset="60" 
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
						data-start="1000" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on"
						>
						<div class="slide--bio-w">웹 및 모바일에서 구매자 및 판매자간의 거래현황을<br>언제 어디서든 간편하게 확인할 수 있습니다.</div>
					</div>
					

				</li>

				<!-- slide 5 -->
				<li data-transition="zoomout" 
					data-slotamount="default" 
					data-easein="Power4.easeInOut" 
					data-easeout="Power4.easeInOut" 
					data-masterspeed="1000">
					<!-- MAIN IMAGE -->
					<img src="/introassets/img/slide/5.jpg" alt="COIN25"  width="1920" height="1200">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption" 
						data-x="center" data-hoffset="-320" 
						data-y="center" data-voffset="-100" 
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
						data-start="750" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on"
						>
						<div class="slide--headline-w">블록체인 기반의 <br><strong>새로운 패러다임</strong> 미콘캐시 </div>
					</div>
					
					<!-- LAYER NR. 2 -->
					<div class="tp-caption" 
						data-x="center" data-hoffset="-370" 
						data-y="center" data-voffset="40" 
						data-width="none"
						data-height="none"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
						data-start="1000" 
						data-splitin="none" 
						data-splitout="none" 
						data-responsive_offset="on"
						>
						<div class="slide--bio-w">MeconCash는 온라인 및 모바일 서비스상의 결제, 보상 및 거래에<br>사용되는 자체 암호화폐 플랫폼입니다.</div>
					</div>

			
				</li>



			</ul>
		</div>
		<!-- END REVOLUTION SLIDER -->
	</div>
	<!-- END OF SLIDER WRAPPER -->
</section>
<!-- #hero end -->
<!-- Feature #2
============================================= -->
<section id="feature2" class="feature feature-1 text-center bg-white pb-100">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="heading heading-2 mb-30 text--center">
					<h2 class="heading--title">안전하고 믿을 수 있는 개인간의 거래를 찾고 계셨나요?</h2>

				</div>
			</div><!-- .col-md-8 end -->
		</div>
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
&nbsp;
			</div><!-- .col-md-8 end -->
		</div>
		<div class="row mb-50">
			<!-- Panel #1 -->
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="feature-panel">
					<div >
						<img src="/introassets/img/icon_01_off.png" onmouseover="this.src='/introassets/img/icon_01.png'" 
onmouseout="this.src='/introassets/img/icon_01_off.png'" id="iconx"></a>
					</div>
					<div class="feature--content">
						<h3>철저한 보안</h3>
						<p>에스크로 기능을 통한<br>거래대금 보호</p>
					</div>
				</div><!-- .feature-panel end -->
			</div><!-- .col-md-4 end -->
			
			<!-- Panel #2 -->
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="feature-panel">
					<div >
						<img src="/introassets/img/icon_02_off.png" onmouseover="this.src='/introassets/img/icon_02.png'" 
onmouseout="this.src='/introassets/img/icon_02_off.png'"  id="iconx"></a>
					</div>
					<div class="feature--content">
						<h3>스마트 알람</h3>
						<p>거래 진행에 따른<br>스마트한 알림기능</p>
					</div>
				</div><!-- .feature-panel end -->
			</div><!-- .col-md-4 end -->
			
			<!-- Panel #3 -->
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="feature-panel">
					<div >
						<img src="/introassets/img/icon_03_off.png" onmouseover="this.src='/introassets/img/icon_03.png'" 
onmouseout="this.src='/introassets/img/icon_03_off.png'"  id="iconx"></a>
					</div>
					<div class="feature--content">
						<h3>거래안전성</h3>
						<p>거래실적 및 평판 제공으로<br>상대방에 대한 신뢰성판단</p>
					</div>
				</div><!-- .feature-panel end -->
			</div><!-- .col-md-4 end -->

		
			<!-- Panel #4 -->
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="feature-panel">
					<div >
						<img src="/introassets/img/icon_04_off.png" onmouseover="this.src='/introassets/img/icon_04.png'" 
onmouseout="this.src='/introassets/img/icon_04_off.png'" id="iconx"></a>
					</div>
					<div class="feature--content">
						<h3>다양한 거래 제공</h3>
						<p>매도/매수 등록, 검색, 매칭,<br>경매방식 거래 제공</p>
					</div>
				</div><!-- .feature-panel end -->
			</div><!-- .col-md-4 end -->


	</div><!-- .container end -->
</section><!-- .feature1 end -->


<!-- Footer #1
============================================= -->
<footer id="footer" class="footer footer-1">	
	<!-- Widget Section
	============================================= -->
	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 footer--widget-about">
					<div class="footer--widget-title">
						<h5>회사명: (주)엠엔유</h5>
					</div>
					<div class="footer--widget-content">
						<ul class="list-unstyled mb-0">
							<li><span>대표자명:</span> 차순학</li>
							<li><span>주소:</span> 서울특별시 구로구 디지털로 30길 31, 1005호(구로동)</li>
							<li><span>사업자등록번호:</span> 887-86-007793</li>
							<li><span>통신판매업자번호:</span> 제2018-서울구로-0127호</li>

						</ul>
					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-4 footer--widget-about">
					<div class="footer--widget-title">
						<h5>고객 메일 문의</h5>
					</div>
					<div class="footer--widget-content">
						<ul class="list-unstyled mb-0">

							<li><span>사용문의:</span> cs-help@coin25.co</li>
							<li><span>입출금/정산문의:</span> cs-teller@coin25.co</li>
							<li><span>제휴 및 광고문의:</span> cs-marketing@coin25.co</li>
							<li><span>지사/지점 및 기타문의:</span> cs-etc@coin25.co</li>

						</ul>
					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-4 footer--widget-about">
					<div class="footer--widget-title">
						<h5>고객센터</h5>
					</div>
					<div class="footer--widget-content">
						<h2><a href="tel:1588-1847">1588-1847</a></h2>	

						<ul class="list-unstyled mb-0">

							<li><span>상담시간:</span> 평일 9시 ~ 18시(점심시간: 12-13시)</li>
							<li><span>주의사항:</span> 본사 방문 상담은 진행하지 않습니다.</li>

						</ul>

					</div>

				</div><!-- .col-md-3 end -->

			</div>
		</div><!-- .container end -->
	</div><!-- .footer-widget end -->
	
	<!-- Copyrights
	============================================= -->
	<div class="footer--bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-6">
					<div class="footer--copyright">
						<span>&copy;2018 COIN25. All Rights Reserved.
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-6">
					<div class="footer--links pull-right pull-none-xs">
						<ul class="list-inline mb-0"> 

							<li><a href="/faq">고객센터</a></li>
							<li><a href="/login">로그인/회원가입</a></li>
						</ul>



					</div>
				</div>
			</div>
		</div><!-- .container end -->
	</div><!-- .footer-copyright end -->
</footer>
 </div><!-- #wrapper end -->

														<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
															<div class="modal-dialog modal-dialog-centered" role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title" id="exampleModalLongTitle">
																			코인25 알림
																		</h5>
																		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">
																				&times;
																			</span>
																		</button>
																	</div>
																	<div class="modal-body m-widget19__pic m-portlet-fit--top m-portlet-fit--sides">
																		<img src="/notice/notice.jpg" width="560" border="0">
																	</div>
																	<div class="modal-footer">
									
																		<button type="button" class="btn btn-primary" data-dismiss="modal">
																			닫기
																		</button>
																	</div>
																</div>
															</div>
														</div>

<!-- Footer Scripts
============================================= -->
<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="/introassets/js/plugins.js"></script>
<script src="/introassets/js/functions.js"></script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#m_modal_6').modal('show');
    });
</script>
<!-- RS5.0 Core JS Files -->
<script type="text/javascript" src="/introassets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="/introassets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="/introassets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/introassets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/introassets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/introassets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/introassets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/introassets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/introassets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/introassets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- RS Configration JS Files -->
<script src="/introassets/js/rsconfig.js"></script>



</body>
</html>