<!DOCTYPE html>

<html lang="ko" >
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			COIN25
		</title>
		<meta name="description" content="Latest updates and statistic charts">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

        <!--begin::Base Styles -->
		<link href="/assets/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/assets/img/logo/favicon.ico" />
	</head>
	<!-- end::Head -->
    <!-- end::Body -->
		<link href="/assets/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/assets/img/logo/favicon.ico" />
	</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-login m-login--signin  m-login--5" id="m_login" style="background-image: url(assets/img/bg1.jpg);">
				<div class="m-login__wrapper-1 m-portlet-full-height">
					<div class="m-login__wrapper-1-1">
						<div class="m-login__contanier">
							<div class="m-login__content">
								<div class="m-login__logo">
									<a href="/">
										<img src="/assets/img/logo/logo2.png">
									</a>
								</div>
								<div class="m-login__title">
									<h3>
										안전한 암호화폐 P2P 거래소 - 코인25
									</h3>
								</div>
								<div class="m-login__desc">
									아직 회원이 아니시라면 회원가입을 해주세요.
								</div>
								<div class="m-login__form-action">
									<button type="button" id="m_login_signup" class="btn btn-outline-focus m-btn--pill">
										회원가입
									</button>
								</div>
							</div>
						</div>
						<div class="m-login__border">
							<div></div>
						</div>
					</div>
				</div>
				<div class="m-login__wrapper-2 m-portlet-full-height">
					<div class="m-login__contanier">
						<div class="m-login__signin">
							<div class="m-login__head">
								<h3 class="m-login__title">
									코인25 회원 로그인 
								</h3>
							</div>
							<form class="m-login__form m-form" action="/login" method="post">
								<div class="form-group m-form__group">
									<input class="form-control m-input " type="text" placeholder="사용자ID(이메일)" name="username" autocomplete="off" id="username">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input " type="Password" placeholder="비밀번호" name="password" id="password">
								</div>
								<div class="row m-login__form-sub"><!--
									<div class="col m--align-left">
										<label class="m-checkbox m-checkbox--focus">
											<input type="checkbox" name="remember" id="remember">
											ID 기억하기
											<span></span>
										</label>
									</div>
									<div class="col m--align-right">
										<a href="javascript:;" id="m_login_forget_password" class="m-link">
											비밀번호 찾기
										</a>
									</div>-->
								</div>
								<div class="m-login__form-action">
									<button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" >
										로그인
									</button>
								</div>
							</form>
						</div>
						<div class="m-login__signup">
							<div class="m-login__head">
								<h3 class="m-login__title">
									코인25 회원가입
								</h3>
								<div class="m-login__desc">
									코인25 서비스를 사용하기 위한 회원가입을 해주세요:
								</div>
							</div>
							<form class="m-login__form m-form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="이름(실명)" name="fullname" id="fullname">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="이메일주소" name="email" autocomplete="off" id="email">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="password" placeholder="비밀번호" name="joinpassword" id="joinpassword">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="password" placeholder="비밀번호 확인" name="rpassword" id="rpassword">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="휴대폰연락처" name="tel" id="tel" autocomplete="off"><button type="button" class="btn btn-primary" id="checkNum">인증요청</button>
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="인증번호" name="telauth" id="telauth" autocomplete="off">
									<input type="hidden" id="checkSmsValue" value=""/> 
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input " type="text" placeholder="추천인 연락처" name="friendtel" id="friendtel" autocomplete="off">
									<input type="hidden" id="hdfriendtel"/>
									<input type="hidden" id="hdtype"/>
									<input type="hidden" id="hdjijum_contact"/>
								</div>


								<div class="m-login__form-sub">
									<label class="m-checkbox m-checkbox--focus">
										<input type="checkbox" name="agree" id="agree">
										<a href="#" class="m-link m-link--focus" data-toggle="modal" data-target="#m_modal_1_2">
											회원가입약관 동의함
										</a> 
										<span></span>
									</label>
									<span class="m-form__help"></span>
								</div>
								<div class="m-login__form-action">
									<button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" href="">
										회원가입
									</button>
									<button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
										취소
									</button>
								</div>
							</form>
						</div>		
						<div class="m-login__forget-password">
							<div class="m-login__head">
								<h3 class="m-login__title">
									비밀번호를 잊어버리셨나요 ?
								</h3>
								<div class="m-login__desc">
									회원님이 가입하신 이메일을 입력하시면 새 비밀번호를 보내드립니다:
								</div>
							</div>
							<form class="m-login__form m-form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="이메일주소" name="email" id="m_email" autocomplete="off">
								</div>
								<!--div class="m-login__form-action"-->
								<div class="m-login__form-action">
									<button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
										비밀번호요청
									</button>
									<button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom ">
										취소
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						회원 이용 약관
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
						<p>
						제1장 총칙<br>
						제1조 [목적]<br>
						본 약관은 (주)엠엔유(이하 '회사')가 제공하는 코인25(COIN25) 및 코인25(COIN25) 관련 암호화폐(이하 ‘암호화폐’, ‘가상화폐’,'가상통화' 등의 명칭을 포괄하여 ‘암호화폐’라 한다) 거래 서비스를 이용하는 데에 필요한 "회사"와 "이용자" 사이의 권리, 
						의무 및 책임사항, 이용조건 및 절차 등 기본적인 사항을 규정함을 목적으로 한다.
						<br><br>
						제2조 [정의]<br>
						이 약관에서 사용하는 용어의 정의는 다음과 같다.<br>
						① "회사”(이)라 함은 암호화폐 중개거래서비스를 제공하는 자를 말한다.<br>
						② “이용자”라 함은 "회사”의 사이트에 접속하여 이 약관에 따라 "회사”이(가) 제공하는 암호화폐 중개거래서비스를 이용하는 회원 및 비회원(게스트)을 말한다.<br>
						③ “회원”이라 함은 본 약관에 동의하여 "회사”와(과) 이용계약을 체결 및 회원가입을 하고 “이용자” 아이디(ID)를 부여받은 “이용자”로서 "회사”의 정보를 계속적으로 제공받으며 "회사”이(가) 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말한다.<br>
						④ “비회원”이라 함은 “회원”이(게스트) 아니면서 "회사”이(가) 제공하는 서비스를 이용하는 자를 말합니다.<br>
						⑤ “아이디(ID)”이라 함은 서비스에서 "이용자"를 식별하기 위하여 미리 등록한 문자, 특수문자, 숫자 등의 조합으로 코인25 서비스에서는 이메일 주소로 표시합니다. "이용자"가 본 약관에 동의하고 "이용자"의 계정과 비밀번호를 등록한 후 필요한 경우 "회사"가 요구한 이메일 주소 또는 휴대전화번호 본인확인 서비스를 통하여 "이용자"가 본인 인증 절차를 이행해야만 생성된다.<br>
						⑥ “비밀번호(PASSWORD)”라 함은 “회원”이 부여받은 “아이디”와 일치되는 “회원”임을 확인하고 비밀보호를 위해 “회원” 자신이 정한 문자 또는 숫자의 조합을 말한다.<br>
						⑦ “암호화폐”라 함은 비트코인(BTC), 비트코인 캐시(BCH), 이더리움(ETH), 이더리움 클래식(ETC), 라이트 코인(LTC), 알트코인(잡코인) 등 블록체인 네트워크에서 전자적으로 존재하는 정보로 서비스에서 거래되는 대상을 말한다.<br>
						⑧ “포인트”이라 함은 COIN25 서비스를 이용하기 위하여 서비스 내에서 사용되고, "이용자"가 "회사"의 서비스(광고등록 및 매매서비스)를 이용할 수 있게 "회사"가 인정한 가상의 수단을 말한다.<br>
						⑨ “전자지갑”이라 함은 미콘캐시 및 암호화폐의 "이용자"를 식별할 수 있는 고유 정보로서, "회사"가 "이용자"의 계정에게 이용을 허락하는 고유 정보를 말한다.<br><br>
						
						제3조 [신원정보 등의 제공]<br>
						“회사”은(는) 본 약관의 내용, 상호, 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호, 모사전송번호, 전자우편주소, 사업자등록번호, 통신판매업 신고번호 및 개인정보관리책임자 등을 이용자가 쉽게 알 수 
						있도록 웹/모바일 서비스초기화면에 게시한다. 다만, 약관은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있다<br>
						<br>
						
						제4조 [약관의 효력 및 게시]<br>
						① "회사"가 제공하는 모바일 및 웹페이지에 게시하거나 기타의 방법으로 공지하고, 고객이 본 약관에 동의하여 "회사"의 "이용자"로 가입하면 효력이 발생한다.<br>
						② “회사”은(는) 이 약관을 “회원”이 그 전부를 인쇄할 수 있고 거래과정에서 해당 약관의 내용을 확인할 수 있도록 제공한다.<br>
						③ "회사"는 "회사"가 제공하는 서비스 중 특정 서비스에 대하여는 세부지침 중 개별 서비스 이용약관에 대한 별도의 동의를 요구할 수 있다. 이 경우 "이용자"는 하나의 계정에서 개별 서비스 이용약관에 대하여 자유롭게 동의할 수 있고, 동의한 범위 내에서 
						개별 서비스를 이용할 수 있다.<br><br>
						
						제5조 [약관의 개정 등]<br>
						① “회사”은(는) 온라인 디지털콘텐츠산업 발전법, 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제에 관한 법률 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있다.<br>
						② “회사”이(가) 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 서비스초기화면에 그 적용일자 7일 이전부터 적용일 후 상당한 기간 동안 공지한다. "회사"가 전 항에 따라 개정약관을 공지함과 동시에 공지일로부터 개정약관 
						시행이후 "이용자"가 거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 불구하고, "이용자"의 거부 의사표시가 없는 경우 변경된 약관을 승인한 것으로 간주한다. "이용자"가 개정약관에 동의하지 않을 경우, "이용자"는 이용계약을 
						해지할 수 있고, 이와 별개로 "회사"는 "이용자"를 탈퇴 처리할 수 있다.<br>
						③ “회사”이(가) 약관을 개정할 경우에는 개정약관 공지 후 개정약관의 적용에 대한 “이용자”의 동의 여부를 확인한다.<br>
						④ 본 약관에 규정되지 않은 사항에 대해서는 대한민국의 관련 법령 또는 "회사"가 정한 서비스의 개별 이용약관, 운영정책 및 규칙 등(이하 ‘세부지침’이라 한다)의 규정에 따른다. 또한 본 약관과 세부지침의 내용이 충돌할 경우 세부지침에 따른다.<br>
						<br>
						제6조 [약관의 해석]<br>
						이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 온라인 디지털콘텐츠산업 발전법, 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제에 관한 법률, 정보통신부장관이 정하는 디지털콘텐츠이용자보호지침, 기타 관계법령 또는 상관례에 따른다.<br>
						<br>
						제2장 회원가입<br>
						제7조 [회원가입]<br>
						① 회원가입은 "이용자"가 서비스를 이용하기 위하여 계정을 필요로 하는 경우, “이용자”가 약관의 내용에 대하여 동의를 하고 회원가입신청을 한 후 “회사”이(가) 이러한 신청에 대하여 인증절차를 이행하면 회원가입이 진행된다. "이용자"는 자신의 진실된 
						정보를 기재하여 생성한 계정을 이용하여야 하고, 타인의 개인정보를 도용하거나 또는 이에 준하는 방법으로 관련 법령을 위반하여서는 안된다. 본 약관에 동의하여 가입할 경우, "이용자"는 "회사"의 서비스를 이용할 수 있다. 만약 실명 또는 식별정보를 허위로 기재하거나 타인의 명의를 도용한 경우 이 약관에 의한 "회원"의 권리를 주장할 수 없고, "회사"는 환급 없이 이용계약을 취소하거나 해지할 수 있습니다.<br>
						② 회원가입신청서에는 다음 사항을 기재해야 합니다.<br>
						1. “회원”의 아이디 (전자우편주소:이메일)<br>
						2. 비밀번호(패스워드)<br>
						3. 이름<br>
						4. 생년월일<br>
						5. 전화번호<br>
						③ "회사"는 "이용자"가 제공한 정보가 사실과 일치하는지 여부를 확인하기 위하여 법령에 의하여 허용된 범위에서 전문기관을 통한 실명확인 또는 본인인증을 요청할 수 있다.<br>
						④ “회사”은(는) 상기 “이용자”의 회원가입 후 모든 인증절차 완료를 원칙으로 한다. 다만, “회사”은(는) 다음 각 호에 해당하는 회원에 대해 탈퇴처리를 할 수 있다.<br>
						1. 가입신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우<br>
						2. 실명이 아니거나 타인의 명의를 이용한 경우<br>
						3. 허위의 정보를 기재하거나, “회사“이(가) 제시하는 내용을 기재하지 않은 경우<br>
						4. 이용자의 귀책사유로 인하여 회원가입이 불가능하거나 기타 규정한 제반 사항을 위반하며 가입하는 경우<br>
						⑤ "회사"는 아래와 같은 경우 "이용자"의 계정 신청에도 불구하고 "이용자"의 계정 생성을 유보할 수 있다.<br>
						1. 제공 서비스 설비용량에 현실적인 여유가 없는 경우<br>
						2. 서비스 제공을 위한 기술적인 부분에 문제가 있다고 판단되는 경우<br>
						3. 기타 "회사"가 재정적·기술적으로 유보가 필요하다고 인정하는 경우<br>
						⑥ "회사"는 대한민국 정부의 암호화폐 시장 규제의 일환으로 시행된 입출금계좌실명제도를 준수하기 위하여 "이용자" 1인 1계좌 1계정 정책을 시행하고 있습니다. "이용자"는 본인 명의의 계정을 사용하여야 하고, "회사"와 별도의 합의 없이 2개 이상의 계정을 사용할 수 없다.<br><br>
						
						제8조 [미성년자의 회원가입에 관한 특칙]<br>
						① "회사“은(는) 미성년자 또는 제한능력자의 서비스 이용을 제한한다. "회사"는 미성년자 또는 제한능력자가 "이용자"로 가입하였음을 확인한 경우 해당 "이용자"를 "이용자"의 동의 없이 탈퇴 처리할 수 있다.
						<br><br>
						제9조 [회원정보의 변경]<br>
						① “회원”은 개인정보관리화면을 통하여 언제든지 자신의 개인정보를 열람하고 수정할 수 있다.  다만, "서비스" 관리를 위해 필요한 실명, 계정(ID) 등은 수정이 불가능합니다.<br>
						② “회원”은 회원가입신청 시 기재한 사항이 변경되었을 경우 온라인으로 수정을 하거나 전자우편 기타 방법으로 “회사”에 대하여 그 변경사항을 알려야 한다.<br>
						③ 제2항의 변경사항을 “회사”에 알리지 않아 발생한 불이익에 대하여 “회사”은(는) 절대 책임지지 않는다.<br><br>
						
						제10조 [“회원”의 “아이디” 및 “비밀번호”의 관리에 대한 의무]<br>
						① “회원”의 “아이디”와 “비밀번호”에 관한 관리책임은 “회원”에게 있으며, "이용자" 본인만 이용할 수 있고, 어떠한 경우에도 다른 사람이 "이용자"의 계정을 이용하도록 허락할 수 없다. 그리고 "이용자"는 다른 사람이 "이용자"의 계정을 
						무단으로 사용할 수 없도록 직접 비밀번호 등을 관리하여야 한다. "회원"이 본인의 "계정정보"를 소홀히 관리하거나 제3자에게 이용을 승낙함으로써 발생하는 손해에 대하여는 "회원"에게 책임이 있습니다.<br>
						② “회원”은 “아이디” 및 “비밀번호”가 도용되거나 제3자에 의해 사용되고 있음을 인지한 경우에는 이를 즉시 “회사”에 통지하고 "회사"는 즉시 계정의 이용중단 등의 조치를 취할 수 있습니다.<br>
						③ 제2항의 경우에 해당 “회원”이 “회사”에 그 사실을 통지하지 않거나, 통지한 경우에도 “회사”의 안내에 따르지 않아 발생한 불이익에 대하여 “회사”은(는) 절대 책임지지 않는다.<br>
						④ "이용자"는 서비스 내 설정 화면을 통하여 "이용자"의 정보를 열람하고 수정할 수 있습니다. 다만, 서비스의 제공 및 관리를 위해 필요한 계정, 전화번호, 개인을 식별할 수 있는 일부 정보는 수정이 불가능할 수 있습니다. "이용자"는 서비스 이용 신청시 
						고지한 내용에 변동이 있을 때에, 직접 서비스 내에서 변동된 정보를 수정하거나 이메일, 고객센터를 통하여 "회사"에 변동된 정보의 갱신을 요청하여야 하고, 최신의 정보를 유지하여야 한다.<br>
						⑤ "회사"는 "이용자"가 등록한 계정과 비밀번호 등이 "회사"에 등록된 것과 일치할 경우에는 별도의 확인절차 없이 "이용자"를 "이용자"로 간주합니다.<br>
						⑥ "이용자"의 계정 정보가 제3자에 의하여 도용당하여 불법행위에 이용될 경우, "이용자"는 전기통신금융사기에 의한 피해자 등을 포함한 불법행위로 인하여 손해를 입은 자에 대하여 손해배상의무를 부담할 수 있으므로, 각별히 유의하여야 한다.<br>
						⑦ "회사"가 "이용자"가 서비스 내 정보에 기재한 전자우편, 전화번호 등에게 이용계약에 따른 중요한 내용을 통지하였음에도 불구하고, "이용자"가 이에 따른 의무를 이행하지 아니함으로 인하여 발생하는 불이익은 "이용자"가 부담하여야 한다.<br><br>
						
						제11조 [“회원”에 대한 통지]<br>
						① “회사”이(가) “회원”에 대한 통지를 하는 경우 “회원”이 지정한 전자우편주소로 할 수 있다.<br>
						② “회사”은(는) “회원” 전체에 대한 통지의 경우 7일 이상 “회사”의 게시판에 게시함으로써 제1항의 통지에 갈음할 수 있다. 다만, “회원” 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 제1항의 통지를 한다.<br>
						<br>
						제12조 [회원탈퇴 및 자격 상실 등]<br>
						① “회원”은 “회사”에 언제든지 탈퇴를 요청할 수 있으며 “회사”은(는) 즉시 회원탈퇴를 처리한다.<br>
						② “회원”이 다음 각호의 사유에 해당하는 경우, “회사”은(는) "이용자"의 서비스 이용을 중단하는 등의 적절한 제한을 할 수 있다.<br>
						1. 가입신청 시에 필요한 정보를 입력하지 않거나 허위내용을 등록한 경우<br>
						2. “회사”의 서비스이용대금, 기타 “회사”의 서비스이용에 관련하여 회원이 부담하는 채무를 기일에 이행하지 않는 경우<br>
						3. 다른 사람의 “회사”의 서비스이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우<br>
						4. “회사”을(를) 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우<br>
						5. "이용자"가 다른 사람의 명의나 이메일 주소 등 개인정보를 이용하여 계정을 생성하려 하는 경우<br>
						6. "이용자"의 거주지에서 효력이 있는 대한민국 외의 법률에 따라 본 서비스 이용행위가 해당 법률의 위반을 구성하거나 구성할 현저한 위험이 있는 경우<br>
						7. 미성년자 또는 제한능력자가 "이용자"에 가입한 것으로 확인되는 경우<br>
						8. "이용자"가 서비스를 이용하는 과정에서 대한민국의 법령을 위반한 것이 확인된 경우<br>
						9. 전기통신금융사기 등의 도구로 활용되었거나 전기통신금융사기 등으로 인한 피해금원이 입금 또는 출금된 것으로 확인된 경우<br>
						10. "이용자"의 신청에 따른 계정이 생성되었음에도 불구하고 탈퇴를 신청하거나, 탈퇴 처리가 완료되었음에도 동일한 계정을 신청하는 등의 경우<br>
						11. "이용자"의 개인정보가 유출되었거나 유출된 것으로 판단되는 경우<br>
						12. "이용자"가 서비스를 이용하는 과정에서 발생한 "이용자"의 불법행위로 인하여 "회사"에게 손해가 발생한 경우<br>
						13. 대한민국 정부 및 산하기관의 정책 신설, 변경, 폐지 등으로 인하여 "회사"가 신규 계정을 생성할 수 없는 경우<br>
						14. "이용자"의 계정 생성을 승낙하는 "회사"의 행위가 대한민국의 법률 위반 행위로 인식될 만한 현저한 우려가 있는 경우<br>
						③ “회사”이(가) 회원자격을 제한·정지시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 “회사”은(는) 회원자격을 상실시킬 수 있다. <br>
						④ “회사”이(가) 회원자격을 상실시키는 경우에는 회원등록을 말소한다.<br><br>
						
						제3장 서비스의 이용<br>
						제13조 [서비스의 내용 및 변경]<br>
						① "회사"는 "이용자"가 인터넷과 모바일로 암호화폐를 중개거래할 수 있는 서비스(이하 ‘서비스’라 합니다)를 제공한다. "이용자"는 모바일/웹페이지에 접속하여 서비스를 이용할 수 있다.<br>
						② 서비스는 아래 각 호에 해당하는 서비스를 제공할 수 있다. <br>
						1. 거래소 지갑<br>
						2. "회사"가 제공하는 암호화폐의 전자지갑 중 "이용자"가 이용을 신청한 전자지갑<br>
						③ "회사"는 "이용자"가 제1항의 서비스를 이용할 수 있도록 "이용자"에게 아래 각 호의 전자지갑을 이용할 수 있는 서비스를 제공한다. <br>
						1. 암호화폐 관련 정보<br>
						2. 전자지갑의 잔고, 체결내역, 주문가능범위 등 전자지갑의 정보 제공<br>
						3. 암호화폐 구매, 판매 주문<br>
						4. 암호화폐의 전송 서비스<br>
						5. 기타 "회사"가 제공하는 서비스<br>
						④ "이용자"는 "회사"가 제공하는 서비스에서 허용하는 방법으로 이용하여야 한다.<br>
						⑤ "회사"는 서비스에 부가하는 별도의 서비스를 제공할 수 있고, 이에 관한 사항은 서비스 개별 약관에서 규정한다.<br>
						⑥ "회사"는 "이용자"에게 제공하는 다양한 서비스 중 서비스의 성격에 따라 관련 법령 또는 기술적인 필요가 있는 경우 개별 이용약관 등의 동의를 요청할 수 있다. 이 경우 "이용자"는 자신이 동의한 이용약관에 따른 개별 서비스를 이용할 수 있다.<br>
						⑦ "회사"는 서비스 이용 중 개별 프로그램을 포함하여 시스템 오류가 발생하는 경우, "회사"는 해당 오류로 인하여 발생한 잘못된 정보 등을 삭제하고 실제의 정보를 복원 또는 표시할 수 있고, 경우에 따라서 해당 오류가 발생하기 직전의 특정 시각 거래정보로 
						초기화 될 수 있다. 이 때, 시스템 오류 발생 인지 시점에 표시된 잘못된 정보가 변경될 경우, 이는 오류가 수정되어 실제 정보가 표시되는 것이므로, "이용자"는 실제 정보에 따른 서비스에 근거하여 권리를 행사하거나 의무를 부담할 수 있다.<br>
						⑧ "이용자"가 서비스를 이용하는 과정에서 발생하는 통신 및 금융비용은 "이용자"가 이용하고 있는 통신 및 금융서비스의 이용 대가로, "회사"와 아무런 관련이 없다.<br>
						
						제14조 [서비스 이용 방법 및 유의사항]<br>
						① "회사"는 "이용자" 간에 합의된 거래 가격에 따라 암호화폐를 거래할 수 있는 서비스를 제공한다.<br>
						② "이용자"는 "회사"가 제공하는 서비스의 사용 방법에 따라, 전자지갑에 보유 중인 암호화폐에 대하여 희망가격을 구매 또는 판매를 등록하는 방법으로 다른 “이용자”의 판매 또는 구매 거래의사 확인 후 거래가 체결된다. 이 때, 통신 기술 상의 장애 등으로 인하여 
						구매, 판매가 체결되었음에도 불구하고 "이용자"의 단말기에는 구매, 판매 결과의 반영이 일시적으로 지연될 수 있으므로, 원활한 통신 환경에서 서비스를 이용하여 주시기 바랍니다. <br>
						③ "이용자"는 "회사"가 제공하는 서비스의 사용 방법에 따라, 전자지갑에 보유 중인 암호화폐를 제3자에게 전송하거나 제3자로부터 전자지갑으로 전송받을 수 있다. 이 경우에는 해당 암호화폐가 소속된 블록체인 내에서의 필요한 절차를 이행하는 데에 요구되는 시간이 
						초과한 후에 거래가 완료됩니다. "회사"는 "이용자"가 지정하는 전자지갑에 암호화폐를 전송하는 업무를 수행할 뿐, 암호화폐의 전송은 "회사"와 무관한 블록체인 네트워크에서 이루어지고, 그 과정에서 네트워크 수수료를 "이용자"로부터 지급받아 네트워크 수수료를 지급하며 
						네트워크 수수료는 전송 대기수요 및 네트워크 공급수요에 따라 변동됩니다.<br>
						④ "이용자"는 "회사"에게 COIN25 중개거래서비스 이용에 따른 대가를 지급하여야 한다. COIN25 중개거래서비스 이용에 따른 대가는 "회사"의 모바일/웹페이지 중 COIN25 중개거래서비스 공지사항에 명시되어 있고, "회사"는 시장 및 "회사"의 상황에 따라 언제든지 이용에 따른 대가를 
						수정하여 공시하고, 공시일에 지정한 효력 발생일부터 수정된 내용의 대가를 수익할 수 있다.<br>
						⑤ "이용자"는 서비스를 자유롭게 이용할 수 있으나, 아래와 같은 범위 내에서 서비스 이용이 제한될 수 있다. <br>
						1. "이용자"는 "회사"의 서비스 제공을 방해할 수 없고, "회사"가 허용하는 방법 이외의 다른 방법을 이용하여 서비스를 이용할 수 없다.<br>
						2. 다른 서비스 "이용자"의 정보를 무단으로 수집, 이용하는 행위, 서비스를 "이용자"의 사업 또는 영업 목적으로 이용하는 행위(단, "회사"와 별도의 계약을 체결한 경우에 한하여 예외적으로 허용될 수 있습니다), 공서양속 및 법령에 위반되는 내용의 정보 등을 발송하거나 
						게시하는 행위, 범죄 행위, 계정 정보 대여 또는 양도, 담보의 제공 행위는 금지됩니다.<br>
						3. "회사"의 동의 없이 서비스 또는 이에 포함된 소프트웨어의 일부를 복사, 수정, 배포, 판매, 양도, 대여, 담보제공하거나 타인에게 그 이용을 허락하는 행위와 소프트웨어를 역설계하거나 소스 코드의 추출을 시도하는 등 서비스를 복제, 분해 또는 모방하거나 기타 변형하는 
						행위도 금지된다.<br>
						4. "이용자"는 대한민국의 법령, "이용자"가 거주하는 거주지를 관할하는 법령에 위반되는 행위를 할 수 없다.<br>
						② "이용자"는 서비스의 이용권한, 서비스 이용에 따른 "회사"와의 기타 계약상 지위를 타인에게 대여·양도·증여하거나 담보로 제공할 수 없고, 이로 인한 불이익이 발생하는 경우 "회사"는 절대 책임지지 아니한다.<br>
						③ "이용자"가 관련 법령, "회사"의 모든 약관 또는 정책을 준수하지 않는 경우, "회사"는 "이용자"의 위반행위 등을 조사하거나 "이용자"의 서비스 이용을 잠시 또는 계속하여 중단할 수 있고, "이용자"의 서비스 재가입에 제한을 둘 수 있다.<br>
						④ "회사"는 법령에서 정하는 기간 동안 "이용자"가 서비스를 이용하기 위하여 로그인 혹은 접속한 기록이 없는 경우 "이용자"가 등록한 전자우편, SMS 등 기타 유효한 수단으로 통지 후 "이용자"의 정보를 파기하거나 분리 보관할 수 있고, 이로 인하여 서비스 이용을 위한 필수적인 
						정보가 부족할 경우 이용계약이 해지될 수 있다. 또한, "이용자"가 서비스에 일정 기간 이상 로그인하지 아니할 경우 "이용자"의 계정이 도용당하는 등의 사정으로 인하여 "이용자"에게 발생할 수 있는 피해를 예방하기 위하여, "회사"는 "이용자"의 서비스 이용에 필요한 추가 
						정보를 요구할 수 있고, 특히 12개월 이상 로그인하지 아니할 경우 "회사"는 계정 정지에 따른 절차에 착수할 수 있다.<br>
						⑤ "이용자"가 "회사"의 서비스 이용이 현지 법률에 위반되거나 위반될 염려가 있는 장소에 거주하고 있는 경우, 자신의 서비스 이용에 따른 불이익이 발생할 수 있음을 확인하여야 한다. 특히, "회사"가 "이용자"가 거주하고 있는 장소를 확인한 결과 "이용자"의 서비스 이용이 
						현지 법률의 위반을 구성하거나 구성할 염려가 있는 경우("이용자"의 서비스 이용에 대한 대한민국 내·외의 수사기관의 수사가 개시되는 경우 등), "회사"는 즉시 계정 정지에 따른 절차에 착수할 수 있다.<br>
						⑥ 법원의 명령, 수사기관의 수사협조 요청, 정부기관이 "이용자"의 계정 및 전자지갑의 동결을 서면으로 요청하는 경우, "회사"는 "이용자"의 동의 없이 해당 계정 및 전자지갑 등을 동결함과 동시에 계정 정지에 따른 절차에 착수할 수 있다.<br>
						⑦ 장비의 유지 및 보수를 위한 정기·임시 점검 또는 다른 상당한 이유로 서비스의 제공이 일시 중단될 수 있고, 이 때에는 미리 서비스 제공 화면에 공지. 만일, "회사"로서도 예측할 수 없는 이유로 서비스가 중단된 때에는 "회사"가 상황을 파악하는 즉시 최대한 빠른 시일 
						내에 서비스를 복구하도록 노력한다.<br>
						⑧ "회사"의 서비스 제공을 위하여 계약한 "회사"의 협력사와의 계약 종료 및 변경, 신규서비스 개시 등의 사유로 서비스의 내용이 변경되거나 서비스가 종료될 수 있다. "회사"는 서비스 변경 사항 또는 종료에 관하여 서비스 초기 화면이나 개별 서비스의 화면 또는 공지사항란에 
						게시.<br>
						⑨ “회사”는 아래와 같은 사정이 발생한 경우, 구매 또는 판매 등록 및 계약체결 등 거래를 직권으로 취소하고 원상회복 할 수 있다. 또한 "이용자"의 계정 이용 권한이 취소되고, "회사"는 "이용자"가 보유한 모든 암호화폐 잔고를 임의로 청산할 수 있습니다. 이 때에 "회사"의 
						조치에 따라 "이용자"에게 발생하는 손실 또는 이익에 대하여 "회사"는 어떠한 경우에도 절대 책임을 부담하지 않습니다. <br>
						1. 회원의 서비스 비정상적 이용 및 비정상적 이용행위와 직접적으로 관련된 개별 거래내역<br>
						2. 회원 외의 제3자의 해킹 또는 이에 준하는 상황의 발생 해킹 또는 이에 준하는 상황이 발생한 시점 이후 발생한 모든 거래 내역<br>
						3. 서비스 시스템의 오류 해당 시스템 오류 발생 시점 이후 발생한 모든 거래내역<br>
						4. 통신사업자 및 보안사업자의 귀책사유로 인한 서비스 장애 발생 해당 서비스 장애 발생 시점 이후 발생한 모든 거래내역<br>
						5. 해당 행위에 이용된 계정의 전체 거래내역<br>
						⑩ “이용자”는 아래의 유의사항을 확인하고 자신의 비용과 책임 하에 서비스를 이용하여야 한다. <br>
						1. "이용자" 간의 암호화폐 거래를 중개하는 서비스로, "회사"는 어떠한 경우에도 일체의 암호화폐의 가치 및 환금성을 보증하지 아니하고, "이용자"가 암호화폐를 거래함으로 인하여 "이용자"에게 발생하는 경제적인 이해관계는 전적으로 "이용자"가 부담하여야 한다.<br>
						2. "회사"는 "회사"가 보유하고 있는 "이용자"의 개인정보의 진실성을 절대 보증하지 아니한다. 다만, "회사"는 "이용자"가 "회사"에게 제공한 정보가 진실되지 아니한 점을 확인하는 즉시 해당 "이용자"의 서비스 이용 중단 및 이에 상응하는 조치를 취할 의무가 있다.<br>
						3. "이용자"는 "이용자"의 계정이 제3자로부터 도용당할 경우 법령에 의한 책임을 부담할 수 있다.<br>
						4. 대한민국을 포함한 세계 각 국의 법률, 대한민국을 포함한 세계 각 국의 정책, 유권해석, 경제환경 등에 따라 매우 큰 변동성이 있을 수 있다. 특히, 암호화폐의 거래에 대한 법률행위의 해석은 국가 별로 상이하여 법정화폐와 다른 특유의 위험성이 내재되어 있으므로, 
						"이용자"는 반드시 이 점에 주의하여야 합니다.<br>
						5. 대한민국은 암호화폐의 법적 지위를 공식적으로 인정하고 있지 않고, 특히 암호화폐 거래를 금융거래로 인정하고 있지 않는다. 따라서 대한민국의 정책 변경에 따라 암호화폐의 법적 지위 및 가치 변동이 발생할 수 있다.<br>
						6. "이용자"가 이용 중인 통신서비스는 "회사"의 거래 서비스와 아무런 관련이 없다. 즉, "이용자"는 이용 중인 통신서비스의 속도, 상태 등을 반드시 확인하여야 하고, 통신상태가 원활하지 아니하는 경우에는 불의의 사고를 예방하기 위하여 거래행위를 자제할 필요가 있다.<br>
						7. 서비스를 비롯한 각종 온라인 거래는 첨단범죄집단의 목표가 되고 있다. "회사"는 "회사"의 거래서비스의 보안을 위하여 최선을 다하고 있으나, 실제 발생하는 해킹 사고의 대부분은 "이용자" 개인이 이용 중인 와이파이 네트워크의 해킹, 비밀번호 등 계정 정보 관리 상의 과실, 
						클라우드 서비스에 기록된 개인정보의 해킹 등으로 인한 2차 사고입니다. 이러한 점을 감안하여 반드시 첨단범죄의 발생을 예방할 필요가 있습니다.<br>
						8. "회사"가 예상하지 못한 사유로 인하여 긴급하게 "회사"의 서버를 점검할 필요가 있다. 이 경우, "회사"는 긴급점검을 할 수 있고, 긴급점검 과정에서 COIN25 모바일/웹사이트 접속이 불가할 경우, 점검의 사유 및 점검 진행 경과를 "회사"의 
						밴드 계정이나 홈페이지를(www.coin25.co) 통하여 공지합니다.<br>
						9. "회사"는 긴급 점검 중 암호화폐의 시세가 급변하거나 예상하지 못한 사정이 발생하여 "이용자"에게 손해가 발생하는 것으로 판단될 때에, 일정 시간동안 접수된 주문을 취소할 수 있도록 하는 등의 방법으로 "이용자"의 손해를 최소화할 수 있다.<br><br>
						제15조 [유료서비스의 이용]
						① "이용자"가 "회사"가 제공하는 유료서비스를 이용하는 경우 "이용자"는 "회사"가 정하는 방법으로 서비스 이용에 따른 대가를 지급하여야 한다. <br>
						② "회사"는 결제의 이행을 위하여 필요한 "이용자"의 개인정보를 추가적으로 요구할 수 있고, "이용자"는 "회사"가 요구하는 개인정보를 정확하게 제공하여야 한다.<br>
						③ "이용자"가 "이용자"의 귀책사유로 이용요금의 환불을 요청하는 경우라 하더라도, "회사"가 제공하는 유료서비스가 결제 후 1회의 이용 만으로 서비스의 이용이나 구매가 완료되는 서비스인 경우 해당 서비스를 이용한 후에는 환불이 불가능하다. 또한, <br>
						"이용자"가 본 약관을 위반하여 "회사"가 "이용자"의 서비스 이용을 제한하거나 계약을 해지하는 경우 "회사"는 "이용자"에게 환불을 할 의무가 없다.<br>
						④ 제4항의 규정에도 불구하고 "회사"는 아래 각 호의 경우에 "이용자"가 결제한 금원을 환불한다.<br>
						1. "회사"의 귀책사유로 인하여 "이용자"가 서비스를 전혀 이용하지 못한 경우<br>
						2. "이용자"가 요청한 서비스가 전혀 제공되지 않은 경우<br>
						⑤ "이용자"는 이용요금에 대하여 이의를 제기할 수 있습니다. 단, 이용요금에 관한 이의는 그 사유 발생을 안 날로부터 1월, 그 사유가 발생한 날로부터 3월 이내에 제기하여야 합니다. 만일, 위 기간 내에 이의를 제기하지 아니하는 경우 "이용자"의 이의와 관련된 권리는 소멸한다.<br>
						⑥ "회사"는 과·오금이 발생한 경우 또는 전액 환불의 경우 이용대금의 결제와 동일한 방법으로 환불합니다. 다만, 동일한 방법으로 환불이 불가능하거나 서비스의 중도해지로 인한 부분 환불 등의 경우에는 "회사"가 정하는 별도의 방법으로 환불한다.<br>
						⑦ 본 약관의 규정과 서비스 개별약관의 내용이 충돌하는 경우 각 개별약관의 규정에 따른다.<br><br>
						
						제16조 [수신확인통지·이용신청 변경 및 취소]<br>
						① “회사”은(는) “이용자”의 이용신청이 있는 경우 “이용자”에게 수신확인통지를 한다. <br>
						② 수신확인통지를 받은 “이용자”는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 이용신청 변경 및 취소를 요청할 수 있고, “회사”은(는) 서비스제공 전에 “이용자”의 요청이 있는 경우에는 지체 없이 그 요청에 따라 처리하여야 한다.<br><br>
						
						제17조 [“회사”의 의무]<br>
						① “회사”은(는) 법령과 이 약관이 정하는 권리의 행사와 의무의 이행을 신의에 따라 성실하게 하여야 합니다.<br>
						② “회사”은(는) “이용자”가 안전하게 “서비스”를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위해 보안시스템을 갖추어야 하며 개인정보보호정책을 공시하고 준수한다.<br>
						③ “회사”은(는) “이용자”가 서비스이용 및 그 대금내역을 수시로 확인할 수 있도록 조치한다.<br>
						④ “회사”은(는) 서비스이용과 관련하여 “이용자”로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 지체없이 처리한다. 이용자가 제기한 의견이나 불만사항에 대해서는 게시판을 활용하거나 전자우편 등을 통하여 그 처리과정 및 결과를 전달한다.<br>
						⑤ “회사”은(는) 이 약관에서 정한 의무 위반으로 인하여 “이용자”가 입은 손해를 배상합니다.<br>
						⑥ "회사"는 365일, 24시간 서비스를 제공하기 위하여 노력하고 있으나, 이를 보증하는 것이 아닙니다. "이용자" 또는 제3자의 불법행위 등으로 인하여 서비스가 일시 중단되거나 서비스에 오류가 발생하여 "이용자"에게 표시되는 거래기록이 실제의 기록과 상이하게 
						표시되는 등의 문제가 발생할 경우, "회사"는 문제를 해결하고 서비스를 재개합니다. 이 때, "이용자"는 "회사"에 대하여 "회사"가 보유하고 있는 거래 기록에 근거하여 암호화폐의 실제 기록으로 복구할 것을 요청할 수 있습니다.<br>
						⑦ "회사"는 전기통신사업법에 의한 기간통신사업자를 포함한 사업자 또는 "이용자"의 귀책사유로 인하여 장애가 발생하거나 암호화폐의 기반 블록체인 상의 하자가 발생하는 등 "회사"와 관련이 없는 사정으로 인하여 발생한 "이용자"의 손해를 보상하거나 배상하지 않습니다.<br>
						⑧ "회사"는 안정적인 서비스 제공을 위하여 언제든지 서버 점검을 할 수 있고, "이용자"는 서버 점검이 종료된 이후 암호화폐를 거래할 수 있습니다. 특히 주문량의 폭주 등으로 인하여 전산장애가 발생하는 등의 사유로 "이용자"에게 손해가 발생할 수 있는 염려가 
						있을 때에는 필요 최소한의 범위에서 긴급점검을 진행함으로써 거래 시스템 상의 오류 발생으로 인하여 "이용자"에게 발생할 수 있는 손해를 예방하고 있다.<br><br>
						
						제18조 [“이용자”의 의무]<br>
						① “이용자”는 다음 행위를 하여서는 안됨. <br>
						1. 신청 또는 변경 시 허위내용의 기재<br>
						2. 타인의 정보도용 <br>
						3. “회사”에 게시된 정보의 변경 <br>
						4. “회사”이(가) 금지한 정보(컴퓨터 프로그램 등)의 송신 또는 게시 <br>
						5. “회사”와(과) 기타 제3자의 저작권 등 지적재산권에 대한 침해 <br>
						6. “회사” 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위 <br>
						7. 외설 또는 폭력적인 말이나 글, 화상, 음향, 기타 공서양속에 반하는 정보를 “회사”의 사이트에 공개 또는 게시하는 행위<br>
						8. 기타 불법적이거나 부당한 행위<br>
						② “이용자”는 관계법령, 이 약관의 규정, 이용안내 및 서비스와 관련하여 공지한 주의사항, “회사”이(가) 통지하는 사항 등을 준수하여야 하며, 기타 “회사”의 업무에 방해되는 행위를 하여서는 안 됩니다.<br>
						③ 접속자가 "회사"의 서비스를 이용하기 위하여 "이용자"의 계정, 비밀번호 기타 "이용자"가 "회사"에게 제공한 로그인 정보와 일치하는 정보를 기입하여 "회사"의 모바일/웹 페이지에 접속할 경우, 해당 접속 기간 중 이루어지는 모든 거래 행위는 해당 "이용자"의 
						진정한 의사에 기한 것으로 간주됩니다. 그러므로 "이용자"는 계정, 비밀번호 기타 정보에 대한 보안을 유지하여야 하고, 자신의 귀책사유에 의하여 개인정보가 유출됨에 따라 발생할 수 있는 금융사고 또는 범죄로 인한 피해를 주의하여야 합니다.<br>
						④ 암호화폐(Crypto-Currency)는 발행주체가 존재하지 아니하므로 대한민국 내·외의 ("회사"를 포함하여 어떠한) 제3자도 가치를 보증하거나 지급을 보증하지 않는다. 그러므로 암호화폐의 가치는 대한민국을 포함한 세계 각 국의 법률, 대한민국을 포함한 
						세계 각 국의 정책, 유권해석, 경제환경 등에 따라 매우 큰 변동성이 있을 수 있다. 특히, 암호화폐의 거래에 대한 법률행위의 해석은 국가 별로 상이하여 법정화폐와 다른 특유의 위험성이 내재되어 있으므로, "이용자"는 반드시 이 점에 주의하여야 한다.<br>
						⑤ "이용자"는 반드시 전기통신금융사기로 인하여 피해가 발생하지 않도록 스스로 주의를 기울여야 하고, 만일 전기통신금융사기로 인하여 수사기관, 사법기관, 행정기관 기타 공권력의 조사가 이루어져 해당 계정 및 전자지갑 등의 동결이 필요할 경우, "회사"는 "이용자"의 
						동의 없이 해당 계정 및 전자지갑 등을 동결할 수 있다.<br>
						⑥ "이용자"의 불법행위로 인하여 "회사"에게 손해가 발생할 경우, "회사"는 "이용자"에게 법률상 손해배상청구권을 행사할 수 있다. 그러므로 반드시 법령을 준수하여 "회사"의 서비스를 이용하여 주시기 바랍니다.<br>
						⑦ 암호화폐의 거래는 대한민국을 포함한 각 국 소재 각 거래소에서 이루어지므로, "이용자"는 자기 책임과 비용 하에 거래 대상 암호화폐의 시세와 가치를 확인하고 거래를 하여야 합니다.<br>
						⑧ "회사"가 "이용자"의 계정 사용을 제한하는 경우, "이용자"는 "회사"에 대하여 아래와 같은 의무를 부담한다. <br>
						1. 계정 정지시 "회사"는 계정에 대한 자체 조사를 실시하며, "이용자"는 "회사"의 조사에 적극적으로 협력해야 한다.<br>
						2. 계정 정지시 "이용자"는 계정에 포인트 충전 또는 인출을 할 수 없으며, 각종 전자지갑을 통한 거래를 할 수 없다.<br>
						3. 계정에 대한 자체 조사 종료 후 "회사"는 재량에 따라 7일 간의 사전 통지 후, "이용자" 계정 사용을 제한할 수 있고, "회사"는 이 같은 결정에 대한 이유를 통지하며, "이용자"는 이에 대한 소명 절차를 가질 수 있다.<br>
						4. "이용자"는 제3호의 7일 간의 통지기간 동안 전자지갑에서 보유한 암호화폐 잔고를 청산할 수 있습니다. 해당 기간 만료 후에는 "회사"는 계정 내 잔여 암호화폐 잔고를 "회사"의 거래서비스 내 청산 시점의 시가에 따라 강제청산하고 "이용자" 계정에 
						남아있는 나머지 포인트를 "이용자"정보에 등록된 환급 주소로 반환한다.<br>
						5. "이용자"는 "이용자"의 환급 주소를 포함한 포인트 출금과 관련하여 정확한 세부 정보를 COIN25에 제공하여야 한다. 만일, 포인트 출금시 "이용자"가 잘못된 정보를 제공하여 "회사"가 이를 믿고 출금을 이행한 경우와 같이, "이용자"의 잘못된 정보 
						제공으로 인하여 발생한 손해에 대하여 "회사"는 책임을 부담하지 않는다.<br><br>
						
						제19조 [수수료 및 포인트]<br>
						① "이용자"가 "회사"의 서비스를 이용하여 암호화폐를 거래하였을 경우, 해당 암호화폐의 거래내역은 서비스 시스템에 기록이 됩니다. "회사"는 COIN25 내 암호화폐 거래 과정에서 체결된 거래에 관하여 일정한 수수료를 지급받습니다.<br>
						② "이용자"가 "회사"의 서비스를 이용하여 암호화폐를 전송하거나 전송받는 경우, 해당 암호화폐의 거래내역은 블록체인 네트워크에 기록되어 전 세계의 암호화폐 "이용자"가 해당 거래의 진실성 등을 확인할 수 있게 되고, 그 과정에서 네트워크 수수료를 지급하여야 합니다.<br>
						 이 때에 "회사"가 "이용자"로부터 지급받는 수수료는 블록체인 네트워크에 지급되며 네트워크 수수료는 변동성이 있을 수 있습니다.<br>
						③ "회사"는 "이용자"에게 포인트에 관하여 1 포인트 당 당사의 시세 비율에 따른 교환을 보증합니다. 단, "이용자"의 귀책사유로 인하여 이용계약이 해지되거나 "이용자"가 "회사"가 제공하는 서비스를 이용하여 대한민국의 법령을 위반하는 행위를 하는 경우에는 그러하지 아니한다.<br>
						④ "이용자"는 "회사"가 요구하는 정보를 제공하고 "회사"의 금융계좌에 현금을 지급하는 경우에 한하여 "회사"로부터 해당 현금에 해당하는 포인트를 "이용자" 계정으로 지급받는다.<br>
						⑤ "이용자"는 언제든지 계정의 포인트에 해당하는 현금을 "회사"가 정하는 방법에 따라 "회사"로부터 지급받을 수 있다. 단, "회사"는 "이용자" 계정의 포인트에 관하여 이자 또는 이에 준하는 금전을 지급할 의무가 없다.<br>
						⑥ "회사"는 어떠한 경우에도 "이용자"의 동의 없이 "이용자"가 보유하고 있는 포인트를 이용하지 않는다.<br>
						⑦ "회사"는 다음 각 호에 해당하는 경우 "이용자"의 포인트 환전을 제한할 수 있고, 제한 사실 및 제한 사유를 "이용자"에게 통지한다. <br>
						1. 법원 및 정부기관의 서면에 의한 요청이 있는 경우<br>
						2. 법원의 명령, 수사기관의 요청, 정부기관의 요청이 있는 경우<br>
						3. "이용자"가 범죄를 하거나 범죄로 인한 수익을 은닉하는 것으로 의심되는 경우<br>
						4. "이용자"의 계정이 도용당한 것으로 의심되는 경우<br>
						5. "이용자"의 이용내역 중 실제 거래가 없음에도 불구하고 허위의 정보가 생성되었거나 실제 거래 내역과 다른 정보가 기재되어 있는 경우<br><br>
						
						제20조 [이용서비스 제공 및 중단]<br>
						① 서비스는 연중무휴, 1일 24시간 제공함을 원칙으로 한다.<br>
						② “회사”은(는) 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우 서비스의 제공을 일시적으로 중단할 수 있다. 이 경우 “회사”은(는) 제11조[“회원”에 대한 통지]에 정한 방법으로 “이용자”에게 통지한다.<br>
						 다만, “회사”이(가) 사전에 통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있다.<br>
						③ “회사”은(는) 서비스의 제공에 필요한 경우 정기점검을 실시할 수 있으며, 정기점검시간은 서비스제공화면에 공지한 바에 따른다.<br>
						④ 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 “회사”은(는) 제11조[“회원”에 대한 통지]에 정한 방법으로 “이용자”에게 통지하고 당초 “회사”에서 제시한 조건에 따라 “이용자”에게 보상한다. <br>
						다만, “회사”이(가) 보상기준 등을 고지하지 아니하거나, 고지한 보상기준이 적절하지 않은 경우에는 “이용자”들의 마일리지 또는 적립금 등을 현물 또는 현금으로 “이용자”에게 지급한다. <br>
						⑤ "이용자"가 서비스의 이용을 원하지 아니하거나 본 약관에 동의하지 아니하는 경우, "이용자"는 언제든지 서비스 내 제공되는 메뉴 또는 고객센터를 이용하여 서비스 이용계약의 해지를 신청할 수 있고, "회사"는 법령이 정하는 바에 따라 이를 처리하여 "이용자"를 탈퇴 처리한다. <br>
						단, "회사"는 "이용자"의 신청에 따른 서비스 이용계약 해지를 처리하는 과정에서 "회사"의 고의 또는 과실 없이 "이용자"에게 발생하는 손해에 대하여 책임을 부담하지 않는다.<br>
						⑥ "이용자"가 본 약관상 의무 또는 서비스 개별약관에서 정한 의무를 포함하여 총 2회 이상 의무를 위반하거나 "회사"가 제공하는 서비스의 전부 또는 일부의 중단 또는 이용 제한의 조치가 이루어졌음에도 불구하고 그 중단 또는 이용 제한의 해제조건이 
						성취되지 아니하는 경우, "회사"는 제18조 제4항에서 정한 절차에 착수하거나 사전에 이용계약 해지 예정임을 통지하고 이용계약을 해지할 수 있다.<br>
						⑦ 이용계약이 해지되는 경우, "회사"는 법령 및 개인정보처리방침에 따라 "이용자"의 정보를 보유하는 경우를 제외하고 "이용자"의 정보를 삭제한다. 이 경우 "이용자"는 "회사"가 보유하고 있는 "이용자" 정보의 제공을 요청할 수 없다.<br>
						⑧ 이용계약이 해지된 경우라도 "이용자"는 다시 "회사"에 대하여 이용계약의 체결을 신청할 수 있다. 다만, 다시 이용계약을 체결함에 있어 시간적 제한 및 본 약관 상의 제한 등이 따를 수 있다.<br>
						⑨ "회사"는 아래의 기준에 따라 "이용자"의 서비스 이용을 제한할 수 있다. 이 경우 "회사"는 그 사유, 일시 및 기간을 정하여 "이용자"가 기재한 정보에 따른 전자우편, SMS 등의 방법으로 통지하고, "이용자"는 "회사"의 서비스 이용 제한에 대하여 
						통지일로부터 7일간 이의를 신청할 수 있다. <br><br>
						1. 서비스 제한(로그인 외 서비스 이용 불가) <br>
						- 명의 (연락처) 미확인<br>
						- "이용자"가 미성년자 또는 민법상 제한능력자임이 확인된 경우<br>
						- 해킹/사기 사고 발생 (긴급제한 요청시 해당내용으로 간주)<br>
						- 사고"이용자" 관련자(또는 관련된 것으로 의심할 만한 합리적 이유가 있는 자)<br>
						- 결제보안 연속 오류<br>
						- 탈퇴 신청<br>
						- 범죄 행위에 이용되는 경우<br>
						- 부당한 이익을 얻기 위하여 시세조종 등의 행위, 시장의 질서를 교란하는 행위 등을 하는 경우<br>
						- 기타 관리자가 정상적인 서비스 제공에 심각한 장애(DDos, 인증받지 아니한 방법으로의 접속, 채굴에 따른 트래픽발생등을 포함하고, 이에 제한되지 아니합니다)를 유발하는 것으로 판단하는 경우
						정지사유 해결 또는 관리자 판단 로그인 이외의 일체의 거래 중단, 포인트 입금 및 출금 중단 <br><br>
						2. 로그인 제한 <br>
						- 해킹/사기 사고 발생<br>
						- 명의 도용으로 의심되는 경우<br>
						- 법원 및 정부기관의 요청이 있는 경우<br>
						- 거래 과정에서 발생한 오류 정보의 확인 요청을 거부하는 등 부정 이용 행위가 있는 것으로 의심되는 현저한 사정이 있는 경우<br>
						- 서비스 이용 정책 변경에 따른 유예기간이 도과되었음에도 불구하고 변경된 정책을 이용할 수 있는 "이용자" 정보 등이 충족되지 아니한 경우<br>
						- 동일한 명의의 사용자가 계정을 2개 이상 신청/보유/사용하는 것으로 확인되는 경우<br>
						- "이용자"가 제3자에게 계정의 이용을 허락하거나 계정을 대여하는 등 실제 "이용자"와 "이용자"의 명의가 일치하지 아니한 것으로 의심되는 경우<br>
						정지사유 해결 또는 관리자 판단 로그인 불가 <br>
						일부 서비스(암호화폐 출금, KRW 환전 등) 제한 <br>
						- 본인 인증 절차의 이행을 전제하는 서비스임에도 불구하고 "회사"가 요청하는 본인 인증 절차를 이행하지 아니하는 경우<br>
						- 부정한 이용 또는 비정상적인 거래를 위하여 서비스를 이용하는 것으로 의심되는 현저한 사정이 있는 경우<br>
						- "회사"의 서비스 고객지원과정에서 "이용자"가 누적하여 3회이상 "회사"의 직원 또는 "회사"의 업무처리를 위탁받은 자에게 폭언/고성 등의 행위를 하고, 이로 인하여 "회사"의 직원 또는 "회사"의 업무처리를 위탁받은 자가 원활한 고객 지원이 불가능하다고 판단하는 경우<br>
						- "회사"의 서비스 고객지원과정에서 안내된 절차를 이행하지 아니하거나, "이용자"의 서비스 요청에 따라 "회사"가 필요로 하는 "회사"의 요청을 거부하는 경우
						정지사유 해결 또는 관리자 판단 관리자가 지정한 서비스 이용 제한 <br><br>
						
						제21조 [서비스의 변경]<br>
						① “회사”은(는) 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 제공하고 있는 서비스를 변경할 수 있습니다. <br>
						② “회사”은(는) 서비스의 내용, 이용방법, 이용시간을 변경할 경우에 변경사유, 변경될 서비스의 내용 및 제공일자 등을 그 변경 전 7일 이상 해당 서비스초기화면에 게시합니다. <br>
						③ 제2항의 경우에 변경된 내용이 중대하거나 “이용자”에게 불리한 경우에는 “회사”이(가) 해당 서비스를 제공받는 “이용자”에게 제11조[“회원”에 대한 통지]에 정한 방법으로 통지하고 동의를 받습니다. 이때, “회사”은(는) 동의를 거절한 
						“이용자”에 대하여는 변경전 서비스를 제공합니다. 다만, 그러한 서비스 제공이 불가능할 경우 계약을 해지할 수 있습니다. <br>
						④ “회사”은(는) 제1항에 의한 서비스의 변경 및 제3항에 의한 계약의 해지로 인하여 “이용자”가 입은 손해를 배상합니다. <br>
						⑤ 서비스는 "이용자"가 암호화폐를 다른 "이용자"와 거래하거나, "이용자"가 COIN25 중개거래소 내 전자지갑에 보관하고 있는 "이용자"의 암호화폐를 블록체인 네트워크를 통하여 타 전자지갑으로 보내거나 타 전자지갑으로부터 COIN25 중개거래소 내 "이용자"의 
						전자지갑으로 받을 수 있는 서비스입니다. 현재 블록체인 기술은 제3자에 의하여 변조가 불가능한 것으로 평가받고 있으나, 이는 기술의 발전 또는 기타 예상할 수 없는 사정에 의하여 언제든지 변경될 수 있다.<br><br>
						
						제22조 [정보의 제공 및 광고의 게재]<br>
						① “회사”은(는) “이용자”가 서비스이용 중 필요하다고 인정되는 다양한 정보를 공지사항이나 전자우편 등의 방법으로 “회원”에게 제공할 수 있다. 다만, “회원”은 언제든지 전자우편 등을 통하여 수신 거절을 할 수 있다. <br>
						② 제1항의 정보를 전화 및 모사전송기기에 의하여 전송하려고 하는 경우에는 “회원”의 사전 동의를 받아서 전송합니다. <br>
						③ “회사”은(는) 서비스 제공과 관련하여 서비스화면, 홈페이지, 전자우편, 푸쉬메시지 등에 광고를 게재할 수 있다(이는 제 3자가 제공하는 페이지와 연결될 수 있습니다). 광고가 게재된 전자우편 등을 수신한 “회원”은 수신거절을 “회사”에게 할 수 있다. <br>
						④ 전항에 따라 제 3자가 제공하는 페이지로 연결될 경우 해당 페이지는 회사의 서비스 영역이 아니므로 "회사"가 신뢰성, 안정성 등을 보장하지 않으며 그로 인한 "회원"의 손해에 대하여도 "회사"는 책임을 지지 않습니다<br>
						<br>
						제23조 [게시물의 삭제]<br>
						① “회사”은(는) 게시판에 정보통신망이용촉진 및 정보보호 등에 관한 법률을 위반한 청소년유해매체물이 게시되어 있는 경우에는 이를 지체 없이 삭제 합니다. 다만, 19세 이상의 “이용자”만 이용할 수 있는 게시판은 예외로 합니다. <br>
						② “회사”이(가) 운영하는 게시판 등에 게시된 정보로 인하여 법률상 이익이 침해된 자는 “회사”에게 당해 정보의 삭제 또는 반박내용의 게재를 요청할 수 있습니다. 이 경우 “회사”은(는) 지체 없이 필요한 조치를 취하고 이를 즉시 신청인에게 통지합니다. <br>
						③ "회사"는 "이용자"의 게시물이 법령 및 서비스 정책에 위반된다고 판단할 경우, 이를 삭제하거나 게시를 거부할 수 있습니다. 다만, "회사"가 모든 게시물을 검토할 의무가 있는 것은 아니므로, "이용자"의 권리가 침해되는 게시물을 발견한 경우 
						"이용자"는 "회사"에게 해당 게시물 검토를 요청할 수 있습니다.<br>
						<br>
						제24조 [저작권 등의 귀속]<br>
						① “회사”이(가) 작성한 저작물에 대한 저작권 기타 지적재산권은 “회사”에 귀속합니다. <br>
						② “회사”이(가) 제공하는 서비스 중 제휴계약에 의해 제공되는 저작물에 대한 저작권 기타 지적재산권은 해당 제공업체에 귀속합니다. <br>
						③ “이용자”는 “회사”이(가) 제공하는 서비스를 이용함으로써 얻은 정보 중 “회사” 또는 제공업체에 지적재산권이 귀속된 정보를 “회사” 또는 제공업체의 사전승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 
						이용하게 하여서는 안 됩니다. <br>
						④ “회사”은(는) 약정에 따라 “이용자”의 저작물을 사용하는 경우 당해 “이용자”의 허락을 받습니다.<br>
						⑤ "이용자"는 사진, 글, 정보, (동)영상, 서비스에 대한 의견이나 제안 등 서비스(이하 ‘게시물’이라 합니다)를 "회사"가 허용한 방법에 의하여 서비스에 게시할 수 있다. 다만, "이용자"가 법령 및 서비스 정책에 위반되는 내용의 서비스를 표현한 
						게시물을 게시하는 경우, 이로 인하여 발생하는 모든 법률상 또는 법률 외의 책임은 "이용자"가 단독으로 부담합니다. "이용자"가 다른 "이용자"의 서비스를 사용하기 위하여는 서비스 소유자로부터 별도의 허락을 받아야 합니다.<br><br>
						
						제25조 [개인정보보호]<br>
						① “회사”은(는) 제7조 제2항의 신청서기재사항 이외에 “이용자”의 서비스이용에 필요한 최소한의 정보를 수집할 수 있습니다. 이를 위해 “회사”이(가) 문의한 사항에 관해 “이용자”는 진실한 내용을 성실하게 고지하여야 합니다. 허위정보 제공으로 인해 발생한 불이익에 대해서는 보호받지 못합니다.<br>
						② “회사”이(가) “이용자”의 개인 식별이 가능한 “개인정보”를 수집하는 때에는 당해 “이용자”의 동의를 받습니다. <br>
						③ “회사”은(는) “이용자”가 이용신청 등에서 제공한 정보와 제1항에 의하여 수집한 정보를 당해 “이용자”의 동의 없이 목적 외로 이용하거나 제3자에게 제공할 수 없습니다. 다만, 다음의 경우에는 예외로 합니다. <br>
						1. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우 <br>
						2. “서비스” 제공에 따른 요금정산을 위하여 필요한 경우 <br>
						3. 도용방지를 위하여 본인확인에 필요한 경우 <br>
						4. 약관의 규정 또는 법령에 의하여 필요한 불가피한 사유가 있는 경우 <br>
						④ “회사”이(가) 제2항과 제3항에 의해 “이용자”의 동의를 받아야 하는 경우에는 “개인정보”관리책임자의 신원(소속, 성명 및 전화번호 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공관련사항(제공받는 자, 제공목적 및 제공할 정보의 내용)<br>
						등에 관하여 정보통신망이용촉진 및 정보보호 등에 관한 법률 제22조 제2항이 규정한 사항을 명시하고 고지하여야 합니다. <br>
						⑤ “이용자”는 언제든지 “회사”이(가) 가지고 있는 자신의 “개인정보”에 대해 열람 및 오류의 정정을 요구할 수 있으며, “회사”은(는) 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. “이용자”가 오류의 정정을 요구한 경우에는 “회사”은(는) 
						그 오류를 정정할 때까지 당해 “개인정보”를 이용하지 않는다. <br>
						⑥ “회사” 또는 그로부터 “개인정보”를 제공받은 자는 “이용자”가 동의한 범위 내에서 “개인정보”를 사용할 수 있으며, 목적이 달성된 경우에는 당해 “개인정보”를 지체 없이 파기한다. <br>
						⑦ “회사”은(는) 정보통신망이용촉진 및 정보보호에 관한 법률 등 관계 법령이 정하는 바에 따라 “이용자”의 “개인정보”를 보호하기 위해 노력합니다. “개인정보”의 보호 및 사용에 대해서는 관련법령 및 “회사”의 개인정보보호정책이 적용된다. <br>
						⑧ "이용자"의 개인정보는 서비스의 원활한 제공을 위하여 "이용자"가 동의한 목적과 범위 내에서만 이용된다. "회사"는 법령에 의하거나 "이용자"가 별도로 동의하지 아니하는 한, "이용자"의 개인정보를 제3자에게 제공하지 않는다. 이에 대한 자세한 사항은 
						개인정보처리방침에서 정한다.<br>
						⑨"회사"는 "회원"의 귀책사유로 인하여 노출된 "회원"의 "계정정보"를 포함한 모든 정보에 대해서 일체의 책임을 지지 않습니다.<br><br>
						
						제4장 서비스이용계약의 청약철회, 계약해제·해지 및 이용제한<br>
						제26조 [“이용자”의 청약철회와 계약해제·해지]<br>
						① “회사”와(과) “서비스”의 이용에 관한 계약을 체결한 “이용자”는 수신확인의 통지를 받은 날로부터 7일 이내에는 청약의 철회를 할 수 있다. 다만, “회사”이(가) 다음 각 호중 하나의 조치를 취한 경우에는 “이용자”의 청약철회권이 제한될 수 있다. <br>
						1. 청약의 철회가 불가능한 “서비스”에 대한 사실을 표시사항에 포함한 경우 <br>
						2. 시용상품을 제공한 경우 <br>
						3. 한시적 또는 일부이용 등의 방법을 제공한 경우<br>
						② “이용자”는 다음 각 호의 사유가 있을 때에는 당해 “서비스”를 공급받은 날로부터 3개월 이내 또는 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 서비스이용계약을 해제·해지할 수 있습니다. 1. 이용계약에서 약정한 “서비스”가 제공되지 않는 경우 <br>
						2. 제공되는 “서비스”가 표시·광고 등과 상이하거나 현저한 차이가 있는 경우 <br>
						3. 기타 “서비스”의 결함으로 정상적인 이용이 현저히 불가능한 경우 <br>
						③ 제1항의 청약철회와 제2항의 계약해제·해지는 “이용자”가 전화, 전자우편 또는 모사전송으로 “회사”에 그 의사를 표시한 때에 효력이 발생한다. <br>
						④ “회사”은(는) 제3항에 따라 “이용자”가 표시한 청약철회 또는 계약해제·해지의 의사표시를 수신한 후 지체 없이 이러한 사실을 “이용자”에게 회신함. <br>
						⑤ “이용자”는 제2항의 사유로 계약해제·해지의 의사표시를 하기 전에 상당한 기간을 정하여 완전한 “서비스” 혹은 서비스이용의 하자에 대한 치유를 요구할 수 있습니다. <br><br>
						
						제27조 [“이용자”의 청약철회와 계약해제·해지의 효과]<br>
						① “회사”은(는) “이용자”가 청약철회의 의사표시를 한 날로부터 또는 “이용자”에게 계약해제·해지의 의사표시에 대하여 회신한 날로부터 3영업일 이내에 대금의 결제와 동일한 방법으로 이를 환급하여야 하며, 동일한 방법으로 환불이 불가능할 때에는 
						이를 사전에 고지하여야 합니다. 이 경우 “회사”이(가) “이용자”에게 환급을 지연한 때에는 그 지연기간에 대하여 공정거래위원회가 정하여 고시하는 지연이자율을 곱하여 산정한 지연이자를 지급함.<br>
						② “회사”이(가) 제1항에 따라 환급할 경우에 “이용자”가 서비스이용으로부터 얻은 이익에 해당하는 금액을 공제하고 환급할 수 있습니다. <br>
						③ “회사”은(는) 위 대금을 환급함에 있어서 “이용자”가 신용카드 또는 전자화폐 등의 결제수단으로 재화 등의 대금을 지급한 때에는 지체 없이 당해 결제수단을 제공한 사업자로 하여금 재화 등의 대금의 청구를 정지 또는 취소하도록 요청함. <br>
						다만, 제2항의 금액공제가 필요한 경우에는 그러하지 아니할 수 있습니다. <br>
						④ “회사”은(는) “이용자”에게 청약철회를 이유로 위약금 또는 손해배상을 청구하지 않습니다. 그러나 “이용자”의 계약해제·해지는 손해배상의 청구에 영향을 미치지 않는다. <br><br>
						
						제28조 [회사의 계약해제·해지 및 이용제한]<br>
						① “회사”은(는) “이용자”가 제12조 제2항에서 정한 행위를 하였을 경우 사전통지 없이 계약을 해제·해지하거나 또는 기간을 정하여 서비스이용을 제한할 수 있다. <br>
						② 제1항의 해제·해지는 “회사”이(가) 자신이 정한 통지방법에 따라 “이용자”에게 그 의사를 표시한 때에 효력이 발생함<br>
						③ “회사”의 해제·해지 및 이용제한에 대하여 “이용자”는 “회사”이(가) 정한 절차에 따라 이의신청을 할 수 있습니다. 이 때 이의가 정당하다고 “회사”이(가) 인정하는 경우, “회사”은(는) 즉시 서비스의 이용을 재개한다. <br>
						
						제29조 [회사의 계약해제·해지의 효과]<br>
						“이용자”의 귀책사유에 따른 이용계약의 해제·해지의 효과는 제27조를 준용한다. 다만, “회사”은(는) “이용자”에 대하여 계약해제·해지의 의사표시를 한 날로부터 7영업일 이내에 대금의 결제와 동일한 방법으로 이를 환급한다.<br><br>
						
						제5장 과오금, 피해보상 등<br>
						제30조 [과오금]<br>
						① “회사”은(는) 과오금이 발생한 경우 이용대금의 결제와 동일한 방법으로 과오금 전액을 환불하여야 합니다. 다만, 동일한 방법으로 환불이 불가능할 때는 이를 사전에 고지함. <br>
						② “이용자”의 책임 있는 사유로 과오금이 발생한 경우, “회사”이(가) 과오금을 환불하는 데 소요되는 비용은 합리적인 범위 내에서 “이용자”가 부담하여야 함.<br>
						③ 회사은(는) “이용자”가 주장하는 과오금에 대해 환불을 거부할 경우에 정당하게 이용대금이 부과되었음을 입증할 책임을 짐.<br>
						④ “회사”은(는) 과오금의 환불절차를 디지털서비스이용자보호지침에 따라 처리함.<br>
						<br>
						제31조 [서비스하자 등에 의한 이용자피해보상]<br>
						“회사”은(는) 서비스하자 등에 의한 이용자피해보상의 기준·범위·방법 및 절차에 관한 사항을 디지털콘텐츠이용자보호지침에 따라 처리함. <br>
						<br>
						제32조 [손해배상 및 특약]<br>
						① "회사"는 법령상 허용되는 한도 내에서 서비스와 관련하여 본 약관에 명시되지 않은 어떠한 구체적인 사항에 대하여도 약정이나 보증을 하지 않는다. 또한, "회사"는 "회사"가 발행하거나 지급을 보증하지 아니한 어떠한 형태의 물건 또는 암호화폐의 
						가치를 보증하지 아니합니다. 또한 "이용자"가 작성하는 등의 방법으로 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않는다.<br>
						② "회사"는 "회사"의 고의 또는 과실로 인하여 "이용자"가 손해를 입게 될 경우 대한민국의 법령에 따라 "이용자"에게 발생하는 손해를 배상합니다. 단, 전시·사변·홍수·지진 기타 이에 준하는 천재지변 또는 대한민국 정부기관의 사실상 또는 법률상 
						행정처분 및 명령 등 "회사"의 귀책사유가 없는 불가항력으로 인하여 "이용자"에게 발생한 손해는 배상하지 아니한다.<br>
						③ “회사”은(는) “이용자”의 귀책사유로 인한 서비스이용의 장애에 대하여는 책임을 지지 않는다. <br>
						④ “회사”은(는) “회원”이 “서비스”와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다. "이용자"가 "회사"에게 제공한 정보가 사실과 다를 경우, "회사"는 언제든지 서비스의 제공을 중단하고 본 
						약관에 의한 계약 전체 또는 일부를 해지할 수 있으며, 이로 인하여 "회사"에게 손해가 발생한 경우 그 손해의 배상을 청구할 수 있다.<br>
						⑤ “회사”은(는) “이용자” 상호간 또는 “이용자”와 제3자 간에 “서비스”를 매개로 하여 발생한 분쟁 등에 대하여 책임을 지지 않는다.<br>
						⑥ "이용자"의 불법행위로 인하여, "회사"에게 손해가 발생할 경우, "회사"는 "이용자"에게 법률상 손해배상청구권을 행사할 수 있다. 그러므로 반드시 법령을 준수하여 "회사"의 서비스를 이용하여 주시기 바랍니다.<br>
						⑦"회원" 또는 "회사"의 이용계약 해지 등으로 인하여 "회원"과 "회사"의 서비스 이용계약이 종료되는 경우, 관계법 및 개인정보처리방침에 따라 "회사"가 "회원"정보를 보유하는 경우를 제외하고는 "회사"는 보다 나은 서비스 환경 등을 위하여 해지 즉시 "회원"의 계정정보 및 관련된 모든 데이터를 삭제할 수 있으며 "회사"는 이용계약 종료 이후 "회원"의 계정정보 및 관련 데이터 삭제로 인한 책임을 부담하지 않습니다.<br>
						⑧"회사"는 기간통신 사업자가 전기통신서비스를 중지하거나 정상적으로 제공하지 아니하여 "회원"에게 손해가 발생한 경우에 대해서 "회사"의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
						⑨"회사"는 사전에 공지된 "서비스"용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 "서비스"가 중지되거나 장애가 발생한 경우에 대해서 "회사"의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
						⑩"회사"는 "회원"의 컴퓨터 환경으로 인하여 발생하는 제반 문제 또는 "회사"의 고의 또는 중대한 과실이 없는 네트워크 환경으로 인하여 발생하는 문제에 대해서 책임이 면제됩니다.<br>
						⑪ 본 "서비스"중 일부의 "서비스"는 다른 사업자가 제공하는 "서비스"를 통하여 제공될 수 있으며, "회사"는 다른 사업자가 제공하는 "서비스"로 인하여 발생한 손해 등에 대해서는 "회사"의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
						⑫"회사"는 "회원"의 컴퓨터 오류에 의한 손해가 발생한 경우 또는 신상정보 및 전자우편주소를 부정확하게 기재하거나 미 기재하여 손해가 발생한 경우에 대하여 "회사"의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br><br>
						
						제33조 [분쟁의 해결]<br>
						본 약관 또는 서비스는 대한민국 법령에 의하여 규정되고 이행되고, "이용자"의 국적 및 주거지와 관계 없이 분쟁의 해결에 따른 준거법은 대한민국의 법령으로 함. 다만, 대한민국 내에서 암호화폐 등에 관한 법령 또는 대법원 판결이 없는 경우, 
						대한민국 외에서의 선례 또는 유력한 견해가 본 약관 또는 서비스의 분쟁에 관한 준거법령의 효력을 가질 수 있다. 서비스 이용과 관련하여 "회사"와 "이용자" 간의 분쟁이 발생하면 당사자 사이의 해결을 위하여 노력하되, 
						그럼에도 불구하고 해결되지 아니하면 대한민국의 민사소송법에 따른 관할 법원에 제기할 수 있고, 대한민국 외의 법원 또는 사법기관, 중재기관 외 기타 이에 준하는 기관에 대한 제기는 허용되지 아니하며, "이용자" 또한 이에 동의하여야 함.<br><br><br>
						
						
						
						공고일자 : 2018. 06. 15<br>
						시행일자 : 2018. 06. 15<br>
																			</p>

																		</div>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-dismiss="modal">
																			확인
																		</button>
						
																	</div>
																</div>
															</div>
														</div>




		<!-- end:: Page -->
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Snippets -->
		<script src="/assets/snippets/custom/pages/user/login.js" type="text/javascript"></script>
		<!--end::Page Snippets -->
		<!--end: 입력상태 체크 -->
		<script type="text/javascript">
			// **************************************************
			// * 로그인 입력상태 체크
			// * - VOIDLINK by MJ Kim
			// **************************************************
			$("#m_login_signin_submit").on("click", function(){

				if($('#username').val().length == 0 ) {
					alert("사용자ID(이메일)를 입력하세요");
					$('#username').focus();
					return false;
				}
				if($('#password').val().length == 0 ) {
					alert("비밀번호를 입력하세요");
					$('#password').focus();
					return false;
				}

				location.href = "/my_point";
			})

		// **************************************************
		// * 회원가입 항목 체크 
		// * - VOIDLINK by MJ Kim
		// **************************************************

		$("#m_login_signup_submit").on("click", function()
		{
			// 기본 프로세서
			//1. 사전예약 가입자
			//  1) 기본으로 10000 포인트 지급
			//  2) list_reservation 를 조회해 사전예약자이고 
			//      users_mastertbls 에 추천인이 있다면 10000지급, 추천인 10000 지급
			//  3) 사전예약이지만 users_mastertbls 에 추천인이 없다면 지급 안되야함
			
			//2. 일반가입자
			//  1) 기본으로 10000 포인트 지급
			//  2) users_mastertbls 에 추천인이 있다면 1000지급, 추천인 2000 지급

			// 약관동의 확인
			if($("#agree").is(":checked")) {
						
				if($('#fullname').val().length == 0 ) {
					alert("사용자실명을 입력하세요.");
					$('#fullname').focus();
					return false;
				}
				if($('#email').val().length == 0 ) {
					alert("사용자ID(이메일)을 입력하세요.");
					$('#email').focus();
					return false;
				}		
				if($('#joinpassword').val().length == 0 ) {
					alert("비밀번호를 입력하세요.");
					$('#joinpassword').focus();
					return false;
				}	
				if($('#rpassword').val().length == 0 ) {
					alert("확인 비밀번호를 입력하세요.");
					$('#rpassword').focus();
					return false;
				}	
				if($("#joinpassword").val() == $("#rpassword").val()) {
					
				} else {
					alert("입력하신 비밀번호가 일치하지 않습니다.");
					$('#rpassword').focus();
					return false;				
				}
				
				// 휴대폰번호 인증 확인
				if($("#checkSmsValue").val() === $("#telauth").val()) {
						
				} else {
					alert("휴대폰 인증번호가 불일치합니다.");
					$('#telauth').focus();
					return false;				
				}
				
				// 기존 가입자인지 체크
				$.post("/checkjoinagain", 
				{
					email : $("#email").val(),
					phone : $("#tel").val()
				}, 
				function(jqXHR) 
				{
					// 회원가입 저장
					if(jqXHR[0].count == 0)
					{
						$.post(
							"/users", 
							{ 
								sId : $("#email").val(),
								name : $("#fullname").val(),
								email : $("#email").val(),
								pwd : $("#joinpassword").val(),
								contact : $("#tel").val(),
								recommender : $("#friendtel").val(),
								jijum_contact : $("#hdjijum_contact").val(),
								type : $("hdtype").val()	
							}
							// function(data)
							// {
							// 	var mypoint=0, fripoint=0; 
							// 	// 사전가입자 체크
							// 	// console.log("사전 가입자 체크");
							// 	$.post(
							// 		"/checkMember", 
							// 		{ 
							// 			telnum : $("#tel").val()
							// 		}, 
							// 		function(data){
							// 			if(data.length == 0)
							// 			{
							// 				// 추천인 가입여부 확인
							// 				// console.log("추천인 가입 체크");
							// 				$.post(
							// 					"/checkReceivePoint", 
							// 					{ 
							// 						phone : $("#tel").val()
							// 					}, 
							// 					function(data){
							// 						// 최초 사용자 번호  인증 시, 자동입력 값으로 추천인 조회
							// 						// console.log("사전예약 리스트 조회");
							// 						if($("#hdfriendtel").val().length == 0)
							// 						{

							// 							// console.log("사전예약 리스트 조회");
							// 							// console.log("222"+$("#hdfriendtel").val().length);
							// 							if($("#friendtel").val().length == 0)
							// 							{
							// 								// 아무것도 실행안해
							// 							} else {
														
							// 								// 일반 회원 추천인 매칭 포인트 지급
							// 								mypoint += 1000;
							// 								fripoint += 2000;

							// 								// console.log("!!!!!!!!!!!!!!");
							// 								// console.log(data[0].name);
							// 								$.post(
							// 									"/points", 
							// 									{ 
							// 										sId : $("#email").val(),
							// 										sState : "증정",
							// 										nUsedPoint : mypoint,
							// 										sDetail : "추천인 포인트 지급",
							// 										followerName : data[0].name,
							// 										followerMail : data[0].email
							// 									}
							// 								);
							// 								// console.log("!!!!!!!!!2222!!!!!");
							// 								// console.log($("#fullname").val());
							// 								$.post(
							// 									"/logRecommenderPoint", 
							// 									{ 
							// 										contact : $("#friendtel").val(),
							// 										sState : "증정",
							// 										nUsedPoint : fripoint,
							// 										sDetail : "추천인 포인트 지급",
							// 										followerName : $("#fullname").val(),
							// 										followerMail : $("#email").val()
							// 									}
							// 								);
							// 							}
							// 						} 
							// 					}
							// 				);
							// 			} 
							// 			else 
							// 			{
										
							// 				$.post(
							// 					"/checkReceivePoint", 
							// 					{ 
							// 						phone : $("#tel").val()
							// 					}, 
							// 					function(data) {
							// 						// 최초 사용자 번호  인증 시, 자동입력 값으로 추천인 조회
							// 						// console.log("사전가입자 대상 왕 포인트 지급");
							// 						// 사전가입자 대상 왕 포인트 지급 
							// 						// console.log("aaaaaaaaaaaaaa100");
							// 						mypoint = 10000; 
							// 						fripoint = 10000;
							// 						$.post(
							// 							"/points", 
							// 							{ 
							// 								sId : $("#email").val(),
							// 								sState : "증정",
							// 								nUsedPoint : mypoint,
							// 								sDetail : "사전예약자 추천인 포인트 지급",
							// 								followerName : data[0].name,
							// 								followerMail : data[0].email
							// 							}
							// 						);
							// 						// 추천인에게 포인트 지급
							// 						// console.log("aaaaaaaaaaaaaa1011");
							// 						$.post(
							// 							"/logRecommenderPoint", 
							// 							{ 
							// 								contact : $("#friendtel").val(),
							// 								sState : "증정",
							// 								nUsedPoint : fripoint,
							// 								sDetail : "사전예약자 추천인 포인트 지급",
							// 								followerName : $("#fullname").val(),
							// 								followerMail : $("#email").val()
							// 							}
							// 						);
							// 					}
							// 				);
							// 			}
							// 		}
							// 	);
							// }
						);
					}
					else 
					{
						alert("이미 가입된 회원입니다. 회원 로그인을 해주세요.");
						//$('#fullname').val() = "";
						//$('#tel').val() = "";
						//$('#email').val() = "";
						//$('#joinpassword').val() = "";	
						//$('#rpassword').val() = "";
						//$('#telauth').val() = "";
						//$('#friendtel').val() = "";	
						//$('#email').focus();															
						return false;
					}
				},'json');
					
							
					

				

				if($('#tel').val().length == 0 ) {
					alert("휴대전화 번호를 입력하세요.");
					$('#tel').focus();
					return false;
				}

				if($('#telauth').val().length == 0 ) {
					alert("휴대전화 인증번호를 입력하세요.");
					$('#telauth').focus();
					return false;
				}

			} else {
				alert("회원가입약관에 동의해 주세요.");
				return false;
			}


		}
	);


			// **************************************************
			// * 휴대폰 인증 처리 (휴대폰번호 입력상태 체크) 
			// * - VOIDLINK by MJ Kim
			// **************************************************
			$("#checkNum").on("click", function()
			{

			if($('#tel').val().length == 0 ) {
				alert("휴대폰 번호를 입력하세요");
				$('#tel').focus();
				return false;
			}

			if(confirm("인증코드 문자를 발송합니다.")){
				$.post("/check", 
				{
					phone : $("#tel").val()
				},
				function(jqXHR) 
				{
					console.log(checkSmsValue);
					$("#checkSmsValue").val(jqXHR);
					
				},'json');

				$.post("/checkMember", 
				{
					telnum : $("#tel").val()
				}, 
				function(jqXHR) 
				{
					if(jqXHR.length == 0){
						console.log("");
					} else {
						$("#friendtel").val(jqXHR[0].recommender);
						$("#hdfriendtel").val(jqXHR[0].recommender);
						$("#hdtype").val(jqXHR[0].type);
						$("#hdjijum_contact").val(jqXHR[0].jijum_contact);
						$("#friendtel").attr("disabled", "disabled");
					}
				},'json');
			}
		});

		

		function setPointHistory(url, contact, sState, nUsedPoint, sDetail, fallowerId, fallowerName)
		{
			
			$.post(
				url, 
				{ 
					contact : contact,
					sState : sState,
					nUsedPoint : fripoint,
					sDetail : sDetail,
					fallowerId : fallowerId,
					fallowerName : fallowerName
				}
			);
		}




		</script>
	</body>
	<!-- end::Body -->
</html>
