<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
		<title>
			COIN25
		</title>
		<meta name="description" content="일등 암호화폐 P2P 거래소 - 코인25">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

        <!--begin::Base Styles -->  
        <!--begin::Page Vendors -->
		<!--end::Page Vendors -->
		<link href="/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/base/custom.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/assets/img/logo/favicon.ico" />
</head>
<body>
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: 서브헤더 -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">
                            고객정보조회 
                        </h3>
                    </div>
                    <div><!--
                        <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                            <span class="m-subheader__daterange-label">
                                <span class="m-subheader__daterange-title"></span>
                                <span class="m-subheader__daterange-date m--font-brand"></span>
                            </span>
                            <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                <i class="la la-angle-down"></i>
                            </a>
                        </span>-->
                    </div>
                </div>
            </div>
            <!-- END: 서브헤더 -->
            <!-- BEGIN: 컨텐츠 -->
            <div class="m-content">
                <!--Begin::Section-->
                <div class="row">
                    <div class="col-xl-12">

                        <div class="m-portlet__body">
                            <div class="m-portlet m-portlet--mobile">
                                <div class="m-portlet__body">
                                    <!--begin: Datatable -->
                                    <!--table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1"-->
                                    <input type="text" id="ipPhone">
                                    <button type="button" class="btn m-btn--square  btn-primary" id="btnSearch">
                                        번호 조회
                                    </button>
                                    <input type="text" id="ipName">
                                    <button type="button" class="btn m-btn--square  btn-primary" id="btnSearch2">
                                        이름 조회
                                    </button>
                                    <table class="table table-striped- table-bordered table-hover">
                                        <thead style="border : 1px solid ">
                                            <tr>
                                                <th>사용자ID</th>
                                                <th>이 름</th>
                                                <th>사전가입</th>
                                                <th>연락처</th>
                                                <th>추천인</th>
                                                <th>비밀번호</th>
                                                <th>가입일시</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tPointBody">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::Section-->
            </div>
            <!-- END: 컨텐츠 -->
        </div>
    </div>
    <!-- end::Body -->
    <!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <!-- <script src="/assets/demo/default/custom/datatable/html-table.js" type="text/javascript"></script> -->
		<!--end::Page Resources -->
		<!-- <script src="/board/datatable_monitor.js" type="text/javascript"></script> -->
        <script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
        <script>
            $("#btnSearch").on("click", function(){
                if($("#ipPhone").val().length > 0 || $("#ipName").val().length > 0)
                {
                    $.post(
                        "/l893iuhf08uo90ojiq349uferknlnkjzkljg98hkj309uoi30934jkhlsdfg0u89tekhjg09u", 
                        { 
                            phone : $("#ipPhone").val(),
                            name : $("#ipName").val()
                        },
                        function(data)
                        {
                            console.log(data.length);
                            $("#tPointBody").empty();
                            for(var i=0; i<data.length; i++)
                            {
                                if(data[i].sState != "null")
                                {
                                    var str = "";
                                    str += "<tr>";
                                    str += "	<td scope='row'>";
                                    str += "		" + data[i].email;
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + data[i].name; 
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + data[i].prejoin; 
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + data[i].contact; 
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += 			data[i].recommender == null ? "" : data[i].recommender;
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + data[i].pwd;
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + moment(data[i].createdAt).format('YYYY-MM-DD HH:mm');
                                    str += "	</td>";
                                    str += "</tr>";
                                    $("#tPointBody").append(str);
                                } else {
                                    var str = "";
                                    str += "<tr>";
                                    str += "	<td scope='row'>";
                                    str += "	</td>";
                                    str += "	<td rowspan='3'>";
                                    str += "	데이터가 없습니다."; 
                                    str += "	</td>";
                                    str += "</tr>";
                                    $("#tPointBody").append(str);	
                                }
                            }
                        }
                    );
                }
                else{
                    $("#tPointBody").empty();
                    var str = "";
                    str += "<tr>";
                    str += "	<td scope='row'>";
                    str += "	</td>";
                    str += "	<td rowspan='3'>";
                    str += "	조회할 값을 입력해주세요."; 
                    str += "	</td>";
                    str += "</tr>";
                    $("#tPointBody").append(str);
                }
                
            })

            $("#btnSearch2").on("click", function(){
                if($("#ipPhone").val().length > 0 || $("#ipName").val().length > 0)
                {
                    $.post(
                        "/l893iuhf08uo90ojiq349uferknlnkjzkljg98hkj309uoi30934jkhlsdfg0u89tekhjg09u", 
                        { 
                            phone : $("#ipPhone").val(),
                            name : $("#ipName").val()
                        },
                        function(data)
                        {
                            console.log(data.length);
                            $("#tPointBody").empty();
                            for(var i=0; i<data.length; i++)
                            {
                                if(data[i].sState != "null")
                                {
                                    var str = "";
                                    str += "<tr>";
                                    str += "	<td scope='row'>";
                                    str += "		" + data[i].email;
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + data[i].name; 
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + data[i].prejoin; 
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + data[i].contact; 
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += 			data[i].recommender == null ? "" : data[i].recommender;
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + data[i].pwd;
                                    str += "	</td>";
                                    str += "	<td>";
                                    str += "		" + moment(data[i].createdAt).format('YYYY-MM-DD HH:mm');
                                    str += "	</td>";
                                    str += "</tr>";
                                    $("#tPointBody").append(str);
                                } else {
                                    var str = "";
                                    str += "<tr>";
                                    str += "	<td scope='row'>";
                                    str += "	</td>";
                                    str += "	<td rowspan='3'>";
                                    str += "	데이터가 없습니다."; 
                                    str += "	</td>";
                                    str += "</tr>";
                                    $("#tPointBody").append(str);	
                                }
                            }
                        }
                    );
                }
                else{
                    $("#tPointBody").empty();
                    var str = "";
                    str += "<tr>";
                    str += "	<td scope='row'>";
                    str += "	</td>";
                    str += "	<td rowspan='3'>";
                    str += "	조회할 값을 입력해주세요."; 
                    str += "	</td>";
                    str += "</tr>";
                    $("#tPointBody").append(str);
                }
                
            })

            

            // "ajax": {
                    //     "url": "/monitor" + ,
                    //     "contentType": "application/json",
                    //     "type": "POST",
                    //     "dataSrc": ""
                    // },
        </script>
</body>
</html>