<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
		<title>
			COIN25
		</title>
		<meta name="description" content="일등 암호화폐 P2P 거래소 - 코인25">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

        <!--begin::Base Styles -->  
        <!--begin::Page Vendors -->
		<!--end::Page Vendors -->
		<link href="/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/base/custom.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/assets/img/logo/favicon.ico" />
</head>
<body>
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: 서브헤더 -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">
                            고객정보조회 
                        </h3>
                    </div>
                    <div><!--
                        <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                            <span class="m-subheader__daterange-label">
                                <span class="m-subheader__daterange-title"></span>
                                <span class="m-subheader__daterange-date m--font-brand"></span>
                            </span>
                            <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                <i class="la la-angle-down"></i>
                            </a>
                        </span>-->
                    </div>
                </div>
            </div>
            <!-- END: 서브헤더 -->
            <!-- BEGIN: 컨텐츠 -->
            <div class="m-content">
                <!--Begin::Section-->
                <div class="row">
                    <div class="col-xl-12">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                            <table class="table table-bordered">
                                <tr>
                                    <th>제품명</th>
                                    <td><input type="text" name="name" class="form-control"
                                    value="<%=product.name%>"/></td>
                                </tr>
                                <th>섬네일</th>
                                    <td>
                                        <input type="file" name="thumbnail" />
                                        <% if(product.thumbnail){ %>
                                        <a href="/uploads/<%=product.thumbnail%>" target="_blank">업로드 이미지 보기</a>
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <th>가격</th>
                                    <td><input type="text" name="price" class="form-control"
                                    value="<%=product.price%>"/></td>
                                </tr>
                                <tr>
                                    <th>설명</th>
                                    <td><input type="text" name="description" class="form-control"
                                    value="<%=product.description%>"/></td>
                                </tr>
                                <tr>
                            </table>
                            <button class="btn btn-primary">작성하기</button>
                        </form>
                    </div>
                    <div class="col-xl-4">
                    </div>
                </div>
                <!--End::Section-->
            </div>
            <!-- END: 컨텐츠 -->
        </div>
    </div>
    <!-- end::Body -->
    <!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <!-- <script src="/assets/demo/default/custom/datatable/html-table.js" type="text/javascript"></script> -->
		<!--end::Page Resources -->
		<script src="/board/datatable_monitor.js" type="text/javascript"></script>
		<script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
</body>
</html>