<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->	
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									입금계좌 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												홈
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												마이페이지
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
					<!-- BEGIN: 컨텐츠 -->
					<div class="m-content">
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-3 col-lg-4">
								<div class="m-portlet m-portlet--full-height  ">
									<div class="m-portlet__body">
										<div class="m-card-profile">
											<div class="m-card-profile__title m--hide">
												나의 프로필
											</div>
											<div class="m-card-profile__pic">
												<div class="m-card-profile__pic-wrapper">
													<img src="/assets/img/users/images.png" alt=""/>
												</div>
											</div>
											<div class="m-card-profile__details">
												<span class="m-card-profile__name">
													<%= user.name%>
												</span>
												<a href="" class="m-card-profile__email m-link">
													<%= user.email%>
												</a>
											</div>
										</div>
										<div class="m-portlet__body-separator"></div>
										<div class="m-widget1 m-widget1--paddingless">
											<div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<h3 class="m-widget1__title">
															포인트 현황
														</h3>
														<span class="m-widget1__desc">
															전체 포인트
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-brand">
															<p id="totalPoint"></p>
														</span>
													</div>
												</div>
											</div>
											<!-- <div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<h3 class="m-widget1__title">
															주간 거래 건 수	
														</h3>
														<span class="m-widget1__desc">
															주간 거래 기준
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-warning">
															132 건
														</span>
													</div>
												</div>
											</div> -->
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-lg-8">
								<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-tools">
											<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
														<i class="flaticon-share m--hide"></i>
														계좌 정보
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane active" id="m_user_profile_tab_1">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<div class="form-group m-form__group row">
														<div class="col-10 ml-auto">
															<h3 class="m-form__section">
																계좌 정보
															</h3>
														</div>
													</div>
													<!-- <div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">
															계좌 별명
														</label>
														<div class="col-7">
															<input class="form-control m-input" type="text" value="내 계좌">
														</div>
													</div> -->
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">
															계좌 은행
														</label>
														<div class="col-7">
															<!-- <input class="form-control m-input" type="text" id="inpBankCode" value=""> -->
															<select class="form-control m-input" id="selBankCode">
								
															</select>
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">
															계좌 번호
														</label>
														<div class="col-7">
															<input class="form-control m-input" type="text" id="inpAccountCode" value="">
														</div>
													</div>														
												</div>
												<div class="m-portlet__foot m-portlet__foot--fit">
													<div class="m-form__actions">
														<div class="row">
															<div class="col-2"></div>
															<div class="col-7" style="text-align: right">
																<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom" id="btnSaveAccount">
																	저 장
																</button>
																&nbsp;&nbsp;
																<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
																	취 소
																</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="tab-pane " id="m_user_profile_tab_2"></div>
										<div class="tab-pane " id="m_user_profile_tab_3"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->

		<input type="hidden" id="hdUserId" value=<%= user.id %>>
		<input type="hidden" id="hdUserBankCode" value=<%= user.bank_code %>>
		<input type="hidden" id="hdUserAccount" value=<%= user.account_no %>>
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="/assets/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');         
				$("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");   
				
				initAccountInfo();
			});
			
			$("#btnSaveAccount").on("click", function(){
				if(!confirm("계좌정보\n" + $("#selBankCode option:selected").text() + "\n" + $("#inpAccountCode").val() + "\n가 맞습니까?")){
					return false;
				} else {
					if(!$("#inpAccountCode").val()){
						alert("계좌 정보를 정확히 입력해주세요.")
					} else {
						$.post( "/updateAccount", {
							userid: $("#hdUserId").val(),
							bank_code: $("#selBankCode").val(),
							account: $("#inpAccountCode").val()
						}, function(jqXHR) {
							alert( "계좌 정보가 수정되었습니다." );
							initAccountInfo();
						}, 'json' /* xml, text, script, html */)
					}
				}
			})

			$( document ).ready(function() {
				// 메뉴 초기화
				$("#aTopMenu6").addClass("  m-menu__item--active  m-menu__item--active-tab");

				// 포인트 초기화
				console.log($("#hdUserId").val());
				$.post( "/getmypoint", 
				{
					user_idx : $("#hdUserId").val()
				},
				function(data){
					if(data[0].nRemainPoint)
					{
						$("#totalPoint").text(numberWithCommas(data[0].nRemainPoint + " P"));
					}
				});
			});

			function numberWithCommas(x) {
				return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}

			function initAccountInfo(){
				// 계좌정보 초기화
				// 은행 목록 가져오기
				$.get( "/getListBankCode", function(jqXHR) { 
					$("#selBankCode").empty();
					for(var i=0; i<jqXHR.length; i++)
					{
						$("#selBankCode").append("<option value='"+jqXHR[i].bank_code+"'>" + jqXHR[i].bank_name + "</option>");
					}
				}, 'json' /* xml, text, script, html */)

				// 내 계좌정보 설정
				$.post( "/getAccountInfo", {
					id : ($("#hdUserId").val())
				}, function(jqXHR) {
					$("#selBankCode").val(jqXHR[0].bank_code).prop("selected", true);
					$("#inpAccountCode").val(jqXHR[0].account_no);
				}, 'json' /* xml, text, script, html */)
				
			}

            // $(".btn-brand").on("click", function(){
			// 	if (confirm("게시글을 등록하시겠습니까?")) {
			// 		alert("글이 등록되었습니다.");
			// 		location.href = "coin_community.html";	
			// 	}
			// })
			
			// $(".btn-secondary").on("click", function(){
			// 	if (confirm("등록을 취소 하시겠습니까?")) {
			// 		location.href = "coin_community.html";	
			// 	}
            // })
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
