<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!--end::Modal-->

			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									나의 거래
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												홈
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												마이페이지
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
					<!-- BEGIN: 컨텐츠 -->
					<div class="m-content">
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-3 col-lg-4">
								<div class="m-portlet m-portlet--full-height  ">
									<div class="m-portlet__body">
										<div class="m-card-profile">
											<div class="m-card-profile__title m--hide">
												나의 프로필
											</div>
											<div class="m-card-profile__pic">
												<div class="m-card-profile__pic-wrapper">
													<img src="/assets/img/users/images.png" alt=""/>
												</div>
											</div>
											<div class="m-card-profile__details">
												<span class="m-card-profile__name">
													<%= user.name%>
												</span>
												<a href="" class="m-card-profile__email m-link">
													<%= user.email%>
												</a>
											</div>
										</div>
										<div class="m-portlet__body-separator"></div>
										<div class="m-widget1 m-widget1--paddingless">
											<div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<h3 class="m-widget1__title">
															판매 건 수
														</h3>
														<span class="m-widget1__desc">
															코인 판매
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-brand">
															<p id="pCountSell">0 건</p>	
														</span>
													</div>
												</div>
											</div>
											<div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<h3 class="m-widget1__title">
															구매 건 수
														</h3>
														<span class="m-widget1__desc">
															코인 구매
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-warning">
															<p id="pCountBuy">0 건</p>	
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-lg-8">
								<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-tools">
											<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
														<i class="flaticon-share m--hide"></i>
														나의 판매
													</a>
												</li>
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
														<i class="flaticon-share m--hide"></i>
														나의 구매
													</a>
												</li>
												<!-- <li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
														<i class="flaticon-share m--hide"></i>
														임시 관리
													</a>
												</li> -->
											</ul>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane active" id="m_user_profile_tab_1">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<!--begin: Datatable -->
													<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1" style="padding:20px">
														<thead>
															<tr>
																<th>코 인</th>
																<th>기준가격</th>
																<th>수 량</th>
																<th>최소거래수량(가격)</th>
																<th>상 태</th>
																<th>구매 상태</th>
															</tr>
														</thead>
														<tbody id="tbodyMySellList">
																													
														</tbody>
													</table>													
												</div>
											</form>
										</div>
										<div class="tab-pane " id="m_user_profile_tab_2">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<!--begin: Datatable -->
													<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_2" style="padding:20px">
														<thead>
															<tr>
																<th>코 인</th>
																<th>거래 가격</th>
																<th>입금일</th>
																<th>닉네임</th>
																<th>거래 상태</th>
															</tr>
														</thead>
														<tbody id="tbodyMyBuyList">
																											
														</tbody>
													</table>													
												</div>
											</form>
										</div>
										<!-- <div class="tab-pane " id="m_user_profile_tab_3">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<!--begin: Datatable >
													<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1" style="padding:20px">
														<thead>
															<tr>
																<th>코 인</th>
																<th>거래 가격</th>
																<th>입금일</th>
																<th>닉네임</th>
																<th>거래 상태</th>
															</tr>
														</thead>
														<tbody id="tempadmin">
																											
														</tbody>
													</table>													
												</div>
											</form>
										</div>										 -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->
		<!--begin::Modal-->
		<div class="modal fade" id="mdSearchWallet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							지갑 찾기
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group m-form__group">
							<label for="exampleSelect1">
								구매한 코인을 전송 받을 지갑을 선택해 주세요.
							</label>
							<select class="form-control m-input" id="selSearchWallet">
								
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="btnSelectedCoin">
							등 록
						</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							취 소
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Modal-->

		<!--begin::Modal-->
		<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							거래자 보기
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1" style="padding:20px">
							<thead>
								<tr>
									<th>코 인</th>
									<th>거래 가격</th>
									<th>입금일</th>
									<th>닉네임</th>
									<th>거래 상태</th>
								</tr>
							</thead>
							<tbody id="mdSellList">
																				
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							확 인
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Modal-->

		<!--begin::Modal-->
		<!-- <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							New message
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1" style="padding:20px">
							<thead>
								<tr>
									<th>코 인</th>
									<th>거래 가격</th>
									<th>입금일</th>
									<th>닉네임</th>
									<th>거래 상태</th>
								</tr>
							</thead>
							<tbody id="tbodyMyBuyList">
																				
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary">
							Send message
						</button>
					</div>
				</div>
			</div>
		</div> -->
		<!--end::Modal-->

		<!-- Modal -->
		<!-- 계좌보기 모달 -->
		<div class="modal fade" id="checkAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">
							계좌 확인
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<br><p>예금주 : 주식회사 엠엔유<br>은행 : IBK 기업은행<br>입금계좌 : 078-195044-01-027</p><br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							확 인
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 지갑 선택 Modal -->
		<div class="modal fade" id="mdSelectWallet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">
							지갑 선택
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<label for="exampleSelect1">
						<p> 구매한 코인을 전송 받을 지갑을 선택해 주세요.</p>
					</label>
					<div class="modal-body">
						<select class="form-control m-input" id="listMyWallet">

						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="btnSelectWallet">
							선 택
						</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							취 소
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 닉네임 입력 Modal -->
		<div class="modal fade ui-dialog-titlebar-close" id="mdUpdateNickname" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document" id="btnClose">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							닉네임 입력
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<label>
						<p> 안전한 익명거래를 위해 사용할 닉네임을 입력해주세요..</p>
					</label>
					<div class="modal-body">
						<input type="text" class="form-control m-input" id="inpNickname" placeholder="닉네임 입력">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="btnSaveNick">
							입 력
						</button>
					</div>
				</div>
			</div>
		</div>

		<input type="hidden" id="hdContact" value=<%= user.contact%>>
		<input type="hidden" id="hdIdx" value=<%= user.id%>>
		<input type="hidden" id="hdNickname" value=<%= user.nickname%>>
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="/assets/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>

		<!-- <script src="/board/datatable_mysell.js" type="text/javascript"></script> -->
		<!--end::Page Resources -->
		<!-- begin::Page Loader -->

		<script>
			var boardId = 0;
			var wIndex = 0;
			var walletModalIndex = 0;

			
			// 닉네임 저장 버튼 클릭 시
			$("#btnSaveNick").on("click", function(){
				if (!$("#inpNickname").val()) {
					alert("닉네임을 입력해 주세요.");
					return false;
				} else {
					$.ajax({
						url: '/updatenick',
						async: true,
						type: 'POST',
						data: {
							user_idx : $("#hdIdx").val(),
							nickname : $("#inpNickname").val()
						}, // 전송할 데이터
						dataType: 'text', // xml, json, script, html
						success: function(jqXHR) {$("#mdUpdateNickname").modal('hide');}, // 요청 완료 시
					});
				}
			})


			console.log($("#hdIdx").val());
			// 상단 메뉴 초기화
			// $("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");      
			$("#aTopMenu1").addClass("  m-menu__item--active  m-menu__item--active-tab");      
			$( document ).ready(function() {
				$(".ui-button-icon-only").remove();
				$('.close').remove(); //상단 타이틀 제거
				$('.ui-resizable-handle').remove(); 

				// 구매.판매 건수 초기화
				countSell();
				countBuy()

				console.log("test");
				console.log($("hdNickname").val());
				
				// 닉네임이 없을 시, 닉네임 설정 팝업
				// if($("hdNickname").val() == '' || $("hdNickname").val() == null || $("hdNickname").val() == undefined)
				// {
				// 	$("#mdUpdateNickname").modal('show');
				// }
				

				// $.post( "/getmypoint", 
				// {
				// 	email : $("#hdSid").val()
				// },
				// function(data){
				// 	if(data[0].nRemainPoint)
				// 	{
				// 		$("#totalPoint").text(numberWithCommas(data[0].nRemainPoint + " P"));
				// 		//$("#freePoint").text(numberWithCommas(data[0].nRemainPoint + " P"));
				// 	}
				// });

				// 나의 판매내역
				$.get("/mysell/" + $("#hdIdx").val(), function(data) {
					var data = data.data;
					$("#tbodyMySellList").empty();
					for(var i=0; i<data.length; i++)
					{
						console.log(data[0]);
						// if(data[i].idx != "")
						if(data[i].idx)
						{
							var str = "";
							str += "<tr onclick=setModal("+data[i].idx+")>";
							str += "	<td scope='row'>";
							str += "		" + data[i].token_symbol;
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].token_price + " 원"; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].token_qty + " " + data[i].token_symbol; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].token_lowqty +" " + data[i].token_symbol + " (" + data[i].token_lowprice + " 원)"; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].token_proceed; 
							str += "	</td>";
							str += "	<td>";
							str += "		" +  '<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="">거래 종료</button>';
							str += "	</td>";
							// str += "	<td>";
							// 	if(data[i].trade_state == "구매신청")
							// 	{
							// 		str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="dealok('+data[i].idx+')">수 락</button>'; 
							// 		str += "		" + '<button type="button" class="btn btn-outline-danger m-btn m-btn--outline-2x">거 절</button>'; 
							// 	}
							// 	else if(data[i].trade_state == "거래승인")	
							// 	{str += "		" +  '입금 요청';}
							// 	// {str += "		" +  '<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="depositOk('+data[i].idx+')">입금 확인</button>';}
							// str += "	</td>";
							str += "</tr>";
							$("#tbodyMySellList").append(str);
						} else {
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "	</td>";
							str += "	<td rowspan='3'>";
							str += "	현재 등록된 판매 내역이 없습니다."; 
							str += "	</td>";
							str += "</tr>";
							$("#tbodyMySellList").append(str);	
						}
					}
				});

				// 나의 구매내역
				$.get("/mybuy/" +  $("#hdIdx").val(), function(data) {
					var data = data.data;
					$("#tbodyMyBuyList").empty();
					for(var i=0; i<data.length; i++)
					{
						console.log(data[0]);
						// if(data[i].idx != "")
						if(data[i].idx)
						{
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "		" + data[i].token_symbol;
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].trade_price + " 원"; 
							str += "	</td>";
							str += "	<td>";
							str += "		";
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].nickname; 
							str += "	</td>";
							str += "	<td>";
							if(data[i].trade_state == "구매신청")
							{
								str += "		" +  '구매 신청';
							}
							else if(data[i].trade_state == "거래승인")	
							{
								str += "		" +  '입금 요청';
							}
							else if(data[i].trade_state == "거래거절")	
							{
								str += "		" +  '거래 거절';
							}
							// {str += "		" +  '<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="depositOk('+data[i].idx+')">입금 확인</button>';}
							else if(data[i].trade_state == "입금요청")	
							{
								str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="depositOk('+data[i].idx+')">입 금</button>'; 
								str += "		" + '<button type="button" class="btn btn-outline-danger m-btn m-btn--outline-2x" onclick=$("#checkAccountModal").modal("show");>계좌 보기</button>';  
							}
							else if(data[i].trade_state == "입금확인")	
							{
								str += "		" +  '입금 확인';
							}
							else if(data[i].trade_state == "토큰전송요청")	
							{
								str += "		" +  '토큰전송 요청';
							}
							else if(data[i].trade_state == "토큰전송완료")	
							{
								{str += "		" +  '<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="dealcomplete('+data[i].idx+')">수 령</button>';}
							}
							else if(data[i].trade_state == "코인수령")	
							{
								str += "		" +  '대금 정산 중';
							}
							else if(data[i].trade_state == "판매대금입금")	
							{
								str += "		" +  '대금 입금 중';
							}
							else if(data[i].trade_state == "거래완료")	
							{
								str += "		" +  '거래 완료';
							}
							str += "	</td>";
							str += "</tr>";
							$("#tbodyMyBuyList").append(str);
						} else {
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "	</td>";
							str += "	<td rowspan='3'>";
							str += "	현재 등록된 판매 내역이 없습니다."; 
							str += "	</td>";
							str += "</tr>";
							$("#tbodyMyBuyList").append(str);	
						}
					}
				});
			});


			// 임시관리자
			// $.get("/tempadmin", function(data) {
			// 	var data = data.data;
			// 	$("#tempadmin").empty();
			// 	for(var i=0; i<data.length; i++)
			// 	{
			// 		// console.log(data[0]);
			// 		// if(data[i].idx != "")
			// 		if(data[i].idx)
			// 		{
			// 			var str = "";
			// 			str += "<tr>";
			// 			str += "	<td scope='row'>";
			// 			str += "		" + data[i].token_symbol;
			// 			str += "	</td>";
			// 			str += "	<td>";
			// 			str += "		" + addComma(data[i].trade_price) + " 원"; 
			// 			str += "	</td>";
			// 			str += "	<td>";
			// 			str += "		"; 
			// 			str += "	</td>";
			// 			str += "	<td>";
			// 			str += "		" + data[i].nickname; 
			// 			str += "	</td>";
			// 			str += "	<td>";
			// 			if(data[i].trade_state == "구매신청")
			// 			{
			// 				str += "		" +  '구매 신청';
			// 			}
			// 			else if(data[i].trade_state == "거래승인")	
			// 			{
			// 				str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="calldeposit('+data[i].idx+')">거래 승인</button>'; 
			// 			}
			// 			// {str += "		" +  '<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="depositOk('+data[i].idx+')">입금 확인</button>';}
			// 			else if(data[i].trade_state == "입금요청")	
			// 			{
			// 				str += "		" +  '입금 요청';
			// 			}
			// 			else if(data[i].trade_state == "입금확인")	
			// 			{
			// 				str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="callSendToken('+data[i].idx+')">입금 확인</button>'; 
			// 			}
			// 			else if(data[i].trade_state == "토큰전송요청")	
			// 			{
			// 				str += "		" +  '토큰전송 요청';
			// 			}
			// 			else if(data[i].trade_state == "토큰전송완료")	
			// 			{
			// 				str += "		" +  '토큰전송 완료';
			// 			}
			// 			else if(data[i].trade_state == "거래완료")	
			// 			{
			// 				str += "		" +  '거래 완료';
			// 			}
			// 			str += "	</td>";
			// 			str += "</tr>";
			// 			$("#tempadmin").append(str);
			// 		} else {
			// 			var str = "";
			// 			str += "<tr>";
			// 			str += "	<td scope='row'>";
			// 			str += "	</td>";
			// 			str += "	<td rowspan='3'>";
			// 			str += "	현재 등록된 판매 내역이 없습니다."; 
			// 			str += "	</td>";
			// 			str += "</tr>";
			// 			$("#tempadmin").append(str);	
			// 		}
			// 	}
			// });

			// 지갑 목록 초기화
			function loadWlist(index){
				wIndex = index;
				$.get( "/mywallets/" + $("#hdIdx").val(), function(jqXHR) { 
					if (!jqXHR.data.length) {
						alert("등록 된 지갑이 없습니다.\n지갑 등록페이지로 이동합니다.");
						location.href = "/my_wallet";
					} else {
						var data = jqXHR.data;
						var objWallet = "";
						// objWallet += "<span class='m-list-search__result-message m--hide'>";
						// objWallet += "	등록 된 지갑이 없습니다.";
						// objWallet += "</span>";
						objWallet += "<span class='m-list-search__result-category m-list-search__result-category--first'>";
						objWallet += "	내 지갑";
						objWallet += "</span>	";

						// 리스트 초기화
						$("#listMyWallet").empty();
						$("#listMyWallet").append(objWallet);
						
						for(var i=0; i<data.length; i++)
						{
							var temp = data[i].token_wallet_address;
							objWallet = "<option value='"+data[i].token_wallet_address+"/"+data[i].idx+"'>";
							objWallet += "<a href='#' class='m-list-search__result-item'>";
							objWallet += "	<span class='m-list-search__result-item-icon'>";
							objWallet += "		<i class='fa fa-wallet'></i>";
							objWallet += "	</span>";
							objWallet += "	<span class='m-list-search__result-item-text'>";
							objWallet += "  [" + data[i].token_symbol + "]  " + temp.substr(0, 23) + "...";
							objWallet += "	</span>";
							objWallet += "</a>";
							objWallet += "</option>";
							
							$("#listMyWallet").append(objWallet);
						}
					}
					
				}, 'json' /* xml, text, script, html */)

				$("#mdSelectWallet").modal("show");
				return true;
			}

			// 지갑 선택 저장
			$("#btnSelectWallet").on("click", function(){
				console.log($("#listMyWallet option:selected").val());

				$.ajax({
					url: '/depositok', // 요청 할 주소
					async: false, // false 일 경우 동기 요청으로 변경
					type: 'POST', // GET, PUT
					data: {
						idx: wIndex,
						wAddress : $("#listMyWallet option:selected").val().split("/")[0],
						wIndex : $("#listMyWallet option:selected").val().split("/")[1]
					}, // 전송할 데이터
					dataType: 'json', // xml, json, script, html
					beforeSend: function(jqXHR) {
						$.post(
							"/getDealInfo", 
							{ 
								dealIndex : walletModalIndex
							}, function(data){
								dealData = data.data[0];
								$.post(
								"/sendlms", 
								{ 
									state : 3,
									// dealNumber : ,
									dealPrice : dealData.dealPrice,
									dealCoin : dealData.dealCoin,
									dealCount : dealData.dealCount,

									sellerName : dealData.sellerName,
									sellerPhone : dealData.sellerPhone,
									sellerBank : dealData.sellerBank,
									sellerAccount : dealData.sellerAccount,

									buyerName : dealData.buyerName,
									buyerPhone : dealData.buyerPhone,
									buyerBank : dealData.buyerBank,
									buyerAccount : dealData.buyerAccount,
									buyerWaddress : dealData.buyerWaddress
								}, 'json')
							}, 'json')
						$("#mdSelectWallet").modal("hide");
					}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
					success: function(jqXHR) {}, // 요청 완료 시
					error: function(jqXHR) {}, // 요청 실패.
					complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
				})
				location.reload();
			})
			

			function numberWithCommas(x) {
				return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}
            $(window).on('load', function() {
                $('body').removeClass('m-page--loading');         
            });


			$("#btnPassword").on("click", function(){
				$("#mdPassword").modal("show");
			})

			// 비밀번호 변경하기
			$("#btnPasswordOK").on("click", function(){
				if (confirm("비밀번호를 변경하시겠습니까?")) {
					$("#mdPassword").modal("hide");	
				}
			})

			// 검색 페이지
			$("#m_quicksearch_input").keydown(function(key) {
				if (key.keyCode == 13) {
					location.href ="search.html";					
				}
			});

			// 3자리 콤마 찍기
			function addComma(num) {
				var regexp = /\B(?=(\d{3})+(?!\d))/g;
				return num.toString().replace(regexp, ',');
			}

			// 판매 건 수
			function countSell(){
				$.post( "/countsell", {
					idx: $("#hdIdx").val()
				}, function(jqXHR) {
					console.log(jqXHR);
					$("#pCountSell").text(jqXHR.data[0].data + " 건");
					// location.reload();
				}, 'json' /* xml, text, script, html */)
			}

			// 구매 건 수
			function countBuy(){
				$.post( "/countbuy", {
					idx: $("#hdIdx").val()
				}, function(jqXHR) {
					$("#pCountBuy").text(jqXHR.data[0].data + " 건");
					// location.reload();
				}, 'json' /* xml, text, script, html */)
			}

            // $(".btn-brand").on("click", function(){
			// 	if (confirm("게시글을 등록하시겠습니까?")) {
			// 		alert("글이 등록되었습니다.");
			// 		location.href = "/coin_community";	
			// 	}
			// })
			
			// $(".btn-secondary").on("click", function(){
			// 	if (confirm("등록을 취소 하시겠습니까?")) {
			// 		location.href = "/coin_community";	
			// 	}
			// })

			// $("button[name=btnShowAccount]").on("click", function(){
			// 	$("#checkAccountModal").modal("show");
			// })
			
			// 1. 거래 승인
			function dealok(index){
				if (!confirm("거래를 수락하시겠습니까?")) {
					
					return false;
				}
				else 
				{
					if(!index){
						return false;
					} else {
						$.ajax({
							url: '/dealok', // 요청 할 주소
							async: false, // false 일 경우 동기 요청으로 변경
							type: 'POST', // GET, PUT
							data: {
								idx: index
							}, // 전송할 데이터
							dataType: 'text', // xml, json, script, html
							beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
							success: function(jqXHR) {
								$.post(
									"/getDealInfo", 
									{ 
										dealIndex : index
									}, function(data){
										dealData = data.data[0];
										$.post(
										"/sendlms", 
										{ 
											state : 2,
											// dealNumber : ,
											dealPrice : dealData.dealPrice,
											dealCoin : dealData.dealCoin,
											dealCount : dealData.dealCount,

											sellerName : dealData.sellerName,
											sellerPhone : dealData.sellerPhone,
											sellerBank : dealData.sellerBank,
											sellerAccount : dealData.sellerAccount,

											buyerName : dealData.buyerName,
											buyerPhone : dealData.buyerPhone,
											buyerBank : dealData.buyerBank,
											buyerAccount : dealData.buyerAccount,
											buyerWaddress : dealData.buyerWaddress
										}, 'json')
									}, 'json')
							}, // 요청 완료 시
							error: function(jqXHR) {}, // 요청 실패.
							complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
						})
					};
				}
				
				location.reload();
			}

			// 1. 거래 거절
			function dealno(index){
				if (!confirm("거래를 거절하시겠습니까?")) {
					
					return false;
				}
				else 
				{
					if(!index){
						return false;
					} else {
						$.ajax({
							url: '/nodeal', // 요청 할 주소
							async: false, // false 일 경우 동기 요청으로 변경
							type: 'POST', // GET, PUT
							data: {
								idx: index
							}, // 전송할 데이터
							dataType: 'text', // xml, json, script, html
							beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
							success: function(jqXHR) {
								$.post(
									"/getDealInfo", 
									{ 
										dealIndex : index
									}, function(data){
										dealData = data.data[0];
										$.post(
										"/sendlms", 
										{ 
											state : 3,
											// dealNumber : ,
											dealPrice : dealData.dealPrice,
											dealCoin : dealData.dealCoin,
											dealCount : dealData.dealCount,

											sellerName : dealData.sellerName,
											sellerPhone : dealData.sellerPhone,
											sellerBank : dealData.sellerBank,
											sellerAccount : dealData.sellerAccount,

											buyerName : dealData.buyerName,
											buyerPhone : dealData.buyerPhone,
											buyerBank : dealData.buyerBank,
											buyerAccount : dealData.buyerAccount,
											buyerWaddress : dealData.buyerWaddress
										}, 'json')
									}, 'json')
							}, // 요청 완료 시
							error: function(jqXHR) {}, // 요청 실패.
							complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
						})
					};
				}
				
				location.reload();
			}

			// 2. 입금 요청
			// function calldeposit(index){
			// 	console.log("calldeposit");
			// 	if (!confirm("입금을 요청하시겠습니까?")) {
					
			// 		return false;
			// 	}
			// 	else {
			// 		console.log("요청");
			// 		if(!confirm("등록되어있는 계좌로 입금 받으시겠습니까?")){
			// 			console.log("취소");
			// 			return false;
			// 		} else {
			// 			console.log("요청");
			// 			console.log("index = " + index);

			// 			if(!index){
			// 				return false;
			// 			} else {
			// 				console.log("ajax");

			// 				$.post( "/calldeposit", {
			// 					idx: index
			// 				}, function(jqXHR) {
			// 					location.reload();
			// 				}, 'json' /* xml, text, script, html */)

			// 				// 알림문자 발송
			// 				$.post(
			// 				"/getDealInfo", 
			// 				{ 
			// 					dealIndex : jqXHR[0]
			// 				}, function(data){
			// 					dealData = data.data[0];
			// 					$.post(
			// 					"/sendlms", 
			// 					{ 
			// 						state : "거래승인",
			// 						// dealNumber : ,
			// 						dealPrice : dealData.dealPrice,
			// 						dealCoin : dealData.dealCoin,
			// 						dealCount : dealData.dealCount,

			// 						sellerName : dealData.sellerName,
			// 						sellerPhone : dealData.sellerPhone,
			// 						sellerBank : dealData.sellerBank,
			// 						sellerAccount : dealData.sellerAccount,

			// 						buyerName : dealData.buyerName,
			// 						buyerPhone : dealData.buyerPhone,
			// 						buyerBank : dealData.buyerBank,
			// 						buyerAccount : dealData.buyerAccount,
			// 						buyerWaddress : dealData.buyerWaddress
			// 					}, 'json')
			// 				}, 'json')
			// 			}
			// 		}
			// 	}
			// 	// location.reload();
			// }

			// 3. 입금확인
			function depositOk(index){
				if (!confirm("입금을 하셨습니까?")) {					
					return false;
				}
				else 
				{
					loadWlist(index);
				}
				// location.reload();
			}

			// 지갑 선택 시
			// $("#btnSelectWallet").on("click", function(){
			// 	$.ajax({
			// 		url: '/depositok', // 요청 할 주소
			// 		async: false, // false 일 경우 동기 요청으로 변경
			// 		type: 'POST', // GET, PUT
			// 		data: {
			// 			idx: index,
			// 			wAddress: $("#listMyWallet").val(),
			// 			wIndex: index
			// 		}, // 전송할 데이터
			// 		dataType: 'json', // xml, json, script, html
			// 		beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
			// 		success: function(jqXHR) {location.reload();}, // 요청 완료 시
			// 		error: function(jqXHR) {}, // 요청 실패.
			// 		complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
			// 	});
			// })

			// 4.토큰전송 요청
			function callSendToken(index){
				if (!confirm("토큰 발송을 요청하시겠습니까?")) {
					
					return false;
				}
				else {
					console.log("수락");
					if(!confirm("등록되어있는 지갑으로 전달 받으시겠습니까?")){
						console.log("취소");
						return false;
					} else {
						console.log("요청");
						console.log("index = " + index);
						if(!index){
							return false;
						} else {
							$.ajax({
								url: '/callSendToken', // 요청 할 주소
								async: false, // false 일 경우 동기 요청으로 변경
								type: 'POST', // GET, PUT
								data: {
									idx: index
								}, // 전송할 데이터
								dataType: 'jaon', // xml, json, script, html
								beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
								success: function(jqXHR) {
									$.post(
										"/getDealInfo", 
										{ 
											dealIndex : index
										}, function(data){
											dealData = data.data[0];
											$.post(
											"/sendlms", 
											{ 
												state : 4,
												// dealNumber : ,
												dealPrice : dealData.dealPrice,
												dealCoin : dealData.dealCoin,
												dealCount : dealData.dealCount,

												sellerName : dealData.sellerName,
												sellerPhone : dealData.sellerPhone,
												sellerBank : dealData.sellerBank,
												sellerAccount : dealData.sellerAccount,

												buyerName : dealData.buyerName,
												buyerPhone : dealData.buyerPhone,
												buyerBank : dealData.buyerBank,
												buyerAccount : dealData.buyerAccount,
												buyerWaddress : dealData.buyerWaddress
											}, 'json')
										}, 'json')
								}, // 요청 완료 시
								error: function(jqXHR) {}, // 요청 실패.
								complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
							})
						};
					}
				}
				location.reload();
			}

			// 5. 토큰전송 완료
			function sendTokenok(index){
				if (!confirm("코인을 발송하셨습니까?")) {
					
					return false;
				}
				else {
					console.log("발송");
					if(!confirm("상대방이 코인전달을 확인 시, 금액이 입금됩니다.")){
						console.log("취소");
						return false;
					} else {
						console.log("입금");
						console.log("index = " + index);
						if(!index){
							return false;
						} else {
							$.ajax({
								url: '/sendtokenok', // 요청 할 주소
								async: false, // false 일 경우 동기 요청으로 변경
								type: 'POST', // GET, PUT
								data: {
									idx: index
								}, // 전송할 데이터
								dataType: 'json', // xml, json, script, html
								beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
								success: function(jqXHR) {
									$.post(
										"/getDealInfo", 
										{ 
											dealIndex : index
										}, function(data){
											dealData = data.data[0];
											$.post(
											"/sendlms", 
											{ 
												state : 5,
												// dealNumber : ,
												dealPrice : dealData.dealPrice,
												dealCoin : dealData.dealCoin,
												dealCount : dealData.dealCount,

												sellerName : dealData.sellerName,
												sellerPhone : dealData.sellerPhone,
												sellerBank : dealData.sellerBank,
												sellerAccount : dealData.sellerAccount,

												buyerName : dealData.buyerName,
												buyerPhone : dealData.buyerPhone,
												buyerBank : dealData.buyerBank,
												buyerAccount : dealData.buyerAccount,
												buyerWaddress : dealData.buyerWaddress
											}, 'json')
										}, 'json')
								}, // 요청 완료 시
								error: function(jqXHR) {}, // 요청 실패.
								complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
							})
						};
					}
				}
				location.reload();
			}

			
			// 6. 거래 완료
			function dealcomplete(index){
				if (!confirm("코인을 수령하셨습니까?")) {
					
					return false;
				}
				else {
					console.log("수락");
					if(!confirm("수령 확인 후, 상대방에게 대금이 지불됩니다.\n지급 후에는 환불이 되지 않습니다.")){
						console.log("취소");
						return false;
					} else {
						console.log("확인");
						console.log("index = " + index);
						if(!index){
							return false;
						} else {
							$.ajax({
								url: '/dealcomplete', // 요청 할 주소
								async: false, // false 일 경우 동기 요청으로 변경
								type: 'POST', // GET, PUT
								data: {
									idx: index
								}, // 전송할 데이터
								dataType: 'json', // xml, json, script, html
								beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
								success: function(jqXHR) {}, // 요청 완료 시
								error: function(jqXHR) {}, // 요청 실패.
								complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
							})
						};
					}
				}
				location.reload();
			}

			// 7. 거래 완료
			function dealcomplete2(index){
				if (!confirm("코인을 수령하셨습니까?")) {
					
					return false;
				}
				else {
					console.log("수락");
					if(!confirm("수령 확인 후, 상대방에게 대금이 지불됩니다.\n지급 후에는 환불이 되지 않습니다.")){
						console.log("취소");
						return false;
					} else {
						console.log("확인");
						console.log("index = " + index);
						if(!index){
							return false;
						} else {
							$.ajax({
								url: '/dealcomplete2', // 요청 할 주소
								async: false, // false 일 경우 동기 요청으로 변경
								type: 'POST', // GET, PUT
								data: {
									idx: index
								}, // 전송할 데이터
								dataType: 'json', // xml, json, script, html
								beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
								success: function(jqXHR) {}, // 요청 완료 시
								error: function(jqXHR) {}, // 요청 실패.
								complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
							})
						};
					}
				}
				location.reload();
			}


			// 입금 확인
			// function dealok(index){
			// 	if (!confirm("거래를 수락하시겠습니까?")) {
					
			// 		return false;
			// 	}
			// 	else {
			// 		console.log("수락");
			// 		if(!confirm("등록되어있는 계좌로 입금 받으시겠습니까?")){
			// 			console.log("취소");
			// 			return false;
			// 		} else {
			// 			console.log("입금");
			// 			$.ajax({
			// 				url: '/buysells/' + index, // 요청 할 주소
			// 				async: false, // false 일 경우 동기 요청으로 변경
			// 				type: 'PUT', // GET, PUT
			// 				data: {
			// 					idx: index,
			// 					trade_state: "거래승인"
			// 				}, // 전송할 데이터
			// 				dataType: 'text', // xml, json, script, html
			// 				beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
			// 				success: function(jqXHR) {}, // 요청 완료 시
			// 				error: function(jqXHR) {}, // 요청 실패.
			// 				complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
			// 			});
			// 		}
			// 	}
			// 	// location.reload();
			// }

			// function depositOk(index){
			// 	if(!confirm("입금을 하셨습니까?")){
			// 		return false;
			// 	} else {
			// 		$("#mdSearchWallet").modal("show");
			// 	}
			// }

			function setModal(index){
				console.log("index = " + index);
				boardId = index;

				// 나의 구매내역
				console.log("boardId = " + index);
				$.get("/mysell/0/" + index, function(data) {
					// var data = data.data;
					$("#mdSellList").empty();
					for(var i=0; i<data.length; i++)
					{
						console.log(data[0]);
						// if(data[i].idx != "")
						if(data[i].idx)
						{
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "		" + data[i].token_symbol;
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].trade_price; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].trade_date; 
							str += "	</td>";
							str += "	<td>";
							str += "		";
							str += "	</td>";
							str += "	<td>";
								if(data[i].trade_state == "구매신청")
								{
									str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="dealok('+data[i].idx+')">수 락</button>'; 
									str += "		" + '<button type="button" class="btn btn-outline-danger m-btn m-btn--outline-2x" onclick="dealno('+data[i].idx+')">거 절</button>'; 
								}
								else if(data[i].trade_state == "거래승인")	
								{
									str += "		" +  '입금 요청';
								}
								else if(data[i].trade_state == "거래거절")	
								{
									str += "		" +  '거래 거절';
								}
								// {str += "		" +  '<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="depositOk('+data[i].idx+')">입금 확인</button>';}
								else if(data[i].trade_state == "입금요청")	
								{
									str += "		" +  '입금 요청';
								}
								else if(data[i].trade_state == "입금확인")	
								{
									str += "		" +  '입금 확인';
								}
								else if(data[i].trade_state == "토큰전송요청")	
								{
									str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="sendTokenok('+data[i].idx+')">발 송</button>'; 
								}
								else if(data[i].trade_state == "코인수령")	
								{
									str += "		" +  '대금 정산 중';
								}
								else if(data[i].trade_state == "토큰전송완료")	
								{
									str += "		" +  '토큰전송 완료';
								}
								else if(data[i].trade_state == "판매대금입금")	
								{
									str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="dealcomplete2('+data[i].idx+')">입금 확인</button>'; 
								}
								else if(data[i].trade_state == "거래완료")	
								{
									str += "		" +  '거래 완료';
								}
							str += "	</td>";
							str += "</tr>";
							$("#mdSellList").append(str);
						} else {
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "	</td>";
							str += "	<td rowspan='3'>";
							str += "	현재 등록된 판매 내역이 없습니다."; 
							str += "	</td>";
							str += "</tr>";
							$("#mdSellList").append(str);	
						}
					}
				});

				$('#m_modal_4').modal('show');
			}


        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
