<% include header.ejs %>
	<!-- end::Head -->
    <!-- begin::Body -->
		<% include topmenu.ejs %>
			<!--begin::Modal-->
			<div class="modal fade" id="modalAddpoint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								포인트 충전
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<div>
								<p>하단에서 원하시는 충전 금액을 선택 후, 하단의 계좌로 입금해 주세요.</p>
							</div>
							<div>
								<select class="form-control m-input" id="exampleSelect1">
									<option>
										5,000 원
									</option>
									<option>
										10,000 원
									</option>
									<option>
										30,000 원
									</option>
									<option>
										50,000 원
									</option>
									<option>
										70,000 원
									</option>
									<option>
										100,000 원
									</option>
								</select>
							</div>
							<div>
								<br><p>예금주 : 주식회사 엠엔유<br>은행 : IBK 기업은행<br>입금계좌 : 078-195044-01-027</p><br>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">
								취 소
							</button>
							<button type="button" class="btn btn-primary">
								신 청
							</button>
						</div>
					</div>
				</div>
			</div>
			<!--end::Modal-->
			
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									나의 포인트 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												홈
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												마이페이지
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
					<!-- BEGIN: 컨텐츠 -->
					<div class="m-content">
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-3 col-lg-4">
								<div class="m-portlet m-portlet--full-height  ">
									<div class="m-portlet__body">
										<div class="m-card-profile">
											<div class="m-card-profile__title m--hide">
												나의 프로필
											</div>
											<div class="m-card-profile__pic">
												<div class="m-card-profile__pic-wrapper">
													<img src="/assets/img/users/images.png" alt=""/>
												</div>
											</div>
											<div class="m-card-profile__details">
												<span class="m-card-profile__name">
													<%= user.name%>
												</span>
												<a href="" class="m-card-profile__email m-link">
													<%= user.email%>
												</a>
											</div>
											<div style="text-align: center; margin-top: 10px">
												<button type="button" class="btn btn-outline-info" id="btnAddpoint">
													+ 포인트 충전
												</button>
											</div>
										</div>
										<div class="m-portlet__body-separator"></div>
										<div class="m-widget1 m-widget1--paddingless">
											<div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<h3 class="m-widget1__title">
															포인트 현황
														</h3>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-warning">
															<p id="totalPoint">0 P</p>														
														</span>
													</div>
												</div>
											</div>
											<!-- <div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<span class="m-widget1__desc">
															구매 포인트
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-success">
															<!--p id="buyPoint"></p> P>0 P	
														</span>
													</div>
												</div>
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<span class="m-widget1__desc">
															리워드 포인트
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-info" id="freePoint">
															<p id="freePoint">0 P</p>	
														</span>
													</div>
												</div>
											</div> -->
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-lg-8">
								<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-tools">
											<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
														<i class="flaticon-share m--hide"></i>
														포인트
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="tab-content">
										<!-- <div class="m-portlet m-portlet--mobile" style="widows: 100%; min-width: 1500px;"> -->
									<div class="m-portlet m-portlet--mobile" style="width:100%">
											<!-- <a href="#"><img class="banner" src="http://via.placeholder.com/1700x100" style="width:100%"></a> -->
											<div class="m-portlet__body">
												<div class="m-portlet m-portlet--mobile">
													<div class="m-portlet__body">
														<!--begin: Datatable -->
														<!--table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1"-->
														<table class="table table-striped- table-bordered table-hover">
															<thead style="border : 1px solid ">
																<tr>
																	<th>구 분</th>
																	<th>사용 포인트</th>
																	<th>추천인</th>
																	<!--th>잔여 포인트</th-->
																	<th>내 역</th>
																	<th>일 시</th>
																</tr>
															</thead>
															<tbody id="tPointBody">
																
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->
		
		<input type="hidden" id="hdContact" value=<%= user.contact%>>
		<input type="hidden" id="hdEmail" value=<%= user.email%>>
		<input type="hidden" id="hdUserId" value=<%= user.id %>>
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
		
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <!--script src="/assets/app/datatable/html-table.js" type="text/javascript"></script-->
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="/assets/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');     
				$("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");            
			});

			$( document ).ready(function() {
				// 메뉴 초기화
				$("#aTopMenu6").addClass("  m-menu__item--active  m-menu__item--active-tab");

				// 포인트 초기화
				console.log($("#hdUserId").val());
				$.post( "/getmypoint", 
				{
					user_idx : $("#hdUserId").val()
				},
				function(data){
					if(data[0].nRemainPoint)
					{
						$("#totalPoint").text(numberWithCommas(data[0].nRemainPoint + " P"));
					}
				});
			});

			// $(document).ready(function() {
			// 	// $("#m_table_1").DataTable().ajax.reload();
			// 	// readReport();
			// })

			
			// var connection = mysql.createConnection({
			// 	host:"coin25newdb.c9uwgsjsgybw.ap-northeast-2.rds.amazonaws.com",
			// 	database:"coin25db",
			// 	user:"coin25admin",
			// 	password:"korea201806"
			// });

			//console.log("/points/" + $("#hdContact").val());

			$.post(
				"/mypoints", 
				{ 
					user_idx : $("#hdUserId").val()
				},
				function(data)
				{
						console.log(data.length);
					for(var i=0; i<data.length; i++)
					{
						if(data[i].state_div != "null")
						{
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "		" + data[i].state_div;
							str += "	</td>";
							str += "	<td>";
							str += "		" + numberWithCommas(parseInt(data[i].used_point)) + " P"; 
							str += "	</td>";
							// str += "	<td>";
							// str += "		" + numberWithCommas(parseInt(raw[i].nRemainPoint)) + " P";
							// str += "	</td>";
							// str += "	<td>";
							// str += "";
							// str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].recommend_name + "*";
							str += "	</td>";
							str += "	<td>";
							str += 			data[i].point_detail;
							str += "	</td>";
							str += "	<td>";
							str += "		" + moment(data[i].createdAt).format('YYYY-MM-DD HH:mm');
							str += "	</td>";
							str += "</tr>";
							$("#tPointBody").append(str);
						} else {
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "	</td>";
							str += "	<td rowspan='3'>";
							str += "	현재 등록된 포인트 내역이 없습니다."; 
							str += "	</td>";
							str += "</tr>";
							$("#tPointBody").append(str);	
						}
					}
				}
			);


		// function readReport()
		// {
		// 	var req = new XMLHttpRequest();
		// 	var url = '/points';
		// 	req.open('GET', url);
		// 	req.send();

		// 	req.onreadystatechange = function (e) {
		// 		console.log("1");
		// 		if (req.readyState === XMLHttpRequest.DONE) {
		// 			console.log("2");
		// 			if(req.status === 200) {
		// 				console.log("3");
		// 				// 리스트 만들기
		// 				// var jsonResponse = JSON.parse(req.responseText);
		// 				var jsonResponse = JSON.parse(req.responseText);
		// 				for(var i=0; i<jsonResponse.length; i++){	
		// 					console.log("4");
		// 					// 그룹 리스트
		// 					var tr = document.createElement("tr");
		// 					const time = new Date(jsonResponse[i].createdAt);
		// 					var strHtml = "";
		// 					strHtml += "<td>" + jsonResponse[i].sState + "</td>";

		// 					console.log(strHtml);

		// 					//tr.innerHTML = strHtml;
		// 					//tr.setAttribute("onclick", "setChildValue(" + jsonResponse[i].id + ")");
		// 					document.getElementById('tPointBody').appendChild(tr);
		// 				}
		// 			} 
		// 			else 
		// 			{
		// 				console.log("Error!");
		// 			}
		// 		}
		// 	};	
		// }


			// 	$.ajax({
			// 		url: '/users' // 요청 할 주소
			// 		async: false, // false 일 경우 동기 요청으로 변경
			// 		type: 'GET' // GET, PUT
			// 		data: {
			// 			Name: 'ajax',
			// 			Age: '10'
			// 		}, // 전송할 데이터
			// 		dataType: 'json', // xml, json, script, html
			// 		beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
			// 		success: function(jqXHR) {
			// 			console.log(jqXHR);
			// 		var content = "";
			// 		content += "<tr>";
			// 		content += "	<th scope='row'>";
			// 		content += "		" + jqXHR.sState;
			// 		content += "	</th>";
			// 		content += "	<td>";
			// 		content += "		" + jqXHR.nUsedPoint;
			// 		content += "	</td>";
			// 		content += "	<td>";
			// 		content += "		" + jqXHR.nRemainPoint;
			// 		content += "	</td>";
			// 		content += "	<td>";
			// 		content += "		" + jqXHR.sDetail;
			// 		content += "	</td>";
			// 		content += "	<td>";
			// 		content += "		" + jqXHR.createdAt;
			// 		content += "	</td>";
			// 		content += "</tr>";	
						
			// 		$("#dvBody").append(content);
			// 		}, // 요청 완료 시
			// 		error: function(jqXHR) {}, // 요청 실패.
			// 		complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
			// 	});
			// });



			

			//select
			// var query = connection.query("select * from point_mastertbls order by id desc",function(err,results){

			// 	//display error
			// 	if(err){
			// 		console.log(err);
			// 		return;
			// 	}

			// 	//get rows
			// 	var temp = "";
			// 	for(var i in results){
			// 		temp = "<tr><th scope='row'>" + results[i].sState + "</th><td>" + results[i].nUsedPoint +"</td><td>" + results[i].nRemainPoint + "</td><td>" + results[i].sDetail + "</td><td>" + results[i].createdAt + "</td><tr>";
			// 		$("#tPointBody").append(temp);
				
			// 		//console.log(results[i].sId + " " + results[i].contact);
			// 	}
			// });

			// $( document ).ready(function() {
			// 	// $("#m_table_1").DataTable().ajax.url("/points").load(null, false);

			// 	$.ajax({
			// 		url: '/users' // 요청 할 주소
			// 		async: false, // false 일 경우 동기 요청으로 변경
			// 		type: 'GET' // GET, PUT
			// 		data: {
			// 			Name: 'ajax',
			// 			Age: '10'
			// 		}, // 전송할 데이터
			// 		dataType: 'json', // xml, json, script, html
			// 		beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
			// 		success: function(jqXHR) {
			// 			console.log(jqXHR);
			// 		var content = "";
			// 		content += "<tr>";
			// 		content += "	<th scope='row'>";
			// 		content += "		" + jqXHR.sState;
			// 		content += "	</th>";
			// 		content += "	<td>";
			// 		content += "		" + jqXHR.nUsedPoint;
			// 		content += "	</td>";
			// 		content += "	<td>";
			// 		content += "		" + jqXHR.nRemainPoint;
			// 		content += "	</td>";
			// 		content += "	<td>";
			// 		content += "		" + jqXHR.sDetail;
			// 		content += "	</td>";
			// 		content += "	<td>";
			// 		content += "		" + jqXHR.createdAt;
			// 		content += "	</td>";
			// 		content += "</tr>";	
						
			// 		$("#dvBody").append(content);
			// 		}, // 요청 완료 시
			// 		error: function(jqXHR) {}, // 요청 실패.
			// 		complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
			// 	});
			// });
			
			function numberWithCommas(x) {
				return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}

            // $(".btn-brand").on("click", function(){
			// 	if (confirm("게시글을 등록하시겠습니까?")) {
			// 		alert("글이 등록되었습니다.");
			// 		location.href = "/coin_community";	
			// 	}
			// })
			
			// $(".btn-secondary").on("click", function(){
			// 	if (confirm("등록을 취소 하시겠습니까?")) {
			// 		location.href = "/coin_community";	
			// 	}
            // })

			$("#btnAddpoint").on("click", function(){
				// $("#modalAddpoint").modal();
				$("#mdPointAlert").modal("show");
			})

			// function numberWithCommas(x) {
    		// 	return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			// }
			
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
