<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->		
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									나의 코인지갑 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												홈
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												마이페이지
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
					<!-- BEGIN: 컨텐츠 -->
					<div class="m-content">
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-3 col-lg-4">
								<div class="m-portlet m-portlet--full-height  ">
									<div class="m-portlet__body">
										<!--begin::Section-->
										<div class="m-section m-section--last">
											<div class="m-section__content">
												<!--begin::Preview-->
												<div class="m-demo">
													<div class="m-demo__preview">
														<div class="m-list-search">
															<div class="m-list-search__results" id="listMyWallet">
																															
															</div>
														</div>
													</div>
												</div>
												<!--end::Preview-->
											</div>
										</div>
										<!--end::Section-->
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-lg-8">
								<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-tools">
											<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
														<i class="flaticon-share m--hide"></i>
														지갑 정보
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane active" id="m_user_profile_tab_1">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<div class="form-group m-form__group row">
														<div class="col-10 ml-auto">
															<h3 class="m-form__section">
																지갑 정보
															</h3>
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">
															종 류
														</label>
														<div class="col-7">
															<select class="form-control m-input" id="selCoin">

															</select>
														</div>
													</div>
													<!-- <div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">
															지갑 이름
														</label>
														<div class="col-7">
															<input class="form-control m-input" type="text" value="내 지갑">
														</div>
													</div> -->
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">
															지갑 주소
														</label>
														<div class="col-7">
															<input class="form-control m-input" type="text" id="inpWalletAddress">
														</div>
													</div>														
												</div>
												<div class="m-portlet__foot m-portlet__foot--fit">
													<div class="m-form__actions">
														<div class="row">
															<div class="col-2"></div>
															<div class="col-7" style="text-align: right">
																<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom" id="btnAddWallet">
																	저 장
																</button>
																&nbsp;&nbsp;
																<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
																	취 소
																</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="tab-pane " id="m_user_profile_tab_2"></div>
										<div class="tab-pane " id="m_user_profile_tab_3"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->

		<input type="hidden" id="userindex" value=<%= user.id%>>
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="/assets/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');  
				$("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");                   
			});
			
			$(document).ready(function(){
				// 지갑정보 초기화
				$.get( "/tokeninfos", function(jqXHR) { 
					var data = jqXHR.data;

					// console.log(data);
					$("#selCoin").empty();
					for(var i=0; i<data.length; i++)
					{
						// console.log(data[i].idx);
						$("#selCoin").append("<option value='"+data[i].idx+"'>" + data[i].token_krname + " (" + data[i].token_symbol + ")" + "</option>");
					}
					
				}, 'json' /* xml, text, script, html */)

				loadWlist();
			})

			// 지갑정보 저장
			$("#btnAddWallet").on("click", function(){
				if(!$("#inpWalletAddress").val()){
					alert("지갑주소를 입력해 주세요.");
				} else {
					var textCoin = $("#selCoin option:selected").text().split(" (");
					$.post( "/mywallets", {
						token_idx : $("#selCoin").val(),
						token_wallet_address : $("#inpWalletAddress").val(),
						user_idx : $("#userindex").val(),
						token_symbol : textCoin[1].slice(0,-1)
					}, function(jqXHR) {
						alert("지갑이 저장되었습니다.");
						loadWlist();
					}, 'json' /* xml, text, script, html */)
				}
			})

			// 지갑 리스트 불러오기
			function loadWlist(){
				$.get( "/mywallets/" + $("#userindex").val(), function(jqXHR) { 
					var data = jqXHR.data;
					var objWallet = "";
					objWallet += "<span class='m-list-search__result-message m--hide'>";
					objWallet += "	등록 된 지갑이 없습니다.";
					objWallet += "</span>";
					objWallet += "<span class='m-list-search__result-category m-list-search__result-category--first'>";
					objWallet += "	내 지갑";
					objWallet += "</span>	";

					// 리스트 초기화
					$("#listMyWallet").empty();
					$("#listMyWallet").append(objWallet);
					
					for(var i=0; i<data.length; i++)
					{
						var temp = data[i].token_wallet_address;
						objWallet = "";
						objWallet += "<a href='#' class='m-list-search__result-item'>";
						objWallet += "	<span class='m-list-search__result-item-icon'>";
						objWallet += "		<i class='fa fa-wallet'></i>";
						objWallet += "	</span>";
						objWallet += "	<span class='m-list-search__result-item-text'>";
						objWallet += "  [" + data[i].token_symbol + "]" + temp.substr(0, 23) + "...";
						objWallet += "	</span>";
						objWallet += "</a>";
						
						$("#listMyWallet").append(objWallet);
					}
					
				}, 'json' /* xml, text, script, html */)
			}

			function editWallet(index){
				$.get( "/mywallets/" + $("#userindex").val() + "/" + index, function(jqXHR) { 
					
					
				}, 'json' /* xml, text, script, html */)
			}

            // $(".btn-brand").on("click", function(){
			// 	if (confirm("게시글을 등록하시겠습니까?")) {
			// 		alert("글이 등록되었습니다.");
			// 		location.href = "coin_community.html";	
			// 	}
			// })
			
			// $(".btn-secondary").on("click", function(){
			// 	if (confirm("등록을 취소 하시겠습니까?")) {
			// 		location.href = "coin_community.html";	

			// 	}
            // })
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
