<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
		<title>
			COIN25
		</title>
		<meta name="description" content="일등 암호화폐 P2P 거래소 - 코인25">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

        <!--begin::Base Styles -->  
        <!--begin::Page Vendors -->
		<!--end::Page Vendors -->
		<link href="/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/base/custom.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/assets/img/logo/favicon.ico" />
</head>
<body>
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: 서브헤더 -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">
                            공지사항 작성 
                        </h3>
                    </div>
                    <div><!--
                        <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                            <span class="m-subheader__daterange-label">
                                <span class="m-subheader__daterange-title"></span>
                                <span class="m-subheader__daterange-date m--font-brand"></span>
                            </span>
                            <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                <i class="la la-angle-down"></i>
                            </a>
                        </span>-->
                    </div>
                </div>
            </div>
            <!-- END: 서브헤더 -->
            <!-- BEGIN: 컨텐츠 -->
            <div class="m-content">
                <!--Begin::Section-->
                <div class="row">
                    <div class="col-xl-12">

                            <div>
                                <table class="table table-bordered">
                                    <tr>
                                        <th>제 목</th>
                                        <td><input type="text" name="name" class="form-control" id="title"/></td>
                                    </tr>
                                    <tr>
                                        <th>내 용</th>
                                        <td>
                                            <textarea name="description" class="form-control" rows="15" cols="30" id="summernote"></textarea>
                                        </td>
                                    </tr>
                                </table>
                                <div style="text-align: right">
                                    <button class="btn btn-primary" id="btnSendData">작성하기</button>
                                </div>
                            </div>
                        

                        
                        
                    </div>
                </div>
                <!--End::Section-->
            </div>
            <!-- END: 컨텐츠 -->
        </div>
    </div>
    <!-- end::Body -->
    <!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <!-- <script src="/assets/demo/default/custom/datatable/html-table.js" type="text/javascript"></script> -->
		<!--end::Page Resources -->
		<!-- <script src="/board/datatable_monitor.js" type="text/javascript"></script> -->
        <!-- <script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script> -->
        <!-- 스타일관련 -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
        <!-- 자바스크립트관련 -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
        <!-- 한글관련 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>
        <script>
        $(document).ready(function(){
            $("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");            
            // $('#summernote').summernote({
            //     lang: 'ko-KR',
            //     height: 300,
            // });
        });

        $("#btnSendData").on("click", function(){
            $.post(
				"/notices", 
				{ 
                    title : $("#title").val(),
                    content : $("#summernote").val(),
                    bDelete : "0",
                    writer : "운영자"
				},
				function(data)
				{
                    alert("저장되었습니다.");
				}
			);
        })
        </script>
</body>
</html>