<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
						<!-- end::헤더 -->	
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									개인정보 처리방침 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												고객센터
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												개인정보 처리방침
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
					<!-- BEGIN: 컨텐츠 -->
					<div class="m-content">
						<!--Begin::Section-->
						<div class="row">
								<div class="m-portlet">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="la la-thumb-tack m--font-success"></i>
												</span>
												<h3 class="m-portlet__head-text m--font-success">
													개인정보 처리방침 
												</h3>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<p>'(주) 엠엔유'(이하 '회사'는)는 COIN 25 서비스를 사용하는 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.<br></p>
										<p>회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br></p>
										<p>회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br></p>
										<p><br></p>
										<p>본방침은 2018년 6월15일 부터 시행됩니다.<br></p>
										<p><br></p>
										<p>■ 수집하는 개인정보 항목<br></p>
										<p><br></p>
										<p>회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br></p>
										<p><br></p>
										<p>ο 수집항목 : 이름, 연락처 ,이메일  <br></p>
										<p>ο 개인정보 수집방법 : 홈페이지(회원가입) , 서면양식 , 본인인증 진행시<br></p>
										<p><br></p>
										<p><br></p>
										<p>■ 개인정보의 수집 및 이용목적<br></p>
										<p><br></p>
										<p>회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br></p>
										<p><br></p>
										<p>ο 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산 콘텐츠 제공 , 구매 및 요금 결제 , 물품배송 또는 청구지 등 발송<br></p>
										<p>ο 회원 관리<br></p>
										<p>회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 연령확인 , 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인 , 고지사항 전달 ο 마케팅 및 광고에 활용<br></p>
										<p>접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계<br></p>
										<p><br></p>
										<p>ο 회원 관리<br></p>
										<p>회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 불량회원의 부정 이용 방지와 비인가 사용 방지 , 가입 의사 확인 , 불만처리 등 민원처리 , 고지사항 전달 <br></p>
										<p><br></p>
										<p>ο 재화 또는 서비스 제공 <br></p>
										<p>서비스 제공, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증, 점유인증, 연령인증, 요금결제·정산 등을 목적으로 개인정보를 처리합니다.<br></p>
										<p><br></p>
										<p>ο 해킹/사기 관련 사고 조사 및 기타 법령상 의무이행 등에 따른 정당하고 합법적인 수사요청 시 자료제공<br></p>
										<p><br></p>
										<p>■ 개인정보의 보유 및 이용기간<br></p>
										<p><br></p>
										<p>회사는 개인정보 수집 및 이용목적이 달성된 후에는 예외 없이 해당 정보를 지체 없이 파기합니다.<br></p>
										<p><br></p>
										<p>■ 개인정보의 파기절차 및 방법<br></p>
										<p><br></p>
										<p>회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.<br></p>
										<p><br></p>
										<p>ο 파기절차<br></p>
										<p>회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.<br></p>
										<p><br></p>
										<p>별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.<br></p>
										<p><br></p>
										<p>ο 파기방법<br></p>
										<p>- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br></p>
										<p><br></p>
										<p>ο 회사의 개인정보처리방침에도 불구하고, 아래와 같은 관련법령에 의하여 보관하여야 하는 정보는 법령이 정한 기간 동안 보관됩니다. <br></p>
										<p><br></p>
										<p>① 서비스 이용 관련 개인정보(로그인기록) <br></p>
										<p>보존 근거 : 통신비밀보호법<br></p>
										<p>보존 기간 : 3개월 <br></p>
										<p><br></p>
										<p>② 표시/광고에 관한 기록 <br></p>
										<p>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률<br></p>
										<p>보존 기간 : 6개월 <br></p>
										<p><br></p>
										<p>③ 계약 또는 청약철회 등에 관한 기록 <br></p>
										<p>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률<br></p>
										<p>보존 기간 : 5년 <br></p>
										<p><br></p>
										<p>④ 대금결제 및 재화 등의 공급에 관한 기록 <br></p>
										<p>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률<br></p>
										<p>보존 기간 : 5년 <br></p>
										<p><br></p>
										<p>⑤ 소비자의 불만 또는 분쟁처리에 관한 기록 <br></p>
										<p>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률<br></p>
										<p>보존 기간 : 3년 <br></p>
										<p><br></p>
										<p>⑥ 전자금융 거래에 관한 기록 <br></p>
										<p>보존 근거 : 전자금융거래법<br></p>
										<p>보존 기간 : 5년 <br></p>
										<p>■ 개인정보 제공<br></p>
										<p><br></p>
										<p>회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br></p>
										<p>- 이용자들이 사전에 동의한 경우<br></p>
										<p>- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br></p>
										<p><br></p>
										<p>■ 개인정보의 안전성 확보 조치<br></p>
										<p>회사는 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다. <br></p>
										<p><br></p>
										<p>1. 해킹 등에 대비한 기술적 대책 <br></p>
										<p>회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다. <br></p>
										<p>2. 개인정보의 암호화 <br></p>
										<p>이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다. <br></p>
										<p>3. 개인정보에 대한 접근 제한 <br></p>
										<p>개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다. <br></p>
										<p>4. 비인가자에 대한 출입 통제 <br></p>
										<p>개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.<br></p>
										<p><br></p>
										<p>■ 이용자 및 법정대리인의 권리와 그 행사방법<br></p>
										<p><br></p>
										<p>이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니 다.<br></p>
										<p>이용자 혹은 만 14세 미만 아동의 개인정보 조회?수정을 위해서는 ‘개인정보변 경’(또는 ‘회원정보수정’ 등)을 가입해지(동의철회)를 위해서는 “회원탈퇴”를 클릭 하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다. 혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다.<br></p>
										<p>귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까 지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자 에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다.<br></p>
										<p>oo는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 “oo 가 수집하는 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.<br></p>
										<p><br></p>
										<p>■ 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항<br></p>
										<p><br></p>
										<p>회사는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 oo의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 회사은(는) 다음과 같은 목적을 위해 쿠키를 사용합니다.<br></p>
										<p><br></p>
										<p>▶ 쿠키 등 사용 목적<br></p>
										<p>- 회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공<br></p>
										<p><br></p>
										<p>귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br></p>
										<p><br></p>
										<p>▶ 쿠키 설정 거부 방법<br></p>
										<p>예: 쿠키 설정을 거부하는 방법으로는 회원님이 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.<br></p>
										<p><br></p>
										<p>설정방법 예(인터넷 익스플로어의 경우)<br></p>
										<p>: 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보<br></p>
										<p><br></p>
										<p>단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.<br></p>
										<p><br></p>
										<p><br></p>
										<p>▶귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로(help@coin25.co) 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br></p>
										<p><br></p>
										<p><br></p>
										<p>■ 개인정보에 관한 민원서비스<br></p>
										<p>회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.<br></p>
										<p><br></p>
										<p>개인정보관리책임자 : 차순학<br></p>
										<p>전화번호 : 02-514-8893<br></p>
										<p>이메일 : cs-help@coin25.co<br></p>
										<p><br></p>
										<p>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br></p>
										<p><br></p>
										<p>1. 개인분쟁조정위원회 (www.1336.or.kr/1336)<br></p>
										<p>2. 정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)<br></p>
										<p>3. 대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)<br></p>
										<p>4. 경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)<br></p>
										<p>5. 개인정보침해신고센터 (www.1336.or.kr/국번없이 118) <br></p>
										<p>6. 대검찰청 사이버수사과 (www.spo.go.kr/ 02-3480-3570)<br></p>
										<p><br></p>
										<p><br></p>
										<p>공고일 : 2018년 6월 15일<br></p>
										<p>시행일 : 2018년 6월 15일<br></p>
	
									</div>
								</div>
							</div>
					</div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->

	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="../dist/default/assets/demo/default/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');  
				$("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");                   
            });

            // $(".btn-brand").on("click", function(){
			// 	if (confirm("게시글을 등록하시겠습니까?")) {
			// 		alert("글이 등록되었습니다.");
			// 		location.href = "/coin_community";	
			// 	}
			// })
			
			// $(".btn-secondary").on("click", function(){
			// 	if (confirm("등록을 취소 하시겠습니까?")) {
			// 		location.href = "/coin_community";	
			// 	}
            // })
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
