<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->			
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
		            <!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									1:1 문의 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												고객센터
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												1:1 문의
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div>
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
                    <!-- BEGIN: 컨텐츠 -->
                    <div class="m-content">
						<!--Begin::Section-->
						<div class="row">

							<div class="col-xl-9 col-lg-8">
								<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
		                            <!--begin::Form-->
									<form class="m-form m-form--fit m-form--label-align-right">
										<div class="m-portlet__body">
											<div class="form-group m-form__group">
												<div class="col-lg-9 col-md-9 col-sm-12" style="width: 100%; margin-bottom: 20px">
													<input type="text" class="form-control m-input" placeholder="제목을 입력하세요.">
												</div>
												<div class="col-lg-9 col-md-9 col-sm-12">
													<div class="summernote" id="m_summernote_1"></div>
												</div>
											</div>
											<div class="col-lg-9 ml-lg-auto" style="text-align: right">
												<button type="button" class="btn btn-brand" onclick="location.href = 'question.html'">
													문 의
												</button>
												<button type="button" class="btn btn-secondary" onclick="location.href = 'question.html'">
													취 소
												</button>
											</div>
										</div>
									</form>
									<!--end::Form-->
								</div>
							</div>

							<div class="col-xl-3 col-lg-4">
								<div class="m-portlet m-portlet--full-height  ">
									<div class="m-portlet__body">

									</div>
								</div>
							</div>
                        </div>
                    </div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->

	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->	
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="/assets/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');     
				$("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");                
            });

            // $(".btn-brand").on("click", function(){
			// 	if (confirm("게시글을 등록하시겠습니까?")) {
			// 		alert("글이 등록되었습니다.");
			// 		location.href = "coin_community.html";	
			// 	}
			// })
			
			// $(".btn-secondary").on("click", function(){
			// 	if (confirm("등록을 취소 하시겠습니까?")) {
			// 		location.href = "coin_community.html";	
			// 	}
            // })
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
