<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="암호화폐 P2P거래소 - 코인25">
    <meta name="author" content="VOIDLINK, INC.">
    <link rel="icon" type="image/png" sizes="16x16" href="/loginassets/img/favicon.png">
    <title>COIN25</title>
    <link href="/loginassets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/loginassets/css/style.css" rel="stylesheet">
    <link href="/loginassets/css/orange.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader    -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- 메인랩퍼 -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(loginassets/img/bg/login-bg.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <div class="form-horizontal form-material" action="/login" method="post">
                    <a href="javascript:void(0)" class="text-center db"><img src="/loginassets/img/logo/logo2.png" alt="Home" /></a>
                    <!-- <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            고객님의 이메일 아이디는 <p id="userEmail"></p>입니다. 새 비밀번호를 입력해 주세요.
                        </div>
                    </div> -->
                    <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" name="inpPassword" id="inpPassword" placeholder="새 비밀번호 입력">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" name="rePassword2" id="rePassword2" placeholder="새 비밀번호 확인">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button id="m_login_chg_pwd" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" >비밀번호 변경</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- 랩퍼 종료 -->
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <!-- Jquery -->
    <!-- ============================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
    <!--<script src="/loginassets/plugins/jquery/jquery.min.js"></script> -->
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/loginassets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/loginassets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/loginassets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/loginassets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/loginassets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/loginassets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/loginassets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/loginassets/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <script type="text/javascript">
        $(document).ready(function(){
            
            if(!sessionStorage.getItem("telnum"))
            {
                location.href = "/login"
            }

            // 이메일 조회
            // $.post( "/searchEmail", 
			// 	{
			// 		user_idx : sessionStorage.getItem("telnum")
			// 	},
			// 	function(data){
            //         $("#userEmail").text();
			// 	});
        })

        // **************************************************
        // * 로그인 입력상태 체크
        // * - VOIDLINK by MJ Kim
        // **************************************************
        $("#m_login_chg_pwd").on("click", function(){

            if($('#inpPassword').val().length == 0) {
                alert("비밀번호를 입력하세요");
                $('#inpPassword').focus();
                return false;
            }

            if($('#rePassword2').val().length == 0) {
                alert("비밀번호 확인을 입력해주세요.");
                $('#rePassword2').focus();
                return false;
            }

            if($('#inpPassword').val() != $('#rePassword2').val() ) {
                alert("비밀번호가 틀립니다.\n다시 입력해 주세요.");
                $('#reinpPassword').focus();
                return false;
            }

            if(sessionStorage.getItem("telnum") == '')
            {
                alert("정상적인 접근이 아닙니다.");
            }else{
                $.post( "/chgPwssword", {
                    pwd : $('#inpPassword').val(),
                    phone : sessionStorage.getItem("telnum")
                }, function(jqXHR) {
                    
                }, 'json')
                .done(function(jqXHR) {
                    alert( "변경되었습니다." );
                    sessionStorage.removeItem("telnum");
                    location.href = "/login";
                })
            }
            
        })
    </script>
</body>

</html>