<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="암호화폐 P2P거래소 - 코인25">
    <meta name="author" content="VOIDLINK, INC.">
    <link rel="icon" type="image/png" sizes="16x16" href="/loginassets/img/favicon.png">
    <title>COIN25</title>
    <link href="/loginassets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/loginassets/css/style.css" rel="stylesheet">
    <link href="/loginassets/css/orange.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader    -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- 메인랩퍼 -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(loginassets/img/bg/login-bg.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <div class="form-horizontal form-material" >
                    <a href="javascript:void(0)" class="text-center db"><img src="/loginassets/img/logo/logo2.png" alt="Home" /></a>
                    <h3 class="box-title m-t-40 m-b-0 text-center db">회원비밀번호 변경</h3>
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="휴대폰 번호 입력" required="" name="tel" id="tel" >
                                <div class="input-group-append"><input type="hidden" id="checkSmsValue" value=""/> 
                                    <button class="btn btn-info" type="button" id="checkNum">인증요청</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="number" required="" placeholder="인증번호 입력" name="telauth" id="telauth">
                        </div>
                        <input type="hidden" id="hdfriendtel"/>
                        <input type="hidden" id="hdtype"/>
                        <input type="hidden" id="hdjijum_contact"/>
                    </div>

                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button id="m_reset_pw_submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" >비밀번호 변경</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">

                        </div>
                    </div>

                    
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>코인25 회원이신가요? <a href="/login" class="text-primary m-l-5"><b>로그인하기</b></a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- 랩퍼 종료 -->
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <!-- Jquery -->
    <!-- ============================================================== -->
    <script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
    <!--<script src="/loginassets/plugins/jquery/jquery.min.js"></script> -->
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/loginassets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/loginassets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/loginassets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/loginassets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/loginassets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/loginassets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/loginassets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/loginassets/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <script type="text/javascript">


    $("#m_reset_pw_submit").on("click", function()
    {
            if($('#tel').val().length == 0 ) {
                alert("휴대전화 번호를 입력하세요.");
                $('#tel').focus();
                return false;
            }

            if($('#telauth').val().length == 0 ) {
                alert("휴대전화 인증번호를 입력하세요.");
                $('#telauth').focus();
                return false;
            }

            // 휴대폰번호 인증상태 확인
            if($("#checkSmsValue").val().length == 0) {
                alert("휴대폰 인증을 받지 않으셨습니다.");
                $('#telauth').focus();
                return false;				
            }

            // 휴대폰번호 인증 확인
            if($("#checkSmsValue").val() != $("#telauth").val()) {
                alert("휴대폰 인증번호가 불일치합니다.");
                $('#telauth').focus();
                return false;				
            }
            else{
                if(!window.sessionStorage){
                    location.href = "/recoverypw1";
                }
                else{
                    sessionStorage.setItem("telnum", $('#tel').val());
                    location.href = "/recoverypw2";
                }
            }
        });





        // **************************************************
        // * 휴대폰 인증 처리 (휴대폰번호 입력상태 체크) 
        // * - VOIDLINK by MJ Kim
        // **************************************************
        $("#checkNum").on("click", function()
        {

            if($('#tel').val().length == 0 ) {
                alert("휴대폰 번호를 입력하세요");
                $('#tel').focus();
                return false;
            }

            if(confirm("인증코드 문자를 발송합니다.")){
                $.post("/check", 
                {
                    phone : $("#tel").val()
                },
                function(jqXHR) 
                {
                    // console.log(checkSmsValue);
                    $("#checkSmsValue").val(jqXHR);
                    
                },'json');

                $.post("/checkMember", 
                {
                    telnum : $("#tel").val()
                }, 
                function(jqXHR) 
                {
                    if(jqXHR.length == 0){
                    // console.log("");
                    } else {
                        $("#hdfriendtel").val(jqXHR[0].recommender);
                        $("#hdtype").val(jqXHR[0].type);
                        $("#hdjijum_contact").val(jqXHR[0].jijum_contact);
                    }
                },'json');
            }
        });

    </script>
</body>

</html>