<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->		
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
		            <!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									판매내용 상세보기 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												판 매
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												판매 목록 
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
                    <!-- BEGIN: 컨텐츠 -->
                    <div class="m-content">
						<!--Begin::Section-->
						<div class="row">
                            <!--begin::Form-->
							<form class="m-form m-form--fit m-form--label-align-right" style="width: 100%; height: 100%">
								<div class="m-portlet__body">
									<div class="m-portlet m-portlet--tab">

										<div class="m-portlet__body">
											<div class="row">
												<div class="col-xl-3">
													<!--begin-->
													<div class="m-portlet">
														<div class="m-portlet__head">
															<div class="m-portlet__head-caption">
																<div class="m-portlet__head-title">
																	<h3 class="m-portlet__head-text">
																		암호화폐 판매내용
																	</h3>
																</div>
															</div>
														</div>
														<div class="m-portlet__body">
															<div class="m-widget4">
																<div class="m-widget4__item">
																	<div class="m-widget4__info">
																		<span class="m-widget4__title">
																			<p id="pCoinName"></p>	
																		</span>
																		<span class="m-widget4__sub">
																			코인명
																		</span>
																	</div>
																</div>
																<div class="m-widget4__item">
																	<div class="m-widget4__info">
																		<span class="m-widget4__title">
																			<p id="pSellerName"></p>	
																		</span>
																		<span class="m-widget4__sub">
																			매도자
																		</span>
																	</div>
																</div>
																<div class="m-widget4__item">
																	<div class="m-widget4__info">
																		<span class="m-widget4__title">
																			<p id="pCoinTatolCount"></p>
																		</span>
																		<span class="m-widget4__sub">
																			수량
																		</span>
																	</div>
																</div>
																<div class="m-widget4__item">
																	<div class="m-widget4__info">
																		<span class="m-widget4__title">
																			<p id="pCoinPrice"></p>
																		</span>
																		<span class="m-widget4__sub">
																			매매기준가
																		</span>
																		<input type="hidden" id="inputMaxmoney">
																	</div>
																</div>
																<div class="m-widget4__item">
																	<div class="m-widget4__info">
																		<span class="m-widget4__title">
																			<p id="pMinCount"></p>
																		</span>
																		<span class="m-widget4__sub">
																			최소거래수량
																		</span>
																		<input type="hidden" id="inputMinicount">
																	</div>
																</div>
																<div class="m-widget4__item">
																	<div class="m-widget4__info">
																		<span class="m-widget4__title">
																			<p id="pMinPrice"></p>
																		</span>
																		<span class="m-widget4__sub">
																			최소거래금액
																		</span>
																		<input type="hidden" id="price">
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!--end-->
												</div>
												<div class="col-xl-5">
													<div class="m-widget25">
														<div class="m-portlet">
																	<div class="m-portlet__head">
																		<div class="m-portlet__head-caption">
																			<div class="m-portlet__head-title">
																				<h3 class="m-portlet__head-text">
																					판매 거래 신청하기
																				</h3>
																			</div>
																		</div>
																	</div>
															<div class="m-portlet__body">
																<div style="text-align: center">
																	<span class="m--font-brand display-3" id="textTotalmoney">
																		<input type="hidden" id="hdTotalMaony">
																		<input type="hidden" id="hdOneMoney">
																		0 
																	</span>원
																</div>
																<div style="text-align: center">구매신청내용: 
																	<span class="m-widget25__desc" id="textDesc">
																		<p id="pNowPrice"></p> X <p id="pNowCount"></p>
																		<input type="hidden" id="hdNowPrice">
																		<input type="hidden" id="hdNowCount">
																	</span>
																</div>
																<div class="m-widget25--progress" style="margin-top: 50px">
																	<div class="form-group m-form__group row">
																		<label for="example-text-input" class="col-2 col-form-label">
																			신청수량
																		</label>
																		<div class="col-9">
																			<input class="form-control m-input" type="number" id="inputCoincount" placeholder="구매하시려는 코인수량을 입력하세요" step="0.000001" onkeyup="minPrice();" >
																		</div>
																	</div>
																</div>
																<div style="text-align: center">
																	<button type="button" class="btn btn-primary btn-block" style="margin-top: 50px" id="btnSendorder">신청하기</button>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4">
													<div class="m-widget25">
														<div class="m-portlet">
																	<div class="m-portlet__head">
																		<div class="m-portlet__head-caption">
																			<div class="m-portlet__head-title">
																				<h3 class="m-portlet__head-text">
																					거래시 유의사항
																				</h3>
																			</div>
																		</div>
																	</div>
																	<div class="m-portlet__body">
																		<!--begin::Section-->
																		<div class="m-section m-section--last">

																			<div class="m-section__content">
																				<!--begin::Preview-->
																				<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
																					<div class="m-demo__preview">
																						<ul class="m-nav">
	
																							<li class="m-nav__item">
																								<a href="" class="m-nav__link">
																									<span class="m-nav__link-bullet m-nav__link-bullet--dot">
																										<span></span>
																									</span>
																									<span class="m-nav__link-text">
																										판매 및 구매는 당사자간의 선택으로 COIN25에서는 거래금액 및 성사에는 관여하지 않습니다.
																									</span>
																								</a>
																							</li>
	
																							<li class="m-nav__item">
																								<a href="" class="m-nav__link">
																									<span class="m-nav__link-bullet m-nav__link-bullet--dot">
																										<span></span>
																									</span>
																									<span class="m-nav__link-text">
																										상장 코인의 경우 거래시세에 따른 변동으로 빈번한 거래취소를 할 경우 신뢰도가 평가에 영향을 미칠 수 있습니다.
																									</span>
																								</a>
																							</li>
	
																							<li class="m-nav__item">
																								<a href="" class="m-nav__link">
																									<span class="m-nav__link-bullet m-nav__link-bullet--dot">
																										<span></span>
																									</span>
																									<span class="m-nav__link-text">
																										구매자는 거래 매칭후 3일이내 COIN25 계좌로 입금이 안될경우 거래는 취소됩니다.
																									</span>
																								</a>
																							</li>
	
																							<li class="m-nav__item">
																								<a href="" class="m-nav__link">
																									<span class="m-nav__link-bullet m-nav__link-bullet--dot">
																										<span></span>
																									</span>
																									<span class="m-nav__link-text">
																										코인지갑주소 오류에 의한 전송실패 및 잘못된 전송은 거래 당사자간의 지갑이동으로 COIN25에서 책임을 지지 않습니다. 정확한 지갑주소를 등록 및 전송확인을 해주셔야 합니다.
																									</span>
																								</a>
																							</li>																
	
																							<li class="m-nav__item">
																								<a href="" class="m-nav__link">
																									<span class="m-nav__link-bullet m-nav__link-bullet--dot">
																										<span></span>
																									</span>
																									<span class="m-nav__link-text">
																										구매자의 계좌입금 후 판매자의 코인 전송이 3일이내 이루지지 않으면 거래는 취소되며, 구매자는 기입금된 금액을 취소 3일이내에 환불해드립니다. 
																									</span>
																								</a>
																							</li>								
																						</ul>
																					</div>
																				</div>
																				<!--end::Preview-->

													</div>
												</div>
											</div> 
										</div>
									</div>
								</div>
							</form>
                        </div>
                    </div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->
		<!-- begin::Scroll Top -->
		<input type="hidden" id="hdUserId" value=<%= user.id%>>
		<input type="hidden" id="hdUserNick" value=<%= user.nickname%>>
		<input type="hidden" id="hdUserPhone" value=<%= user.contact%>>
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
		<!-- begin::Bootstrap -->
		<!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
		<!-- end::Bootstrap -->
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <!-- <script src="/assets/demo/default/custom/datatable/html-table.js" type="text/javascript"></script> -->
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<!-- <script src="../dist/default/assets/demo/default/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script> -->
		<!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
			var sellBoardId="";
			var gSymbol = "";
			var gUser_id = 0;
			var gNickname = "";
			var zzzzz = 0;
			var minCount = 0;
			var maxcount = 0;
			var maxmoney = 0;
			var sellerPhone = "";


            $(window).on('load', function() {
				// 상단 메뉴 초기화
				$('body').removeClass('m-page--loading');     
				$("#aTopMenu1").addClass("  m-menu__item--active  m-menu__item--active-tab");     
				
				sellBoardId = location.href.substr(
					location.href.lastIndexOf('=') + 1
				);

				$.get( "/buysells/0/" + sellBoardId, function(jqXHR) { 
					// console.log("==================================");
					// console.log(jqXHR);
					// console.log("==================================");
					$.get( "/tokeninfos/" + jqXHR[0].token_idx, function(jqXHR2) { 
						// console.log("==================================");
						// console.log(jqXHR2)
						// console.log("==================================");
						// 판매자 연락처
						sellerPhone = jqXHR[0].seller_tel;
						// 코인 이름 및 단위
						$("#pCoinName").text(jqXHR2[0].token_krname + " / " + jqXHR2[0].token_symbol);	
						gSymbol = jqXHR2[0].token_symbol;	
						// 판매자 이름
						$("#pSellerName").text(jqXHR[0].nickname);
						// 수량
						$("#pCoinTatolCount").text(jqXHR[0].token_qty + " " + jqXHR2[0].token_symbol);
						maxcount = jqXHR[0].token_qty;
						// 매매기준가
						$("#pCoinPrice").text(jqXHR[0].token_price + " 원/" + jqXHR2[0].token_symbol);
						maxmoney = jqXHR[0].token_price;
						// 최소거래수량
						$("#pMinCount").text(jqXHR[0].token_lowqty + " " + jqXHR2[0].token_symbol);
						minCount = jqXHR[0].token_lowqty;
						// 최소거래금액
						$("#pMinPrice").text(jqXHR[0].token_lowprice + " 원");

						// 현재기준금액
						$("#pNowPrice").text(jqXHR[0].token_price + " 원");
						// $("#hdNowPrice").val(jqXHR[0].token_pric;
						$("#hdNowPrice").text(jqXHR[0].token_price);
						// 초기 수량
						$("#pNowCount").text("0");
						$("#hdNowCount").val(jqXHR[0].token_price);
						// 현재거래금액
						$("#textTotalmoney").text(jqXHR[0].token_price * $("#inputCoincount").val());
						$("#hdTotalMaony").val(jqXHR[0].token_price * $("#inputCoincount").val());
						$("#hdOneMoney").val(jqXHR[0].token_price);
						defaultNum = jqXHR[0].token_price;
						//console.log("dn = " + defaultNum);
						//console.log($("#hdOneMoney").val());
						

						// 채ㅜ내
						// if ($("#hdUserNick").val() == $("#pSellerName").val()) {
						// 	alert("본인 게시글은 구매 할 수 없습니다.")
						// }
					}, 'json' /* xml, text, script, html */)
				}, 'json' /* xml, text, script, html */)
            });

			 function minPrice(){

				//console.log("bbbb:"+$("#hdOneMoney").val());
				$("#textTotalmoney").text($("#hdOneMoney").val() * $("#inputCoincount").val());
				//console.log("aaaaa:"+$("#hdOneMoney").val() + " X " + $("#inputCoincount").val());
				//$("#textDesc").text($("#hdOneMoney").val() + " X " + $("#inputCoincount").val());

				$("#textTotalmoney").text(defaultNum * $("#inputCoincount").val());
				//console.log($("#hdOneMoney").val());
				$("#textDesc").text((defaultNum) + " X " + $("#inputCoincount").val());
				//$("#hdTotalMaony").val(((defaultNum) * $("#inputCoincount").val()));
				//console.log("aaasss:"+$("#hdTotalMaony").val());
				
			// 	console.log(result);
			 }



            // $("#btnDelete").on("click", function(){
			// 	if (confirm("게시글을 삭제 하시겠습니까?")) {
			// 		alert("글이 삭제되었습니다.");
			// 		location.href = "coin_community.html";	
			// 	}
			// })
			
			// $("#btnEdit").on("click", function(){
			// 	if (confirm("수정 하시겠습니까?")) {
			// 		location.href = "coin_community_write.html";	
			// 	}
			// })
			
			$("#btnAddreply").on("click", function(){
				$("#reply").append("<h2 class='m--font-info'>" + $("#inputAddreply").val() + "</h2>");
			})



			// 세자리 점찍기
			function addComma(num) {
				var regexp = /\B(?=(\d{3})+(?!\d))/g;
				return num.toString().replace(regexp, ',');
			}
			
			// 주문하기
			$("#btnSendorder").on("click", function(){
				$.get

				if($("#textTotalmoney").text().length == 0){
					alert("신청수량을 입력하세요.");
					return false;
				}
				if($("#inputCoincount").val() == ''){
					alert("신청수량을 입력해주세요.")
					$("#inputCoincount").focus();
					return false;
				}
				if($("#inputCoincount").val() > $("#pCoinTatolCount").text()){
					alert("판매코인수량보다 입력하신 거래수량이 더 큽니다. 확인해 주세요.")
					$("#inputCoincount").focus();
					return false;
				}				
				else{			
					if (!confirm("해당 금액으로 주문하시겠습니까?")) {
						return false;
					} else {
						// 본인여부 확인
						if ($("#hdUserNick").val() == $("#pSellerName").text()) {
							alert("본인 게시글은 구매 할 수 없습니다.");
							location.href="/sell_list";
							return false;
						} else {
							$.post( "/buysell_trade", {
								buysell_div : "0",
								buysell_idx : sellBoardId,
								trade_date : "",
								token_symbol : gSymbol,
								trade_price : $("#textTotalmoney").text(),
								token_qty : $("#inputCoincount").val(),
								trade_state : "구매신청",
								trade_complete : "",
								user_idx : $("#hdUserId").val(),
								nickname : $("#hdUserNick").val(),
								buyer_tel: $("#hdUserPhone").val(),
								seller_tel: sellerPhone
							}, function(jqXHR) {
								
								console.log("거래정보 조회");
								$.post(
								"/getDealInfo", 
								{ 
									dealIndex : jqXHR[0]
								}, function(data){
									dealData = data.data[0];
									$.post(
									"/sendlms", 
									{ 
										state : 1,
										// dealNumber : ,
										dealPrice : dealData.dealPrice,
										dealCoin : dealData.dealCoin,
										dealCount : dealData.dealCount,

										sellerName : dealData.sellerName,
										sellerPhone : dealData.sellerPhone,
										sellerBank : dealData.sellerBank,
										sellerAccount : dealData.sellerAccount,

										buyerName : dealData.buyerName,
										buyerPhone : dealData.buyerPhone,
										buyerBank : dealData.buyerBank,
										buyerAccount : dealData.buyerAccount,
										buyerWaddress : dealData.buyerWaddress
									}, 'json')
								}, 'json')
								alert("주문되었습니다.");	
							}, 'json' /* xml, text, script, html */)
						}
					}
					location.href = "/sell_list";
				}
			})
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
