<!DOCTYPE html>

<html lang="ko" >
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			COIN25
		</title>
		<meta name="description" content="일등 암호화폐 P2P 거래소 - 코인25">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

        <!--begin::Base Styles -->  
        <!--begin::Page Vendors -->
		<link href="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors -->
		<link href="/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/base/style.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/base/custom.css" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="/assets/img/logo/favicon.ico" />
	</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->		
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
		            <!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									판매 목록 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												판매
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												판매 목록 
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
                    <!-- BEGIN: 컨텐츠 -->
                    <div class="m-content">
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-12">
								<div class="m-portlet m-portlet--mobile" style="width:100%">
									<!-- <a href="#"><img class="banner" src="http://via.placeholder.com/1700x100" style="width:100%"></a> -->
									<!-- <div class="m-portlet__body"> -->
									<div class="">
										<div class="m-portlet m-portlet--mobile">
											<div class="m-portlet__head">
												<div class="m-portlet__head-caption">
													<div class="m-portlet__head-title">
														<h3 class="m-portlet__head-text">
															
														</h3>
													</div>
												</div>
												<div class="m-portlet__head-tools">
													<ul class="m-portlet__nav">
														<li class="m-portlet__nav-item">
															<a href="/sell_request" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
																<span>
																	<i class="la la-cart-plus"></i>
																	<span>
																		판매 등록
																	</span>
																</span>
															</a>
														</li>
														<li class="m-portlet__nav-item"></li>
													</ul>
												</div>
											</div>
											<div class="m-portlet__body">
												<!--begin: Datatable -->
												<table class="table table-striped- table-bordered table-hover table-checkable display nowrap" id="m_table_1">
													<thead>
														<tr>
															<th ></th>
															<th >코인</th>
															<th >판매 수량</th>
															<th >기준가</th>
															<th >최소거래수량</th>
															<th >최소거래가격</th>
															<th >판매자</th>
															<th >시작일</th>
															<th >종료일</th>
														</tr>

														<!-- 판매자(닉네임만 표기) / 판매코인명 (한글명 / 코인심볼) / 코인기준가(xxx + 원/코인심볼) / 
														판매코인수량 /최소판매수량(최소판매수량+코인심볼(최소판매가격 + 원)/  신청자 (XX명) / 판매시작일 / 판매종료일 / 거래상태 -->
													</thead>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4">
							</div>
						</div>
						<!--End::Section-->
                    </div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<% include footer.ejs %>
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->				
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/demo/default/custom/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<script src="/board/datatable_sell.js" type="text/javascript"></script>
		<script src="/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');    
				$("#aTopMenu1").addClass("  m-menu__item--active  m-menu__item--active-tab");                     
			});
			
			$(document).ready(function(){
				var table = $('#m_table_1').DataTable();
     
				$('#m_table_1 tbody').on('click', 'tr', function () {
					var data = table.row( this ).data();
					location.href = "/sell_list_detail?index=" + data.boardIdx;
				} );
			})

            // $(".btn-primary").on("click", function(){
            //     location.href = "coin_community_write.html";
            // })

            $("#html_table").on("click", function(){
                var tr = $(this);
                var td = tr.children();

                // if (confirm(td.eq(0).text() + " 번 글을 수정하시겠습니까?")) {
                    // location.href = "board_notice_edit.html?index=" + td.eq(0).text();
                    location.href = "sell_list_detail.html";
                // }
            })

			$("#btnTemp").on("click", function(){
				location.href = "sell_list_detail.html";
			})
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
