<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
		            <!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									판매 등록
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												판매
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												판매 등록 
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
                    <!-- BEGIN: 컨텐츠 -->
                    <div class="m-content">
						<!--Begin::Section-->
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-3">
								<!--begin-->
								<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet" style="height: 100%">
										<!--begin::Form-->
										<form class="m-form m-form--fit m-form--label-align-right">
											<div class="m-portlet__body">
												<div class="form-group m-form__group m--margin-top-10">
													<label for="exampleInputEmail1">
														판매 코인 종류선택
													</label>
													<input type="text" class="form-control m-input m-input--air" id="inputCoinName">
													<input type="hidden" class="form-control m-input m-input--air" id="hdCoinName">
												</div>
												<div class="form-group m-form__group">
													<label for="exampleInputEmail1">
														판매 코인 수량
													</label>
													<!-- <input type="number" step="0.00001" class="form-control m-input m-input--air" id="inputCoinCount" autocomplete="off" required placeholder="ex) 100"> -->
													<div class="input-group">
														<input type="number" step="0.00001" min=0 class="form-control m-input" id="inputCoinCount" placeholder="예) 100" autocomplete="off" required>
														<div class="input-group-append">
															<span class="input-group-text" id="basic-addon2">
																<!-- <p id="coinSymbol"></p> -->
															</span>
														</div>
													</div>
												</div>
												<div class="form-group m-form__group">
													<label for="exampleInputEmail1">
														매매기준가 
													</label>
													<!-- <input type="number" step="0.00001" class="form-control m-input m-input--air" id="inputCoinCount" autocomplete="off" required placeholder="ex) 100"> -->
													<div class="input-group">
														<input type="number" min=0 class="form-control m-input m-input--air" id="inputCoinPrice" autocomplete="off" required placeholder="예: 10000">
														<div class="input-group-append">
															<span class="input-group-text" id="basic-addon2">
																원
															</span>
														</div>
													</div>
													예: 1 ETH = 500,000원
												</div>
												<div class="form-group m-form__group">
													<label for="exampleInputPassword1">
														최소 거래수량
													</label>
													<!-- <input type="number" class="form-control m-input m-input--air" onkeyup="minPrice()" id="inputStartCoinCount" step="any" autocomplete="off" placeholder="예:  0.1" required> -->
													<div class="input-group">
														<input type="number" min=0 class="form-control m-input" id="inputStartCoinCount" placeholder="예:  0.1" autocomplete="off" required step="0.000001" onkeyup="minPrice();">
														<div class="input-group-append">
															<span class="input-group-text" id="basic-addon3">
																<!-- <p id="coinSymbol"></p> -->
															</span>
														</div>
													</div>
												</div>
												<div class="form-group m-form__group">
													<label for="exampleInputPassword1">
														최소거래금액
													</label>
													<div class="input-group">
															<input type="number" min=0 class="form-control m-input m-input--air"  id="inputStartCoinPrice" autocomplete="off" disabled>
															<div class="input-group-append">
																<span class="input-group-text" id="basic-addon2">
																	원
																</span>
															</div>
														</div>

													
												</div>
												<div class="form-group m-form__group">
													<label for="exampleTextarea">
														거래조건
													</label>
													<textarea class="form-control m-input m-input--air" id="textDealDesc" rows="7" autocomplete="off"></textarea>
												</div>
												<!-- <div class="form-group m-form__group">
													<label class="m-checkbox">
														<input type="checkbox">
														<p>다음 거래 등록시 해당 등록내용 재활용하기</p> 
														<span></span>
													</label>
												</div> -->
											</div>
										</form>
									</div>
								</div>
								<!--end-->
							</div>
							<div class="col-xl-6">
								<!--begin:: Widgets/Best Sellers-->
								<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													판매 등록 유료 옵션
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
			
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-form__group form-group">
											<label for="">
												판매 등록 종류
											</label>
											<div class="m-radio-inline">
												<label class="m-radio">
													<input type="radio" name="radioSelecttype" value="1" checked>
													일 반
													<span></span>
												</label>
												<!-- <label class="m-radio">
													<input type="radio" name="radioSelecttype" value="2">
													급 판매
													<span></span>
												</label> -->
											</div>
											<!-- <span class="m-form__help">
												급 판매 선택 시, 경매 목록 최상단에 노출됩니다.
											</span> -->
										</div>
										<div class="m-form__group form-group" id="divSelectnomal">
											<label for="">
												기 간
											</label>
											<div class="m-radio-inline">
												<label class="m-radio">
													<input type="radio" name="radioSelectTime" value="-500" checked>
													1일 (500P 사용)
													<span></span>
												</label>
												<label class="m-radio">
												<input type="radio" name="radioSelectTime" value="-1500">
													3 일 ( 1,500P 사용 )
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="radioSelectTime" value="-3000">
													7 일 ( 3,000P 사용 )
													<span></span>
												</label>
											</div>
										</div>
										<div class="m-form__group form-group">
											<div>
												<label for="">
													현재 남은포인트 : <strong id="totalPoint"></strong>
												</label>
											</div>
											<div>
												<label for="">
													차감 예정 포인트 : <strong id="usingPoint"></strong> P
												</label>
											</div>
										</div>
										<!-- <div class="m-form__group form-group">
											<label for="">
												글자 색상
											</label>
											<div class="m-radio-inline">
												<label class="m-radio">
													<input type="radio" name="radioSelectFontcolor" value="0" checked>
													<p>검 정</p> 
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="radioSelectFontcolor" value="1">
													<p style="color: red">빨 강 ( 500P 사용 )</p>
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="radioSelectFontcolor" value="2">
													<p style="color: blue">파 랑 ( 500P 사용 )</p>
													<span></span>
												</label>
											</div>
										</div> -->
										<!-- <div class="m-form__group form-group">
											<label class="m-checkbox">
												<input type="checkbox">
												<p><strong>글자색 굵게 표시 ( 500P 사용 )</strong></p> 
												<span></span>
											</label>
										</div> -->
										<!-- <div class="m-form__group form-group">
											<label for="">
												아이콘
											</label>
											<div class="m-radio-inline">
												<label class="m-radio">
													<input type="radio" name="radioSelecticon" value="0" checked>
													없 음
													<span></span>
												</label>
	
												<label class="m-radio">
													<input type="radio" name="radioSelecticon" value="1">
													<img src="/assets/img/icon/like_s.png" alt="">
													좋아요 ( 500P 사용 )
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="radioSelecticon" value="2">
													<img src="/assets/img/icon/hot_s.png" alt="">
													HOT ( 500P 사용 )
													<span></span>
												</label>
											</div>
										</div> -->
										<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit" style="text-align: right">
											<div class="m-form__actions m-form__actions--solid">
												<div class="row">
													<div class="col-lg-2"></div>
													<div class="col-lg-10">
														<button type="reset" class="btn btn-success" id="btnComplet">
															등 록
														</button>
														<button type="reset" class="btn btn-secondary">
															취 소
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end:: Widgets/Best Sellers-->
							</div>
							<div class="col-xl-3">
								<!--begin-->
								<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
									<div class="m-portlet__body">
										
									</div>
								</div>
								<!--end-->
							</div>
						</div>
						<!--End::Section-->
                    </div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<% include footer.ejs %>
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->
		<!--begin::Modal-->
		<div class="modal fade" id="mdSearchCoin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							코인 찾기
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group m-form__group">
							<label for="exampleSelect1">
								코인 종류를 선택해 주세요.
							</label>
							<select class="form-control m-input" id="selSearchCoin">
								
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="btnSelectedCoin">
							등 록
						</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							취 소
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Modal-->
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<input type="hidden" id="hdUserID" value=<%= user.id %>> 
		<input type="hidden" id="hdUserNickname" value=<%= user.nickname %>> 
		<!-- <input type="hidden" id="hdAccount" value=<%= user.account_no %>>  -->
		<input type="hidden" id="hdEmail" value=<%= user.email %>> 
		<input type="hidden" id="hdPhone" value=<%= user.contact %>> 
		<input type="hidden" id="hdCheckAccount">
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/js/bootstrap-datepicker.js" type="text/javascript"></script>
        <!--end::Page Resources -->
		<!-- begin::Page Loader -->

		<!-- 유효성 검사 -->
		<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script> -->

		<script type="text/javascript">
		//<![CDATA[
		$(function() {
			$("#commentForm").validate();
				$.extend( $.validator.messages, {
				required: "필수 항목입니다.",
				remote: "항목을 수정하세요.",
				email: "유효하지 않은 E-Mail주소입니다.",
				url: "유효하지 않은 URL입니다.",
				date: "올바른 날짜를 입력하세요.",
				dateISO: "올바른 날짜(ISO)를 입력하세요.",
				number: "유효한 숫자가 아닙니다.",
				digits: "숫자만 입력 가능합니다.",
				creditcard: "신용카드 번호가 바르지 않습니다.",
				equalTo: "같은 값을 다시 입력하세요.",
				extension: "올바른 확장자가 아닙니다.",
				maxlength: $.validator.format( "{0}자를 넘을 수 없습니다. " ),
				minlength: $.validator.format( "{0}자 이상 입력하세요." ),
				rangelength: $.validator.format( "문자 길이가 {0} 에서 {1} 사이의 값을 입력하세요." ),
				range: $.validator.format( "{0} 에서 {1} 사이의 값을 입력하세요." ),
				max: $.validator.format( "{0} 이하의 값을 입력하세요." ),
				min: $.validator.format( "{0} 이상의 값을 입력하세요." )
			} );
		});
		//]]>
		</script>
		
	
		<script>

            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');   
				$("#aTopMenu1").addClass("  m-menu__item--active  m-menu__item--active-tab");       
				
				// 계좌 확인
				console.log($("#hdUserID").val())
				$.post( "/checkaccount", {
					idx: $("#hdUserID").val()
				}, function(jqXHR) {
					console.log(jqXHR);
					if (jqXHR.data[0].bank_code == "") {
						console.log("[계좌]jqXHR.data[0].result = " + jqXHR.data[0].result);
						if (confirm("계좌가 등록되지 않았습니다.\n계좌가 등록되지 않으면 등록을 할 수 없습니다.\n계좌 등록페이지로 이동하시겠습니까?")) {
							location.href = "/my_account";
							return false;
						} else {
							// $(this).modal("hide");
						}
					} else {
						$("#hdCheckAccount").val("0k!@");
					}
				}, 'json' /* xml, text, script, html */)
            });

			$(document).ready(function(){
				// 포인트 초기화
				$.post( "/getmypoint", 
				{
					user_idx : $("#hdUserID").val()
				},
				function(data){
					console.log(data[0].nRemainPoint);
					if(data[0].nRemainPoint)
					{
						console.log(data[0].nRemainPoint);
						$("#totalPoint").text(numberWithCommas(data[0].nRemainPoint + " P"));
					}
				});

				// 일자 텍스트 초기화
				$("#usingPoint").text("-500");
			});

			function numberWithCommas(x) {
				return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}

            // $(".btn-primary").on("click", function(){
            //     location.href = "coin_community_write.html";
            // })

            $("#html_table").on("click", function(){
                var tr = $(this);
                var td = tr.children();

                // if (confirm(td.eq(0).text() + " 번 글을 수정하시겠습니까?")) {
                    // location.href = "board_notice_edit.html?index=" + td.eq(0).text();
                    //location.href = "coin_community_detail.html";
                // }
            })

			// 등록 버튼 클릭 시, 포인트 확인하여 게시글 등록
			$("#btnComplet").on("click", function(){
				if($("#inputCoinName").val() == ''){
					alert("코인을 선택해 주세요.")
					$("#inputCoinName").focus();
					return false;
				}
				if($("#inputCoinCount").val() == ''){
					alert("판매코인 수량을 입력해주세요.")
					$("#inputCoinCount").focus();
					return false;
				}
				if($("#inputCoinPrice").val() == ''){
					alert("매매기준가를 입력해 주세요.")
					$("#inputCoinPrice").focus();
					return false;
				}
				if($("#inputStartCoinCount").val() == ''){
					alert("최소 거래수량을 입력해 주세요.")
					$("#inputStartCoinCount").focus();
					return false;
				}
				if($("#inputStartCoinCount").val() >= $("#inputCoinCount").val()){
					alert("판매코인수량보다 최소거래수량이 더 큽니다. 확인해 주세요.")
					$("#inputStartCoinCount").focus();
					return false;
				}				
				else{
					if(!confirm("등록하시겠습니까?")){
						return false;
					} else {
						// // 계좌 확인
						// console.log($("#hdUserID").val())
						// $.post( "/checkaccount", {
						// 	idx: $("#hdUserID").val()
						// }, function(jqXHR) {
						// 	console.log(jqXHR);
						// 	if (jqXHR.data[0].bank_code == "") {
						// 		console.log("[계좌]jqXHR.data[0].result = " + jqXHR.data[0].result);
						// 		if (confirm("계좌가 등록되지 않았습니다.\n계좌가 등록되지 않으면 등록을 할 수 없습니다.\n계좌 등록페이지로 이동하시겠습니까?")) {
						// 			location.href = "/my_account";
						// 			return false;
						// 		} else {
						// 			// $(this).modal("hide");
						// 		}
						// 	} else {
								
						// 	}
						// }, 'json' /* xml, text, script, html */)

						// 지갑 확인
						$.post( "/checkwallet", {
							user_id: $("#hdUserID").val(),
							symbol: $("#selSearchCoin option:selected").val()
						}, function(jqXHR) {
							if (jqXHR.data[0].result == "FALSE") {
								console.log("jqXHR.data[0].result = " + jqXHR.data[0].result);
								if (confirm("지갑이 등록되지 않았습니다.\n지갑이 등록되지 않으면 등록을 할 수 없습니다.\n지갑 등록페이지로 이동하시겠습니까?")) {
									location.href = "/my_wallet";
									return false;
								} else {
									// $(this).modal("hide");
									return false;
								}
							} else {
								if($("#hdCheckAccount").val() != '0k!@'){
									if (confirm("계좌가 등록되지 않았습니다.\n계좌 등록페이지로 이동하시겠습니까?")) {
										location.href = "/my_account";
										return false;
									} else {
										return false;
									}
								} else {
									// 등록 전 포인트 확인
									$.post( "/getmypoint", 
									{
										user_idx : $("#hdUserID").val()
									},
									function(data){
										console.log(data[0].nRemainPoint);
										if(data[0].nRemainPoint - $(":input:radio[name=radioSelectTime]:checked").val() < 0)
										{
											if (confirm("포인트가 부족하여 급판매를 이용할 수 없습니다.\n포인트 충전 페이지로 이동하시겠습니까?")) {
												location.href = "my_point.html";
											};
											return false;
										} else {
											$.get( "/tokeninfos/" + $("#hdCoinName").val(), function(jqXHR) { 
												var COIN = jqXHR[0];
												var date = new Date();
												var year = date.getFullYear(); 
												var month = new String(date.getMonth()+1); 
												month = month>10 ? month : "0" + month;
												var day = new String(date.getDate());
												day = day>10 ? day : "0" + day;
												var rand = Math.floor((Math.random() * 9999999) + 1);
												var orderNo = year + month + day + rand;


												
												$.post( "/buysells", {
													buysell_div: "0",
													token_idx: COIN.idx,
													token_symbol: COIN.token_symbol,
													token_price: $("#inputCoinPrice").val(),
													token_qty: $("#inputCoinCount").val(),
													token_lowprice: $("#inputStartCoinPrice").val(),
													token_lowqty: $("#inputStartCoinCount").val(),
													reg_date: "",
													end_date: $(":input:radio[name=radioSelectTime]:checked").val(),
													token_proceed: "판매중",
													buysell_top: 0,
													buysell_subject: COIN.token_krname + "판매합니다.",
													buysell_content: COIN.token_krname + "판매합니다.",
													user_idx: $("#hdUserID").val(),
													nickname: $("#hdUserNickname").val(),
													seller_tel : $("#hdPhone").val(),
													order_no : orderNo
												});

													// if(day<10) {
													// 	day='0'+day
													// } 
													
													// if(month<10) {
													// 	month='0'+month
													// } 
													// var order_no = year+month+day+time+user.id;

													// console.log("test");
													// console.log(jqXHR);

													// $.ajax({
													// 	url: '/buysells/ + ',
													// 	async: true, 
													// 	type: 'PUT',
													// 	data: {
													// 		order_no: order_no
													// 	}, // 전송할 데이터
													// 	dataType: 'text', // xml, json, script, html
													// 	beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
													// 	success: function(jqXHR) {}, // 요청 완료 시
													// 	error: function(jqXHR) {}, // 요청 실패.
													// 	complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
													// });
												// }, 'json' /* xml, text, script, html */)

												usePoint($(":input:radio[name=radioSelectTime]:checked").val());
												alert("등록되었습니다.");
												location.href = "/sell_list";
											})
										}
									});
								}
							}
						}, 'json' /* xml, text, script, html */)	
					}
				}
			})

			// 검색 창 클릭시, 모달 내 리스트에 코인리스트 출력 후 모달 출력
			$("#inputCoinName").on("click", function(){
				$.get( "/tokeninfos", function(jqXHR) { 
					var data = jqXHR.data;
					// console.log(data);
					$("#selSearchCoin").empty();
					for(var i=0; i<data.length; i++)
					{
						// console.log(data[i].idx);
						$("#selSearchCoin").append("<option value='"+data[i].idx+"'>" + data[i].token_krname + " (" + data[i].token_symbol  + ")</option>");
					}
					
				}, 'json' /* xml, text, script, html */)
				
				$("#mdSearchCoin").modal("show");
			})

			// 선택 한 코인을 등록페이지에 저장
			$("#btnSelectedCoin").on("click", function(){
				// 계좌 확인
				$.post( "/checkaccount", {
					idx: $("#hdUserID").val()
				}, function(jqXHR) {
					console.log(jqXHR);
					if (jqXHR.data[0].bank_code == "") {
						console.log("[계좌]jqXHR.data[0].result = " + jqXHR.data[0].result);
						if (confirm("계좌가 등록되지 않았습니다.\n계좌가 등록되지 않으면 등록을 할 수 없습니다.\n계좌 등록페이지로 이동하시겠습니까?")) {
							location.href = "/my_account";
							return false;
						} else {
							// $(this).modal("hide");
						}
					} else {
						
					}
				}, 'json' /* xml, text, script, html */)

				// 지갑 확인
				$.post( "/checkwallet", {
					user_id: $("#hdUserID").val(),
					symbol: $("#selSearchCoin option:selected").val()
				}, function(jqXHR) {
					if (jqXHR.data[0].result == "FALSE") {
						console.log("jqXHR.data[0].result = " + jqXHR.data[0].result);
						if (confirm("지갑이 등록되지 않았습니다.\n지갑이 등록되지 않으면 등록을 할 수 없습니다.\n지갑 등록페이지로 이동하시겠습니까?")) {
							location.href = "/my_wallet";
							return false;
						} else {
							$(this).modal("hide");
						}
					} else {
						
					}
				}, 'json' /* xml, text, script, html */)

				console.log('$("#selSearchCoin").val() = ' + $("#selSearchCoin").val());
				console.log('$("#inputCoinName").val() = ' + $("#inputCoinName").val());
				// 판매 코인 종류 선택 항목에 설정(이름)
				$("#inputCoinName").val( $("#selSearchCoin option:selected").text() );
				// 코드 값 저장
				$("#hdCoinName").val( $("#selSearchCoin").val() );
				// 심볼 저장
				var symbol = $("#selSearchCoin option:selected").text().split("(");
				$("#basic-addon2").html( symbol[1].slice(0, -1) );
				$("#basic-addon3").html( symbol[1].slice(0, -1) );
				// 모달 숨기기
				$("#mdSearchCoin").modal("hide");
			})


			// 등록 포인트 차감
			function usePoint(point){
				console.log("usePoint(point) = " + point);
				$.post(
					"/points", 
					{ 
						user_idx : $("#hdUserID").val(),
						email : $("#hdEmail").val(),
						state_div : "사용",
						used_point : point,
						point_detail : "판매글 등록",
						recommend_name : "",
						recommend_email : "",
						partner_code : ""
					}
				);
			}


			// 입력한 자리 수 확인
			function maxLengthChack(object){	
				if (object.value.length > object.maxLength) {
					object.value = object.value.slice(0, object.maxLength);
				}
			}


			 function minPrice(){
			 	//console.log("minPrice");
			 	if(!$("#inputCoinPrice").val()){
			 		return false;
			 	}
			 	if(!$("#inputStartCoinCount").val()){
			 		return false;
			 	}
			 	if(!$("#inputCoinCount").val()){
			 		return false;
			 	}

			 	var result = $("#inputCoinPrice").val() * $("#inputStartCoinCount").val();
			 	$("#inputStartCoinPrice").val(result);
			// 	console.log(result);
			 }

			// 최소값 입력 체스
			// $("#inputCoinCount").event("keydown", )


			
			// 일자 버튼 클릭
			$(":input:radio[name=radioSelectTime]").on("click", function(){
				$("#usingPoint").text($(this).val());
			})

			// 	// if ($(this).val() > $("#inputCoinCount").val()) {
			// 	// 	alert("판매수량보다 많이 주문 할 수 없습니다.")
			// 	// 	$("#inputCoinCount").empty();
			// 	// 	return false;
			// 	// }
			// })

			// $(function() { 
			//금액부분 숫자만 입력받음 
			// $('#inputStartCoinCount').change(function(event) {
			// 	if (event.which && (event.which  > 47 && event.which  < 58 || event.which == 8)) { 
			// 		if($('#inputStartCoinCount').val() > $("#inputCoinCount").val()) { 
			// 			alert('판매수량보다 많습니다.'); 
			// 		} 
			// 	} else { 	
			// 		$("#inputStartCoinCount").val('');
			// 		alert('숫자만 입력 가능합니다!'); 
			// 		} 
			// 	}) 
			// }); 

			// 판매글 등록 코인 자동완성
			// $(function(){
			// 	$( "#inputCoinName" ).autocomplete({
			// 		source : function( request, response ) {
			// 			$.ajax({
			// 					type: 'post',
			// 					url: "/tokeninfos",
			// 					dataType: "json",
			// 					//request.term = $("#autocomplete").val()
			// 					data: { value : data },
			// 					success: function(data) {
			// 						//서버에서 json 데이터 response 후 목록에 뿌려주기 위함
			// 						response(
			// 							$.map(data, function(item) {
			// 								return {
			// 									label: item.data,
			// 									value: item.data
			// 								}
			// 							})
			// 						);
			// 					}
			// 			});
			// 			},
			// 		//조회를 위한 최소글자수
			// 		minLength: 2,
			// 		select: function( event, ui ) {
			// 			// 만약 검색리스트에서 선택하였을때 선택한 데이터에 의한 이벤트발생
			// 		}
			// 	});
			// })

			// $( function() {
			// 	var availableTags = [
			// 	"ActionScript",
			// 	"AppleScript",
			// 	"Asp",
			// 	"BASIC",
			// 	"C",
			// 	"C++",
			// 	"Clojure",
			// 	"COBOL",
			// 	"ColdFusion",
			// 	"Erlang",
			// 	"Fortran",
			// 	"Groovy",
			// 	"Haskell",
			// 	"Java",
			// 	"JavaScript",
			// 	"Lisp",
			// 	"Perl",
			// 	"PHP",
			// 	"Python",
			// 	"Ruby",
			// 	"Scala",
			// 	"Scheme"
			// 	];
			// 	$( "#inputCoinName" ).autocomplete({
			// 	source: availableTags
			// 	});
			// } );

			// 등록 버튼 이벤트
			// $("#btnComplet").on("click", function(){
			// 	$.post( "buysells", {
			// 		buysell_div: "0",
			// 		token_idx: "0",
			// 		token_symbol: "0",
			// 		token_price: $("#inputStartCoinPrice").val(),
			// 		token_qty: $("#inputCoinCount").val(),
			// 		token_lowprice: $("#inputStartCoinPrice").val(),
			// 		token_lowqty: $("#inputStartCoinPrice").val(),
			// 		reg_date: "",
			// 		end_date: "",
			// 		token_proceed: "판매중",
			// 		buysell_top: 0,
			// 		buysell_subject: "Test",
			// 		buysell_content: "Test Context"
			// 	}, function(jqXHR) {
			// 		alert( "success" );
			// 	}, 'json' /* xml, text, script, html */)
			// })
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>