<body class="m-page--fluid m-page--loading-enabled m-page--loading m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default"  >
    <!-- begin::페이지로더 -->
    <div class="m-page-loader m-page-loader--base">
        <div class="m-blockui">
            <span>
                잠시만 기다려주세요...
            </span>
            <span>
                <div class="m-loader m-loader--brand"></div>
            </span>
        </div>
    </div>
    <!-- end::페이지로더 -->        
    <!-- begin:: 페이지 -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
                <!-- begin::헤더 -->
        <header id="m_header" class="m-grid__item m-header "  m-minimize="minimize" m-minimize-mobile="minimize" m-minimize-offset="10" m-minimize-mobile-offset="10" >
            <div class="m-header__top">
                <div class="m-container m-container--fluid m-container--full-height m-page__container">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <!-- begin::로고 -->
                        <div class="m-stack__item m-brand m-stack__item--left">
                            <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                    <a href="/" class="m-brand__logo-wrapper">
                                        <img alt="" src="/assets/img/logo/logo.png" class="m-brand__logo-desktop"/>
                                        <img alt="" src="/assets/img/logo/logo_mini.png" class="m-brand__logo-mobile"/>
                                    </a>
                                </div>
                                <div class="m-stack__item m-stack__item--middle m-brand__tools">

                                    <!-- begin::반응형헤더메뉴 토글러-->
                                    <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                        <span></span>
                                    </a>
                                    <!-- end::반응형헤더메뉴 토글러-->
                                    <!-- begin::상단바 토글러-->
                                    <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                        <i class="flaticon-more"></i>
                                    </a>
                                    <!--end::상단바 토글러-->
                                </div>
                            </div>
                        </div>
                        <!-- end::로고 -->		
            <!-- begin::상단바 -->
                        <div class="m-stack__item m-stack__item--right m-header-head" id="m_header_nav">
                            <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                                <div class="m-stack__item m-topbar__nav-wrapper">
                                    <ul class="m-topbar__nav m-nav m-nav--inline">
                                        <!-- <li class="
m-nav__item m-nav__item--focus m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light" 
m-dropdown-toggle="click" m-dropdown-persistent="1" id="m_quicksearch" m-quicksearch-mode="dropdown">
                                            <a href="#" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                                                    <span class="m-nav__link-icon-wrapper">
                                                        <i class="flaticon-search-1"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                                                <div class="m-dropdown__inner ">
                                                    <div class="m-dropdown__header">
                                                        <form  class="m-list-search__form">
                                                            <div class="m-list-search__form-wrapper">
                                                                <span class="m-list-search__form-input-wrapper">
                                                                    <input id="m_quicksearch_input" autocomplete="off" type="text" name="q" class="m-list-search__form-input" value="" placeholder="검색...">
                                                                </span>
                                                                <span class="m-list-search__form-icon-close" id="m_quicksearch_close">
                                                                    <i class="la la-remove"></i>
                                                                </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-height="300" data-mobile-height="200">
                                                            <div class="m-dropdown__content"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li> -->
                                        <!-- <li class="m-nav__item m-nav__item--accent m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="1">
                                            <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                                                <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
                                                <span class="m-nav__link-icon">
                                                    <span class="m-nav__link-icon-wrapper">
                                                        <i class="flaticon-music-2"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__header m--align-center">
                                                        <span class="m-dropdown__header-title">
                                                            새로운 알림 0개가 있습니다.
                                                        </span>
                                                        <span class="m-dropdown__header-subtitle">
                                                            알림
                                                        </span>
                                                    </div>
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                                                                <li class="nav-item m-tabs__item">
                                                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
                                                                        판매
                                                                    </a>
                                                                </li>
                                                                <li class="nav-item m-tabs__item">
                                                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab">
                                                                        구매
                                                                    </a>
                                                                </li>
                                                                <li class="nav-item m-tabs__item">
                                                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab">
                                                                        경매
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                                                                    <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                                                                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                                                            <span class="">
                                                                                아직 등록된 내역이
                                                                                <br>
                                                                                존재하지 않습니다.
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                                                    <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                                                                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                                                            <span class="">
                                                                                아직 등록된 내역이
                                                                                <br>
                                                                                존재하지 않습니다.
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                                                    <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                                                                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                                                            <span class="">
                                                                                아직 등록된 내역이
                                                                                <br>
                                                                                존재하지 않습니다.
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li> -->
                                        <li class="m-nav__item m-nav__item--danger m-dropdown m-dropdown--skin-light m-dropdown--large m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"  m-dropdown-toggle="click">
                                            <a href="#" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
                                                <span class="m-nav__link-icon">
                                                    <span class="m-nav__link-icon-wrapper">
                                                        <i class="flaticon-share"></i>
                                                    </span>
                                                </span>
                                            </a>
                                            <div class="m-dropdown__wrapper"> <!-- 퀵메뉴 -->
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__header m--align-center">
                                                        <span class="m-dropdown__header-title">
                                                            퀵메뉴
                                                        </span>
                                                        <span class="m-dropdown__header-subtitle">
                                                            바로가기
                                                        </span>
                                                    </div>
                                                    <div class="m-dropdown__body m-dropdown__body--paddingless">
                                                        <div class="m-dropdown__content">
                                                            <div class="m-scrollable" data-scrollable="false" data-height="380" data-mobile-height="200">
                                                                <div class="m-nav-grid m-nav-grid--skin-light">
                                                                    <div class="m-nav-grid__row">
                                                                        <a href="#" class="m-nav-grid__item">
                                                                            <i class="m-nav-grid__icon flaticon-piggy-bank"></i>
                                                                            <span class="m-nav-grid__text">
                                                                                판매 목록
                                                                            </span>
                                                                        </a>
                                                                        <a href="#" class="m-nav-grid__item">
                                                                            <i class="m-nav-grid__icon flaticon-time"></i>
                                                                            <span class="m-nav-grid__text">
                                                                                경매 목록
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="m-nav-grid__row">
                                                                        <a href="#" class="m-nav-grid__item">
                                                                            <i class="m-nav-grid__icon flaticon-list-2"></i>
                                                                            <span class="m-nav-grid__text">
                                                                                구매 목록
                                                                            </span>
                                                                        </a>
                                                                        <a href="#" class="m-nav-grid__item">
                                                                            <i class="m-nav-grid__icon flaticon-network"></i>
                                                                            <span class="m-nav-grid__text">
                                                                                커뮤니티
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="m-nav__item m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                                            <a href="#" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-topbar__userpic">
                                                    <img src="/assets/img/users/images.png" class="m--img-rounded m--marginless m--img-centered" alt=""/>
                                                </span>
                                                <span class="m-nav__link-icon m-topbar__usericon  m--hide">
                                                    <span class="m-nav__link-icon-wrapper">
                                                        <i class="flaticon-user-ok"></i>
                                                    </span>
                                                </span>
                                                <span class="m-topbar__username m--hide">
                                                    회원
                                                </span>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__header m--align-center">
                                                        <div class="m-card-user m-card-user--skin-light">
                                                            <div class="m-card-user__pic">
                                                                <img src="/assets/img/users/images.png" class="m--img-rounded m--marginless" alt=""/>
                                                            </div>
                                                            <div class="m-card-user__details">
                                                                <span class="m-card-user__name m--font-weight-500">
                                                                    <%= user.name%>
                                                                </span>
                                                                <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                                    <%= user.email%>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="m-nav m-nav--skin-light">
                                                                <li class="m-nav__section m--hide">
                                                                    <span class="m-nav__section-text">
                                                                        Section
                                                                    </span>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="/profile" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-profile"></i>
                                                                        <span class="m-nav__link-title">
                                                                            <span class="m-nav__link-wrap">
                                                                                <span class="m-nav__link-text">
                                                                                    회원정보
                                                                                </span>
                                            
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item">
                                                                    <a href="/my_point" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-business"></i>
                                                                        <span class="m-nav__link-text">
                                                                            포인트 관리
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <!-- <li class="m-nav__item">
                                                                    <a href="/my_buysell" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-business"></i>
                                                                        <span class="m-nav__link-text">
                                                                            구매/판매 관리
                                                                        </span>
                                                                    </a>
                                                                </li> -->

                                                                <li class="m-nav__item">
                                                                    <a href="/my_sell" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-business"></i>
                                                                        <span class="m-nav__link-text">
                                                                            판매/구매 등록 현황
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item">
                                                                    <a href="/my_buy" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-business"></i>
                                                                        <span class="m-nav__link-text">
                                                                            판매/구매 신청 현황
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <!-- <li class="m-nav__item">
                                                                    <a href="/my_buysell2" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-business"></i>
                                                                        <span class="m-nav__link-text">
                                                                            구매 관리
                                                                        </span>
                                                                    </a>
                                                                </li> -->

                                                                <li class="m-nav__item">
                                                                    <a href="/my_account" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-business"></i>
                                                                        <span class="m-nav__link-text">
                                                                            계좌 관리
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__item">
                                                                    <a href="/my_wallet" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-business"></i>
                                                                        <span class="m-nav__link-text">
                                                                            지갑 관리
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                                                <li class="m-nav__item">
                                                                    <a href="/logout" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                                                        로그아웃
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end::상단바 -->
                    </div>
                </div>
            </div>
            <div class="m-header__bottom">
                <div class="m-container m-container--fluid m-container--full-height m-page__container">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <!-- begin::수평메뉴 -->
                        <div class="m-stack__item m-stack__item--fluid m-header-menu-wrapper">
                            <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                                <i class="la la-close"></i>
                            </button>
                            <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light "  >
                                <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                    <!-- <li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs"  m-menu-submenu-toggle="tab" aria-haspopup="true" id="aTopMenu1">
                                        <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__link-text">
                                                홈
                                            </span>
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/home" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-dashboard"></i>
                                                        <span class="m-menu__link-text">
                                                            대시보드
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li> -->
                                    <li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs"  m-menu-submenu-toggle="tab" aria-haspopup="true" id="aTopMenu1">
                                        <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__link-text">
                                                판매
                                            </span>
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/sell_list" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-piggy-bank"></i>
                                                        <span class="m-menu__link-text">
                                                            판매 목록
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/sell_request" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-tool"></i>
                                                        <span class="m-menu__link-text">
                                                            판매 등록
                                                        </span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs"  m-menu-submenu-toggle="tab" aria-haspopup="true" id="aTopMenu2">
                                        <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__link-text">
                                                구매
                                            </span>
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <i class="m-menu__link-icon flaticon-time"></i>
                                                    <span class="m-menu__link-text">
                                                        현재 베타테스트 중입니다.
                                                    </span>
                                                </li>
                                            </ul> 
                                            <!-- <ul class="m-menu__subnav">
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/buy_list" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-list-2"></i>
                                                        <span class="m-menu__link-text">
                                                            구매 목록
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/buy_request" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-tool"></i>
                                                        <span class="m-menu__link-text">
                                                            구매 등록
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul> -->
                                        </div>
                                    </li>
                                    <li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs"  m-menu-submenu-toggle="tab" aria-haspopup="true" id="aTopMenu3">
                                        <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__link-text">
                                                경매
                                            </span>
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <i class="m-menu__link-icon flaticon-time"></i>
                                                    <span class="m-menu__link-text">
                                                        현재 베타테스트 중입니다.
                                                    </span>
                                                </li>
                                            </ul> 
                                            <!--
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/auction_list" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-time"></i>
                                                        <span class="m-menu__link-text">
                                                            경매 목록
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item "  aria-haspopup="true">
                                                    <a  href="/auction_request" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-tool"></i>
                                                        <span class="m-menu__link-text">
                                                            경매 등록
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul> -->
                                        </div>
                                    </li>
                    
                                    <li class="m-menu__item  m-menu__item--submenu m-menu__item--tabs"  m-menu-submenu-toggle="tab" aria-haspopup="true"  id="aTopMenu4">
                                        <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__link-text">
                                                코인정보
                                            </span>
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <i class="m-menu__link-icon flaticon-coins"></i>
                                                    <span class="m-menu__link-text">
                                                        현재 베타테스트 중입니다.
                                                    </span>
                                                </li>
                                            </ul> 
                                        </div>
                                    </li>																				

                                    <li class="m-menu__item m-menu__item--submenu m-menu__item--tabs"  m-menu-submenu-toggle="tab" aria-haspopup="true"  id="aTopMenu5">
                                        <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                                            <span class="m-menu__link-text">
                                                고객센터
                                            </span>
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/notice" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-notes"></i>
                                                        <span class="m-menu__link-text">
                                                            공지사항
                                                        </span>
                                                    </a>
                                                </li><!--
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/guide" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-information"></i>
                                                        <span class="m-menu__link-text">
                                                            이용안내
                                                        </span>
                                                    </a>
                                                </li> 
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/question" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-paper-plane"></i>
                                                        <span class="m-menu__link-text">
                                                            1:1 문의
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/proposal" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-users"></i>
                                                        <span class="m-menu__link-text">
                                                            제휴 및 제안 
                                                        </span>
                                                    </a>
                                                </li> -->
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <a  href="/faq" class="m-menu__link ">
                                                        <i class="m-menu__link-icon flaticon-support"></i>
                                                        <span class="m-menu__link-text">
                                                            자주하는질문
                                                        </span>
                                                    </a>
                                                </li> 
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- end::수평메뉴 -->
                    </div>
                </div>
            </div>
        </header>
        <!-- end::헤더 -->	