<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    회사 소개 
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <p>회사명: (주)엠앤유<br>대표자명: 차순학<br>주소: 서울특별시 구로구 디지털로 30길 31, 1005호(구로동)<br>사업자등록번호: 887-86-007793<br>통신판매업자번호: 제2018-서울구로-0127호</p><p>
                        사용문의 cs-help@coin25.co<br>
                        입출금/정산문의 cs-teller@coin25.co<br>
                        제휴 및 광고문의 cs-marketing@coin25.co<br>
                        지사/지점 및 기타문의 cs-etc@coin25.co</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    닫기
                </button>

            </div>
        </div>
    </div>
</div>