<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!--end::Modal-->
			
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									나의 구매
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												홈
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												마이페이지
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
					<!-- BEGIN: 컨텐츠 -->
					<div class="m-content">
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-3 col-lg-4">
								<div class="m-portlet m-portlet--full-height  ">
									<div class="m-portlet__body">
										<div class="m-card-profile">
											<div class="m-card-profile__title m--hide">
												나의 프로필
											</div>
											<div class="m-card-profile__pic">
												<div class="m-card-profile__pic-wrapper">
													<img src="/assets/img/users/images.png" alt=""/>
												</div>
											</div>
											<div class="m-card-profile__details">
												<span class="m-card-profile__name">
													<%= user.name%>
												</span>
												<a href="" class="m-card-profile__email m-link">
													<%= user.email%>
												</a>
											</div>
										</div>
										<div class="m-portlet__body-separator"></div>
										<div class="m-widget1 m-widget1--paddingless">
											<div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<h3 class="m-widget1__title">
															판매 건 수
														</h3>
														<span class="m-widget1__desc">
															코인 판매
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-brand">
															<p id="totalPoint">0 건</p>	
														</span>
													</div>
												</div>
											</div>
											<div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<h3 class="m-widget1__title">
															구매 건 수
														</h3>
														<span class="m-widget1__desc">
															코인 구매
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-warning">
															0 건
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-lg-8">
								<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-tools">
											<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
												<!-- <li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
														<i class="flaticon-share m--hide"></i>
														나의 구매
													</a>
												</li> -->
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
														<i class="flaticon-share m--hide"></i>
														입금 확인
													</a>
												</li>
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
														<i class="flaticon-share m--hide"></i>
														코인 확인
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="tab-content">
										<!-- <div class="tab-pane active" id="m_user_profile_tab_1">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													begin: Datatable
													<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1" style="padding:20px">
														<thead>
															<tr>
																<th>코 인</th>
																<th>기준가격</th>
																<th>수 량</th>
																<th>최소거래수량(가격)</th>
																<th>구매자</th>
																<th>상 태</th>
																<th>구매 상태</th>
															</tr>
														</thead>
														<tbody id="tbodyMySellList">
																													
														</tbody>
													</table>													
												</div>
											</form>
										</div> -->
										<div class="tab-pane active" id="m_user_profile_tab_1">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<!--begin: Datatable -->
													<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_2" style="padding:20px">
														<thead>
															<tr>
																<th>코 인</th>
																<th>거래 가격</th>
																<th>입금일</th>
																<th>닉네임</th>
																<th>거래 상태</th>
															</tr>
														</thead>
														<tbody id="tbodyMySellDeposit">
																											
														</tbody>
													</table>													
												</div>
											</form>
										</div>		
										<div class="tab-pane " id="m_user_profile_tab_2">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<!--begin: Datatable -->
													<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_3" style="padding:20px">
														<thead>
															<tr>
																<th>코 인</th>
																<th>거래 가격</th>
																<th>입금일</th>
																<th>닉네임</th>
																<th>거래 상태</th>
															</tr>
														</thead>
														<tbody id="tbodyMyBuyCoin">
																											
														</tbody>
													</table>													
												</div>
											</form>
										</div>								
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->
		<!--begin::Modal-->
		<div class="modal fade" id="mdSearchWallet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							지갑 찾기
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group m-form__group">
							<label for="exampleSelect1">
								구매한 코인을 전송 받을 지갑을 선택해 주세요.
							</label>
							<select class="form-control m-input" id="selSearchWallet">
								
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="btnSelectedCoin">
							등 록
						</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							취 소
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end::Modal-->

		<input type="hidden" id="hdContact" value=<%= user.contact%>>
		<input type="hidden" id="hdIdx" value=<%= user.id%>>
	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="/assets/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!-- begin::Page Loader -->

		<script>
			console.log($("#hdIdx").val());
			// 상단 메뉴 초기화
			$("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");            
			$( document ).ready(function() {
				$.post( "/getmypoint", 
				{
					email : $("#hdSid").val()
				},
				function(data){
					if(data[0].nRemainPoint)
					{
						$("#totalPoint").text(numberWithCommas(data[0].nRemainPoint + " P"));
						//$("#freePoint").text(numberWithCommas(data[0].nRemainPoint + " P"));
					}
				});

				// 나의 구매내역
				// $.get("/mybuy/" + $("#hdIdx").val(), function(data) {
				// 	var data = data.data;
				// 	for(var i=0; i<data.length; i++)
				// 	{
				// 		console.log(data[0]);
				// 		// if(data[i].idx != "")
				// 		if(data[i].idx)
				// 		{
				// 			var str = "";
				// 			str += "<tr>";
				// 			str += "	<td scope='row'>";
				// 			str += "		";
				// 			str += "	</td>";
				// 			str += "	<td>";
				// 			str += "		"; 
				// 			str += "	</td>";
				// 			str += "	<td>";
				// 			str += "		" + data[i].trade_price; 
				// 			str += "	</td>";
				// 			str += "	<td>";
				// 			str += "		" + data[i].trade_date; 
				// 			str += "	</td>";
				// 			str += "	<td>";
				// 			str += "		"; 
				// 			str += "	</td>";
				// 			str += "	<td>";
				// 			str += "		" + data[i].trade_state; 
				// 			str += "	</td>";
				// 			// str += "	<td>";
				// 			// 	if(data[i].trade_state == "구매신청")
				// 			// 	{
				// 			// 		str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="dealok('+data[i].idx+')">수 락</button>'; 
				// 			// 		str += "		" + '<button type="button" class="btn btn-outline-danger m-btn m-btn--outline-2x">거 절</button>'; 
				// 			// 	}
				// 			// 	else if(data[i].trade_state == "거래승인")	
				// 			// 	{str += "		" +  '입금 요청';}
				// 			// 	// {str += "		" +  '<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="depositOk('+data[i].idx+')">입금 확인</button>';}
				// 			// str += "	</td>";
				// 			str += "</tr>";
				// 			$("#tbodyMySellList").append(str);
				// 		} else {
				// 			var str = "";
				// 			str += "<tr>";
				// 			str += "	<td scope='row'>";
				// 			str += "	</td>";
				// 			str += "	<td rowspan='3'>";
				// 			str += "	현재 등록된 판매 내역이 없습니다."; 
				// 			str += "	</td>";
				// 			str += "</tr>";
				// 			$("#tbodyMySellList").append(str);	
				// 		}
				// 	}
				// });

				// 나의 구매내역
				$.get("/mybuy/" + $("#hdIdx").val(), function(data) {
					var data = data.data;
					for(var i=0; i<data.length; i++)
					{
						console.log(data[0]);
						// if(data[i].idx != "")
						if(data[i].idx)
						{
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "		";
							str += "	</td>";
							str += "	<td>";
							str += "		"; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].trade_price; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].trade_date; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].trade_state; 
							str += "	</td>";
							// str += "	<td>";
							// 	if(data[i].trade_state == "구매신청")
							// 	{
							// 		str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="dealok('+data[i].idx+')">수 락</button>'; 
							// 		str += "		" + '<button type="button" class="btn btn-outline-danger m-btn m-btn--outline-2x">거 절</button>'; 
							// 	}
							// 	else if(data[i].trade_state == "거래승인")	
							// 	{str += "		" +  '입금 요청';}
							// 	// {str += "		" +  '<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="depositOk('+data[i].idx+')">입금 확인</button>';}
							// str += "	</td>";
							str += "</tr>";
							$("#tbodyMySellDeposit").append(str);
						} else {
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "	</td>";
							str += "	<td rowspan='3'>";
							str += "	현재 등록된 판매 내역이 없습니다."; 
							str += "	</td>";
							str += "</tr>";
							$("#tbodyMySellDeposit").append(str);	
						}
					}
				});
				// 나의 구매내역
				$.get("/mybuy/" + $("#hdIdx").val(), function(data) {
					var data = data.data;
					for(var i=0; i<data.length; i++)
					{
						console.log(data[0]);
						// if(data[i].idx != "")
						if(data[i].idx)
						{
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "		";
							str += "	</td>";
							str += "	<td>";
							str += "		"; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].trade_price; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].trade_date; 
							str += "	</td>";
							str += "	<td>";
							str += "		" + data[i].trade_state; 
							str += "	</td>";
							// str += "	<td>";
							// 	if(data[i].trade_state == "구매신청")
							// 	{
							// 		str += "		" + '<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x" onclick="dealok('+data[i].idx+')">수 락</button>'; 
							// 		str += "		" + '<button type="button" class="btn btn-outline-danger m-btn m-btn--outline-2x">거 절</button>'; 
							// 	}
							// 	else if(data[i].trade_state == "거래승인")	
							// 	{str += "		" +  '입금 요청';}
							// 	// {str += "		" +  '<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="depositOk('+data[i].idx+')">입금 확인</button>';}
							// str += "	</td>";
							str += "</tr>";
							$("#tbodyMyBuyCoin").append(str);
						} else {
							var str = "";
							str += "<tr>";
							str += "	<td scope='row'>";
							str += "	</td>";
							str += "	<td rowspan='3'>";
							str += "	현재 등록된 판매 내역이 없습니다."; 
							str += "	</td>";
							str += "</tr>";
							$("#tbodyMyBuyCoin").append(str);	
						}
					}
				});
			});

			

			function numberWithCommas(x) {
				return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}
            $(window).on('load', function() {
                $('body').removeClass('m-page--loading');         
            });

			$("#btnPassword").on("click", function(){
				$("#mdPassword").modal("show");
			})

			$("#btnPasswordOK").on("click", function(){
				if (confirm("비밀번호를 변경하시겠습니까?")) {
					$("#mdPassword").modal("hide");	
				}
			})

			$("#m_quicksearch_input").keydown(function(key) {
				if (key.keyCode == 13) {
					location.href ="search.html";					
				}
			});

            // $(".btn-brand").on("click", function(){
			// 	if (confirm("게시글을 등록하시겠습니까?")) {
			// 		alert("글이 등록되었습니다.");
			// 		location.href = "/coin_community";	
			// 	}
			// })
			
			// $(".btn-secondary").on("click", function(){
			// 	if (confirm("등록을 취소 하시겠습니까?")) {
			// 		location.href = "/coin_community";	
			// 	}
			// })
			
			function dealok(index){
				if (!confirm("거래를 수락하시겠습니까?")) {
					return false;
				}
				else {
					if(!confirm("등록되어있는 계좌로 입금 받으시겠습니까?")){
						return false;
					} else {
						$.ajax({
							url: '/mybuysell/' + index, // 요청 할 주소
							async: true, // false 일 경우 동기 요청으로 변경
							type: 'PUT', // GET, PUT
							data: {
								idx: index,
								trade_state: "거래승인"
							}, // 전송할 데이터
							dataType: 'text', // xml, json, script, html
							beforeSend: function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
							success: function(jqXHR) {}, // 요청 완료 시
							error: function(jqXHR) {}, // 요청 실패.
							complete: function(jqXHR) {} // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
						});
					}
				}
				location.reload();
			}

			function depositOk(index){
				if(!confirm("입금을 하셨습니까?")){
					return false;
				} else {
					$("#mdSearchWallet").modal("show");
				}
			}
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
