<% include header.ejs %>
	<!-- end::Head -->
    <!-- end::Body -->
	<!-- begin::Body -->
	<% include topmenu.ejs %>
			<!-- end::헤더 -->	
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: 서브헤더 -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
									나의 구매 
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												홈
											</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												마이페이지
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div><!--
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>-->
							</div>
						</div>
					</div>
					<!-- END: 서브헤더 -->
					<!-- BEGIN: 컨텐츠 -->
					<div class="m-content">
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-3 col-lg-4">
								<div class="m-portlet m-portlet--full-height  ">
									<div class="m-portlet__body">
										<div class="m-card-profile">
											<div class="m-card-profile__title m--hide">
												나의 프로필
											</div>
											<div class="m-card-profile__pic">
												<div class="m-card-profile__pic-wrapper">
													<img src="/assets/img/users/images.png" alt=""/>
												</div>
											</div>
											<div class="m-card-profile__details">
												<span class="m-card-profile__name">
													홍 길 동
												</span>
												<a href="" class="m-card-profile__email m-link">
													gildong.hong@gmail.com
												</a>
											</div>
										</div>
										<div class="m-portlet__body-separator"></div>
										<div class="m-widget1 m-widget1--paddingless">
											<div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<h3 class="m-widget1__title">
															진행 중인 거래
														</h3>
														<span class="m-widget1__desc">
															금일 기준
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-brand">
															2 건
														</span>
													</div>
												</div>
											</div>
											<div class="m-widget1__item">
												<div class="row m-row--no-padding align-items-center">
													<div class="col">
														<h3 class="m-widget1__title">
															완료 된 거래
														</h3>
														<span class="m-widget1__desc">
															주간 기준
														</span>
													</div>
													<div class="col m--align-right">
														<span class="m-widget1__number m--font-warning">
															4 건
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-lg-8">
								<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-tools">
											<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
														<i class="flaticon-share m--hide"></i>
														거래 중
													</a>
												</li>
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
														주간 거래기록
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane active" id="m_user_profile_tab_1">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<!--begin: Datatable -->
													<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1" style="padding:20px">
														<thead>
															<tr>
																<th>코 인</th>
																<th>기준가격</th>
																<th>수 량</th>
																<th>최소거래수량(가격)</th>
																<th>구매자</th>
																<th>거래종료시간</th>
																<th>확 인</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>BTC</td>
																<td>10,000,000원/BTC</td>
																<td>100 BTC</td>
																<td>0.1BTC(1,000,000원)</td>
																<td>홍길동</td>
																<td>2018-06-22 14:52</td>
																<td>
																	<button type="button" class="btn btn-outline-success m-btn m-btn--outline-2x ">수 락</button>
																	<button type="button" class="btn btn-outline-danger m-btn m-btn--outline-2x ">거 절</button>
																</td>
															</tr>
															<tr>
																<td>리플</td>
																<td>10,000원/XRP</td>
																<td>500 XRP</td>
																<td>0.1XRP(10,000원)</td>
																<td>영희</td>
																<td>2018-06-22 14:52</td>
																<td>
																	<button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x ">입금 확인</button>
																</td>
															</tr>	
															<tr>
																<td>리플</td>
																<td>10,000원/XRP</td>
																<td>500 XRP</td>
																<td>0.1XRP(10,000원)</td>
																<td>영희</td>
																<td>2018-06-22 14:52</td>
																<td>
																	<button type="button" class="btn btn-outline-warning m-btn m-btn--outline-2x ">코인 수령 확인</button>
																</td>
															</tr>															
														</tbody>
													</table>													
												</div>
											</form>
										</div>
										<div class="tab-pane " id="m_user_profile_tab_2">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<!--begin: Datatable -->
													<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1" style="padding:20px">
														<thead>
															<tr>
																<th>코 인</th>
																<th>기준가격</th>
																<th>수 량</th>
																<th>최소거래수량(가격)</th>
																<th>구매자</th>

																<th>거래종료시간</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>BTC</td>
																<td>10,000,000원/BTC</td>
																<td>100 BTC</td>
																<td>0.1BTC(1,000,000원)</td>
																<td>홍길동</td>
																<td>2018-06-22 14:52</td>
															</tr>
															<tr>
																<td>리플</td>
																<td>10,000원/XRP</td>
																<td>500 XRP</td>
																<td>0.1XRP(10,000원)</td>
																<td>영희</td>
																<td>2018-06-22 14:52</td>
															</tr>	
															<tr>
																<td>BTC</td>
																<td>10,000,000원/BTC</td>
																<td>100 BTC</td>
																<td>0.1BTC(1,000,000원)</td>
																<td>홍길동</td>
																<td>2018-06-22 14:52</td>
															</tr>
															<tr>
																<td>리플</td>
																<td>10,000원/XRP</td>
																<td>500 XRP</td>
																<td>0.1XRP(10,000원)</td>
																<td>영희</td>
																<td>2018-06-22 14:52</td>
															</tr>	
															<tr>
																<td>BTC</td>
																<td>10,000,000원/BTC</td>
																<td>100 BTC</td>
																<td>0.1BTC(1,000,000원)</td>
																<td>홍길동</td>
																<td>2018-06-22 14:52</td>
															</tr>
															<tr>
																<td>리플</td>
																<td>10,000원/XRP</td>
																<td>500 XRP</td>
																<td>0.1XRP(10,000원)</td>
																<td>영희</td>
																<td>2018-06-22 14:52</td>
															</tr>													
														</tbody>
													</table>													
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END: 컨텐츠 -->
				</div>
			</div>
			<!-- end::Body -->
			<!-- begin::Footer -->
			<% include footer.ejs %>
			<!-- end::Footer -->
		</div>
		<!-- end:: Page -->
		<!--begin::Modal-->
		<% include companyInfo.ejs %>
		<!--end::Modal-->


	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->			
		<!--begin::Base Scripts -->
		<script src="/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="/assets/base/scripts.bundle.js" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Vendors -->
		<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
		<!--end::Page Vendors -->  
        <!--begin::Page Snippets -->
		<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
        <!--end::Page Snippets -->   
        <!--begin::Page Resources -->
        <script src="/assets/app/datatable/html-table.js" type="text/javascript"></script>
		<!--end::Page Resources -->
		<!--begin::Page Resources -->
		<script src="/assets/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
		<!--end::Page Resources -->
        <!-- begin::Page Loader -->
		<script>
            $(window).on('load', function() {
				$('body').removeClass('m-page--loading');  
				$("#aTopMenu5").addClass("  m-menu__item--active  m-menu__item--active-tab");                   
            });

            // $(".btn-brand").on("click", function(){
			// 	if (confirm("게시글을 등록하시겠습니까?")) {
			// 		alert("글이 등록되었습니다.");
			// 		location.href = "coin_community.html";	
			// 	}
			// })
			
			// $(".btn-secondary").on("click", function(){
			// 	if (confirm("등록을 취소 하시겠습니까?")) {
			// 		location.href = "coin_community.html";	
			// 	}
            // })
        </script>
		<!-- end::Page Loader -->
	</body>
	<!-- end::Body -->
</html>
