@charset "UTF-8";

banner { 
    max-width: 100%; 
    height: 
    auto; 
}

table, th{
    border-color: #f55e30;
}

table, td{
    border: 1px solid
}
    
table{
    width:60%;
    height: 100px;
    margin: auto;
    
    text-align: center;
}